<template>
  <div class="card">
    <header class="card-header">
      <h3 class=" card-header-title subtitle">{{ security.name }}</h3>
    </header>
    <div class="card-content">
      <NumberInput
        style="max-width: 10em"
        :label="`Current value (${currentBalance.date})`"
        v-model="currentBalance.amount"
        buttonText="Update"
        @button-click="newBalance"
        step="0.01"
      />
      <b>Rendement:</b> {{ security.stats.return }}%

    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <button
          @click="getStats"
          class="button"
          :class="{ 'is-loading': loadingStats }"
        >Stats</button>
      </p>
      <p class="card-footer-item">
        <button
          @click="getTransactions"
          class="button"
          :class="{ 'is-loading': loadingTransactions }"
        >Transactions</button>
      </p>
      <p class="card-footer-item">
        <button
          @click="$emit('start-edit', security)"
          class="button"
        >Edit</button>
      </p>
    </footer>

    <Modal
      :active="showStats"
      @close="showStats = false"
    >
      <div
        v-if="stats"
        class="box"
      >
        <h3 class="subtitle">Stats {{ security.name }}</h3>
        <table class="table">
          <tbody>
            <tr v-for="transactionType in stats.sums">
              <th>{{ transactionType.transaction_type }}</th>
              <td>{{ $filters.currency(transactionType.total) }}</td>
            </tr>
            <tr>
              <th>Tax</th>
              <td>{{ $filters.currency(stats.tax) }}</td>
            </tr>
            <tr>
              <th>Service Costs</th>
              <td>{{ $filters.currency(stats.service_costs) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </Modal>
    <Modal
      :active="showTransactions"
      @close="showTransactions = false"
    >
      <div class="box">
        <h3 class="subtitle">Transactions {{ security.name }}</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Tax</th>
              <th>Service cost</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="transaction in transactions">
              <td>{{ $filters.date(transaction.date) }}</td>
              <td>{{ transaction.transaction_type }}</td>
              <td>{{ $filters.currency(transaction.amount) }}</td>
              <td>{{ $filters.currency(transaction.tax) }}</td>
              <td>{{ $filters.currency(transaction.service_cost) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </Modal>
  </div>
</template>

<script>
import { NumberInput, Modal } from '@/shared-vue'
export default {
  components: {
    NumberInput,
    Modal
  },
  props: {
    security: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      stats: null,
      transactions: [],
      currentBalance: null,
      showTransactions: false,
      showStats: false,
      loadingTransactions: false,
      loadingStats: false,
    }
  },
  created() {
    this.currentBalance = {
      amount: this.security.stats.current_balance,
      date: this.security.stats.current_balance_date
    }
  },
  watch: {
    security() {
      this.currentBalance = {
        amount: this.security.stats.current_balance,
        date: this.security.stats.current_balance_date
      }
    }
  },
  methods: {
    getStats() {
      if (this.loadingStats) {
        return
      }
      this.loadingStats = true
      this.$api.get(`finances/api/investments/securities/${this.security.id}/stats/`, response => {
        this.stats = response
        this.loadingStats = false
        this.showStats = true
      })
    },
    getTransactions() {
      if (this.loadingTransactions) {
        return
      }
      this.loadingTransactions = true
      this.$api.get(`finances/api/investments/transactions/?security=${this.security.id}`, response => {
        this.transactions = response
        this.transactions.sort((a, b) => {
          if (a.date < b.date) {
            return 1
          }
          if (a.date > b.date) {
            return -1
          }
          return 0
        })
        this.showTransactions = true
        this.loadingTransactions = false
      })
    },
    newBalance() {
      this.$api.post(`finances/api/investments/balances/`, {
        amount: this.currentBalance.amount,
        date: new Date().toISOString().substring(0, 10),
        security: this.security.id,
      }, response => {
        this.currentBalance = response
        this.$emit('current-balance-updated')
      })
    }
  }
}
</script>