<template>
  <button
    class="button is-small"
    @click="formActive = true"
  >Upload file</button>
  <Modal
    :active="formActive"
    @close="formActive = false"
  >
    <form
      class="box"
      @submit.prevent="upload"
    >
      <h3 class="subtitle">Upload investment file for {{ account.name }}</h3>
      <FileInput
        required="required"
        label="File"
        v-model="uploadForm.csvFile"
      />
      <button
        type="submit"
        class="button"
      >Process</button>
      <p
        v-if="uploadError"
        class="notification is-danger mt-3"
        style="white-space: pre-wrap;"
      >{{ uploadError }}</p>
    </form>
  </Modal>
</template>

<script>
import { Modal, FileInput } from '@/shared-vue'
export default {
  emits: ['upload-complete'],
  components: {
    Modal,
    FileInput
  },
  props: ['account'],
  data() {
    return {
      formActive: false,
      uploadForm: {
        csvFile: null,
      },
      uploadError: null,
    }
  },
  methods: {
    upload() {
      this.uploadError = null
      this.$api.postFiles(
        "finances/api/investments/upload-file/",
        { files: this.uploadForm.csvFile, account: this.account.id },
        _ => {
          this.uploadForm.csvFile = null
          this.formActive = false
          this.$emit('upload-complete')
          this.$notify({
            text: "File processed",
            style: "success"
          })
        },
        true,
        errResponse => {
          if (errResponse.status === 400) {
            errResponse.json().then(err => {
              if (err.error_type === 'unknown_security') {
                this.uploadError = `Onbekende aandelen:\n - ${err.unknowns.join('\n - ')}`
              }
            })
          } else {
            errResponse.text().then(err => {
              this.uploadError = err
            })
          }
        }
      )
    }
  }
}
</script>