<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0"
  >
  <meta
    name="description"
    content="Bob's website of useful apps"
  >
  <meta
    name="theme-color"
    content="#460076"
  >
  <link
    rel="icon"
    href="/static/img/favicon/favicon.ico"
  >
  <link
    rel="apple-touch-icon"
    href="/static/img/favicon/apple-touch-icon.png"
  >
  <link
    rel="mask-icon"
    href="/static/img/favicon/safari-pinned-tab.svg"
    color="#460076"
  >
  <script
    src="https://accounts.google.com/gsi/client"
    async
    defer
  ></script>
  <script
    type="module"
    src="/src/main.js"
  ></script>
  <meta
    name="google-signin-client_id"
    content="{{ google_client_id }}"
  >
  <title>Project Sunset</title>
</head>

<body>
  <noscript>
    <h1>Project Sunset</h1>
    <strong>We're sorry but Project Sunset doesn't work without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>