<template>
  <div class="base">
    <nav-bar>
      <template v-slot:brand>
        <router-link
          to="/groceries/"
          class="navbar-item title"
        >Groceries</router-link>
      </template>
      <template v-slot:start>
        <router-link
          :to="{ name: 'groceries:recipes' }"
          class="navbar-item"
        >Recipes</router-link>
        <router-link
          :to="{ name: 'groceries:grocery_list' }"
          class="navbar-item"
        >Grocery List</router-link>
        <router-link
          :to="{ name: 'groceries:item_manager' }"
          class="navbar-item"
        >Items</router-link>
      </template>
      <template v-slot:end>
        <div class="navbar-item">
          <router-link
            :to="{ name: 'ps:home' }"
            class="button is-light"
          >Project Sunset</router-link>
        </div>
      </template>
    </nav-bar>
    <LoginPopup v-if="!authenticated">
      <p>
        You can put your recipes in this app and it will then generate grocery lists for you. So you don't have to
        choose what to eat. It is only available after logging in. You can read more about it on my <router-link
          :to="{ name: 'ps:blog:article', params: { slug: 'groceries' } }"
        >blog</router-link>.
      </p>
    </LoginPopup>
    <router-view
      v-if="authenticated"
      class="section"
    ></router-view>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Made by Bob Luursema</p>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapState } from "vuex"
import { NavBar, LoginPopup } from "@/shared-vue"

export default {
  components: {
    LoginPopup,
    NavBar
  },
  computed: mapState({
    authenticated: state => state.auth.authenticated,
    user: state => state.auth.user
  })
}
</script>

<style lang="scss" scoped>
.section {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.navbar,
.footer,
.navbar-menu {
  background-color: lightgreen;
}

.navbar-brand a.navbar-item:hover {
  background-color: transparent;
  color: green;
}

a.navbar-item:hover {
  background-color: green;
  color: white;
}
</style>

