<template>
  <div>
    <h2>Items</h2>
    <hr />
    <form @submit.prevent>
      <div class="field">
        <div class="control">
          <input
            id="item-name"
            v-model="form.item.name"
            @focusout="checkUnit"
            type="text"
            class="input"
          />
        </div>
      </div>
      <div style="display: flex; gap: 1em; justify-content: space-between">
      <div class="field" style="width: 6em">
        <div class="control">
          <input
            id="item-amount"
            v-model="form.amount"
            type="number"
            class="input"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            id="item-unit"
            v-model="form.item.unit.name"
            :readonly="unitFound"
            :placeholder="inputUnitText"
            type="text"
            list="units"
            class="input"
          />
          <datalist id="units">
            <option
              v-for="unit in units"
              :key="unit.id"
            >{{ unit.name }}</option>
          </datalist>
        </div>
      </div>
      <button
        id="add-item"
        class="button"
        :class="{ 'is-loading': loading }"
        @click="addItem"
      >Add</button>
    </div>
    </form>
    <hr />
    <table
      id="selected-items"
      class="table"
      aria-label="Items"
    >
      <tbody>
        <tr
          v-for="item in items"
          :key="item.id"
        >
          <td>{{ item.item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.item.unit.name }}</td>
          <td>
            <button @click="removeItem(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex"

export default {
  props: ['items'],
  created() {
    this.$store.dispatch('groceries/units/get')
  },
  computed: {
    ...mapState({
      units: state => state.groceries.units.data
    })
  },
  data() {
    return {
      form: {
        item: {
          name: '',
          unit: {
            name: ''
          }
        },
        amount: 1
      },
      unitFound: true,
      inputUnitText: 'filled automatically',
      readonly: false,
      loading: false
    }
  },
  methods: {
    addItem() {
      this.loading = true
      this.$api.post('groceries/api/grocery-list-items/', this.form, response => {
        this.$emit('update')
        this.form = { item: { name: '', unit: { name: '' } }, amount: 1 }
        this.loading = false
      })
    },
    checkUnit() {
      if (this.form.name === '') {
        return
      }
      this.form.item.unit.name = ''
      this.$api.get(`groceries/api/units/?itemname=${this.form.item.name}`, response => {
        if (response.count === 1) {
          this.form.item.unit = response.results[0]
          this.unitFound = true
        } else {
          this.unitFound = false
          this.inputUnitText = 'No unit found'
        }
      })
    },
    removeItem(id) {
      this.$api.delete(`groceries/api/grocery-list-items/${id}/`, response => {
        this.$emit('update')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
hr {
  background-color: green;
}

form {

  & button {
    background-color: green;
    color: white;
    border-radius: 0.3rem;
    padding: 0.6rem;
    border: none;

    &:hover {
      color: lightgreen;
      cursor: pointer;
    }
  }
}
</style>
