<template>
  <div>
    <h2>Recipes</h2>
    <hr />
    <form @submit.prevent>
      <div class="field">
        <div class="control">
          <input
            id="add-recipe-input"
            v-model="form.recipe_name"
            type="text"
            list="recipes"
            class="input"
            @change="recipeChanged"
          />
          <datalist id="recipes">
            <option
              v-for="recipe in all_recipes"
              :key="recipe.id"
            >{{ recipe.name }}</option>
          </datalist>
        </div>
      </div>
      <div style="display: flex; gap: 1em; justify-content: space-between">
      <div
        class="field"
        style="width: 4em"
      >
        <div class="control">
          <input
            id="add-recipe-servings"
            v-model="form.people"
            type="number"
            step="1"
            class="input"
          />
        </div>
      </div>
      <button
        id="add-recipe"
        @click="addRecipe"
        class="button"
        :class="{ 'is-loading': loading }"
      >Add</button>
    </div>
    </form>
    <hr />
    <table
      id="selected-recipes"
      class="table"
      aria-label="Recipes"
    >
      <tbody>
        <tr
          v-for="recipe in recipes"
          :key="recipe.id"
        >
          <td>{{ recipe.recipe.name }} for {{ recipe.people }}</td>
          <td>
            <button @click="removeRecipe(recipe.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: ['recipes'],
  data() {
    return {
      form: {
        recipe_name: '',
        people: 2
      },
      all_recipes: [],
      loading: false
    }
  },
  created() {
    this.$api.get('groceries/api/recipes/', response => {
      this.all_recipes = response.results
    })
  },
  methods: {
    recipeChanged() {
      this.form.people = this.all_recipes.filter(obj => obj.name === this.form.recipe_name)[0].default_servings
    },
    addRecipe() {
      this.loading = true
      this.$api.post('groceries/api/grocery-list-recipes/', this.form, response => {
        this.$emit('update')
        this.form = { recipe_name: '', people: 2 }
        this.loading = false
      })
    },
    removeRecipe(id) {
      this.$api.delete(`groceries/api/grocery-list-recipes/${id}/`, response => {
        this.$emit('update')
      })
    }
  }
}
</script>

<style lang="scss" scoped>
hr {
  background-color: green;
}

form {

  & button {
    background-color: green;
    color: white;
    border-radius: 0.3rem;
    padding: 0.6rem;
    border: none;

    &:hover {
      color: lightgreen;
      cursor: pointer;
    }
  }
}
</style>
