<template>
  <div>
    <ul
      id="grocery-list"
      v-show="!edit"
    >
      <li
        v-for="item in list"
        :key="item.name"
        style="display: flex; align-items: center; padding: 0.5em"
      >
        <button @click="retrieved(item)"></button>
        {{ getItemText(item) }}
      </li>
    </ul>
    <div style="display: flex; justify-content: space-between">
      <button
        id="finish"
        class="finishbutton"
        v-show="!edit"
        @click="finishList"
      >
        Finish list
      </button>
      <button
        id="go-to-list"
        @click="toggleEdit"
        class="switch"
      >
        {{ switchText }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["listid", "edit"],
  data() {
    return {
      list: [],
      retrieved_list: []
    }
  },
  computed: {
    switchText() {
      if (this.edit) {
        return "Go shopping"
      }
      return "Edit list"
    }
  },
  methods: {
    getItemText(item) {
      let text = `${item.amount}`
      if (item.unit !== '_') {
        text = `${text} ${item.unit}`
      }
      return `${text} ${item.name}`
    },
    updateList() {
      this.$api.get(`groceries/api/grocery-lists/${this.listid}/get_list/`, response => {
        this.list = response.list
      })
    },
    toggleEdit() {
      if (this.edit) {
        this.updateList()
      }
      this.$emit("toggle-edit")
    },
    retrieved(item) {
      this.retrieved_list.push(item)
      this.list = this.list.filter(obj => obj.name !== item.name)
    },
    finishList() {
      this.$emit("finish")
    }
  }
}
</script>

<style lang="scss" scoped>
button:focus {
  outline: none;
}

.switch {
  border: none;
  background-color: green;
  color: white;
  font-size: 1.1rem;
  padding: 0.5em;
  border-radius: 0.2rem;

  &:hover {
    color: lightgreen;
    cursor: pointer;
  }
}

li {
  background-color: green;
  color: white;
  border-radius: 0.3rem;
  padding: 0.3em;
  margin-bottom: 0.4rem;

  button {
    border: none;
    padding: 0.8rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-right: 0.6rem;

    &:hover {
      cursor: pointer;
      background-color: lightgreen;
    }
  }
}

.finishbutton {
  background-color: green;
  color: white;
  border-radius: 0.3rem;
  padding: 0.6rem;
  border: none;

  &:hover {
    color: lightgreen;
    cursor: pointer;
  }
}
</style>
