<template>
  <div>
    <div>
      <list
        class="gl_box"
        :listid="current_list.id"
        :edit="edit"
        @toggle-edit="edit = !edit"
        @finish="finishList"
      ></list>
    </div>
    <div
      class="columns"
      v-show="edit"
    >
      <div class="column">
        <recipes
          class="gl_box"
          :recipes="current_list.recipes"
          @update="update"
        ></recipes>
      </div>
      <div class="column">
        <items
          class="gl_box"
          :items="current_list.items"
          @update="update"
        ></items>
      </div>
    </div>
  </div>
</template>

<script>
import Items from './GroceryListItems.vue'
import Recipes from './GroceryListRecipes.vue'
import List from './GroceryListShopping.vue'

export default {
  created() {
    this.$api.get('groceries/api/grocery-lists/?date_finished=null', response => {
      if (response.count === 0) {
        this.$api.post('groceries/api/grocery-lists/', {}, response2 => {
          this.current_list = response2
        })
      } else {
        this.current_list = response.results[0]
      }
    })
  },
  components: {
    Items,
    Recipes,
    List
  },
  data() {
    return {
      current_list: { items: [], recipes: [] },
      edit: true
    }
  },
  methods: {
    update() {
      this.$api.get('groceries/api/grocery-lists/?date_finished=null', response => {
        this.current_list = response.results[0]
      })
    },
    finishList() {
      let today = new Date()
      this.current_list.date_finished = today.toISOString()
      this.$api.put(
        `groceries/api/grocery-lists/${this.current_list.id}/`,
        this.current_list,
        response => {
          this.$router.push({ name: 'groceries:home' })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.gl_box {
  background-color: lightgreen;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
</style>
