<template>
  <div class="gl_buttons">
    <router-link :to="{ name: 'groceries:recipes' }" style="grid-area: recipes"
      >Recipes</router-link
    >
    <router-link
      :to="{ name: 'groceries:grocery_list' }"
      style="grid-area: list"
      >Grocery List</router-link
    >
    <router-link
      :to="{ name: 'groceries:item_manager' }"
      style="grid-area: items"
      >Item manager</router-link
    >
  </div>
</template>

<script>
export default {

};
</script>

<style lang="scss" scoped>
.gl_buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "recipes list"
    "cooking items";
  a {
    background-color: lightgreen;
    color: #4a4a4a;
    padding: 3rem 0;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    margin: 0.5em;
    text-align: center;
    &:hover {
      background-color: green;
      color: white;
    }
  }
}
</style>


