<template>
  <div>
    <ModelTable
      modelName="Items"
      v-model="itemModel"
      :config="itemConfig"
      :data="items"
      apiStore="groceries/items"
    />
  </div>
</template>

<script>
import { ModelTable } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    ModelTable,
  },
  data() {
    return {
      itemModel: {
        name: null,
        unit: null,
        supermarket_order: null,
      }
    }
  },
  computed: {
    ...mapState({
      items: state => state.groceries.items,
      units: state => state.groceries.units
    }),
    itemConfig() {
      return {
        url: 'groceries/api/items/',
        fields: {
          name: { label: 'name', type: 'text', default: '' },
          unit: {
            label: 'unit',
            type: 'select',
            default: { name: "", id: "" },
            options: this.units.data,
            optionValue: "object",
            optionName: "name"
          },
          supermarket_order: { label: 'supermarket_order', type: 'number', default: 50 }
        }
      }
    }
  },
  created() {
    this.$store.dispatch('groceries/items/get')
    this.$store.dispatch('groceries/units/get')
  }
}
</script>
