<template>
  <div>
    <model-table
      modelName="Recipes"
      apiStore="groceries/recipes"
      new-item-link="groceries:add_recipe"
      :data="recipes"
      :config="recipeConfig"
      :updateable="false"
      :instanceLink="{ link: '/groceries/recipes/{}', param: 'id' }"
      :tableFields="['name']"
    ></model-table>
  </div>
</template>

<script>
import RecipeForm from "./RecipeForm"
import { ModelTable } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    ModelTable,
    RecipeForm,
  },
  data() {
    return {
      recipeConfig: {
        url: 'groceries/api/recipes/',
        fields: {
          name: { label: "name", type: "text", }
        }
      }
    }
  },
  created() {
    this.$store.dispatch('groceries/recipes/get')
  },
  computed: {
    ...mapState({
      recipes: state => state.groceries.recipes
    })
  }
}
</script>