<template>
  <div>
    <form
      class="form"
      @submit.prevent
    >
      <h2 class="subtitle">Recipe</h2>
      <text-input
        label="Name"
        :readonly="readonly"
        v-model="form.name"
      ></text-input>
      <text-area-input
        label="Instructions"
        :readonly="readonly"
        v-model="form.instructions"
        rows="10"
      ></text-area-input>
      <number-input
        label="Default servings"
        :readonly="readonly"
        v-model="form.default_servings"
        step="1"
      ></number-input>

      <h2 class="subtitle">Ingredients</h2>
      <table
        class="table is-striped"
        aria-label="Added ingredients"
      >
        <tbody>
          <tr
            v-for="ingredient in form.ingredient_set"
            :key="ingredient.id"
          >
            <td>{{ ingredient.item.name }}</td>
            <td>{{ ingredient.amount }} {{ ingredient.item.unit.name }}</td>
            <td v-if="!readonly">
              <button
                class="button is-outlined"
                @click="removeIngredient(ingredient.id)"
              >
                Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <table
        v-if="!readonly"
        class="table"
        aria-label="New ingredients"
      >
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Item</th>
            <th scope="col">Amount</th>
            <th scope="col">Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <button
                id="submit-ingredient"
                class="button is-success"
                @click="addIngredient"
              >
                Add
              </button>
            </td>
            <td>
              <input
                id="add-ingredient-name"
                v-model="ingredient_add.item.name"
                @focusout="checkUnit"
                class="input"
                type="text"
              />
            </td>
            <td>
              <input
                id="add-ingredient-amount"
                v-model="ingredient_add.amount"
                class="input"
                type="number"
              />
            </td>
            <td>
              <input
                id="add-ingredient-unit"
                v-model="ingredient_add.item.unit.name"
                :readonly="unitFound"
                :placeholder="inputUnitText"
                class="input"
                type="text"
                list="units"
              />
              <datalist id="units">
                <option
                  v-for="unit in units"
                  :key="unit.id"
                >
                  {{ unit.name }}
                </option>
              </datalist>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">The amount should be the amount per person</td>
          </tr>
        </tfoot>
      </table>

      <div
        v-if="!readonly"
        class="field is-grouped"
      >
        <p class="control">
          <button
            id="submit-recipe"
            class="button is-primary"
            @click="submitRecipe"
          >
            Submit
          </button>
        </p>
        <p class="control">
          <button
            id="delete-recipe"
            class="button is-outlined"
            @click="deleteRecipe"
          >
            Delete
          </button>
        </p>
      </div>

      <div v-if="readonly">
        <p class="control">
          <button
            id="edit-recipe"
            class="button is-primary"
            @click="readonly = false"
          >
            Edit
          </button>
        </p>
      </div>
    </form>
  </div>
</template>

<script>
import { TextInput, TextAreaInput, NumberInput } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    TextInput,
    TextAreaInput,
    NumberInput
  },
  name: 'RecipeForm',
  created() {
    if (this.$route.params.hasOwnProperty('id')) {
      this.getRecipe(this.$route.params.id)
    }
    this.$store.dispatch('groceries/units/get')
  },
  computed: {
    ...mapState({
      units: state => state.groceries.units.data
    })
  },
  data() {
    return {
      form: {
        name: '',
        instructions: '',
        ingredient_set: []
      },
      ingredient_add: {
        item: {
          name: '',
          unit: {}
        },
        amount: 0
      },
      unitFound: true,
      inputUnitText: 'filled automatically',
      readonly: false,
    }
  },
  methods: {
    getRecipe(id) {
      this.readonly = true
      this.$api.get(`groceries/api/recipes/${id}/`, response => {
        this.form = response
      })
    },
    checkUnit() {
      if (this.ingredient_add.name === '') {
        return
      }
      this.$api.get(`groceries/api/units/?itemname=${this.ingredient_add.item.name}`, response => {
        if (response.count === 1) {
          this.ingredient_add.item.unit = response.results[0]
          this.unitFound = true
        } else {
          this.unitFound = false
          this.inputUnitText = 'No unit found'
        }
      })
    },
    addIngredient() {
      this.form.ingredient_set.push(this.ingredient_add)
      this.ingredient_add = {
        item: {
          name: '',
          unit: {}
        },
        amount: 0
      }
      this.inputUnitText = 'filled automatically'
    },
    removeIngredient(id) {
      this.form.ingredient_set = this.form.ingredient_set.filter(obj => obj.id !== id)
    },
    submitRecipe() {
      if (this.ingredient_add.item.name !== '') {
        this.$notify({
          style: 'warn',
          text: 'Did you want to save that ingredient?'
        })
        return
      }
      if (this.$route.params.hasOwnProperty('id')) {
        this.$api.put(`groceries/api/recipes/${this.$route.params.id}/`, this.form, response => {
          this.$router.push({ name: 'groceries:recipes' })
        })
      } else {
        this.$api.post('groceries/api/recipes/', this.form, response => {
          this.$router.push({ name: 'groceries:recipes' })
        })
      }
    },
    deleteRecipe() {
      this.$api.delete(`groceries/api/recipes/${this.form.id}/`, response => {
        this.$router.push({ name: 'groceries:recipes' })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  background-color: lightgreen;
  padding: 1rem;
  border-radius: 0.4rem;
}
</style>
