<template>
  <div class="locale-changer select">
    <select v-model="$root.$i18n.locale">
      <option
        v-for="locale in $root.$i18n.availableLocales"
        :key="`locale-${locale}`"
        :value="locale"
      >{{ flags[locale] }}</option>
    </select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      flags: {
        'nl': "🇳🇱",
        'en': "🇬🇧"
      }
    }
  }
}
</script>

<style scoped>
.locale-changer {
  font-size: 0.8em;
}
</style>