<template>
  <nav :style="{ 'background-color': backgroundColor }">
    <h1 :style="{ color }">
      {{ title }}
    </h1>
    <div>
      <LocaleSwitcher />
      <RouterLink
        class="button ml-2"
        :to="{ name: 'ps:home' }"
      >Home</RouterLink>
    </div>
  </nav>
</template>

<script>
import LocaleSwitcher from './LocaleSwitcher.vue';

export default {
    props: {
        title: String,
        color: String,
        backgroundColor: String
    },
    components: { LocaleSwitcher }
}
</script>

<style scoped>
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
}
</style>