<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Made by Bob Luursema</p>
      <slot />
      <p>
        Part of
        <RouterLink :to="{ name: 'ps:home' }">Project Sunset</RouterLink>
      </p>
    </div>
  </footer>
</template>