<template>
  <button
    @click="togglePlay"
    class="button"
  >{{ buttonText }}</button>
</template>

<script>
export default {
  props: {
    tempo: Number
  },
  data() {
    return {
      audioContext: new AudioContext(),
      unlocked: false,
      buffer: null,
      node: null,
      isPlaying: false,
      timerWorker: new Worker("static/js/metronomeworker.js"),
      nextNoteTime: 0,
    }
  },
  computed: {
    buttonText() {
      if (this.isPlaying) {
        return this.$t('rhythm.stop-metronome')
      }
      return this.$t('rhythm.start-metronome')
    }
  },
  created() {
    let instance = this
    this.timerWorker.onmessage = function (e) {
      if (e.data == "tick") {
        instance.scheduler()
      }
    }
    this.timerWorker.postMessage({ "interval": 25 })
  },
  methods: {
    nextNote() {
      const secondsPerBeat = 60.0 / this.tempo
      this.nextNoteTime += secondsPerBeat
    },
    scheduleNote(time) {
      const osc = this.audioContext.createOscillator()
      const gain = this.audioContext.createGain()
      osc.connect(gain)
      gain.connect(this.audioContext.destination)
      gain.gain.value = 0.2
      osc.frequency.value = 250.0
      osc.start(time)
      osc.stop(time + 0.05)
    },
    scheduler() {
      while (this.nextNoteTime < this.audioContext.currentTime + 0.1) {
        this.scheduleNote(this.nextNoteTime)
        this.nextNote()
      }
    },
    togglePlay() {
      if (!this.unlocked) {
        // play silent buffer to unlock the audio
        this.buffer = this.audioContext.createBuffer(1, 1, 22050)
        this.node = this.audioContext.createBufferSource()
        this.node.buffer = this.buffer
        this.node.start(0)
        this.unlocked = true
      }
      this.isPlaying = !this.isPlaying
      if (this.isPlaying) {
        this.current16thNote = 0
        this.nextNoteTime = this.audioContext.currentTime
        this.timerWorker.postMessage("start")
      } else {
        this.timerWorker.postMessage("stop")
      }
    }
  }
}
</script>