<template>
  <div>
    <SimpleHeader
      title="Rhythm Tapper"
      backgroundColor="paleturquoise"
      color="black"
    />
    <section class="section">
      <div class="container">
        <div class="content">
          <p>{{ $t('rhythm.intro') }}</p>
        </div>
        <div>
          <label
            class="label"
            for="bpm"
          >Tempo</label>
          <div class="field has-addons">
            <div class="control">
              <input
                id="bpm"
                class="input"
                v-model.number="bpm"
                type="number"
              />
            </div>
            <div class="control">
              <button
                class="button"
                @click="tapTempo"
              >{{ $t('rhythm.tap-tempo') }}</button>
            </div>
            <div class="control">
              <metronome :tempo="bpm" />
            </div>
          </div>
        </div>
        <div
          class="buttons"
          style="margin-top: 1em"
        >
          <button
            @click="tap"
            class="button is-primary"
          >{{ $t('rhythm.tap-rhythm') }}</button>
          <button
            v-if="notes.length > 0"
            @click="reset"
            class="button"
          >
            Reset
          </button>
        </div>
        <hr />
        <canvas
          id="notes"
          width="730"
          height="220"
          style="width: 100%"
        ></canvas>
      </div>
      <div class="content">You can read more about this project on my <router-link
          :to="{ name: 'ps:blog:article', params: { slug: 'rhythm-tapper' } }"
        >blog</router-link>.</div>
    </section>
    <SimpleFooter>
      <p>
        {{ $t('rhythm.footer-note') }}
        <a
          href="https://github.com/cwilso/metronome"
          target="_blank"
        >cwilso/metronome</a>
      </p>
    </SimpleFooter>
  </div>
</template>

<script>
import Metronome from "@/components/various/Metronome.vue"
import SimpleHeader from "@/components/SimpleHeader"
import SimpleFooter from "@/components/SimpleFooter"

export default {
  components: {
    Metronome, SimpleHeader, SimpleFooter
  },
  data() {
    return {
      tempoTap: {
        firstTap: null,
        lastTap: null,
        taps: null,
      },
      ctx: null,
      lastTap: null,
      notes: [],
      bpm: 120,
    }
  },
  mounted() {
    const canvas = document.getElementById("notes")
    this.ctx = canvas.getContext("2d")
    this.reset()
  },
  computed: {
    sixteenthNoteLength() {
      return 1000 / (this.bpm * 4 / 60)
    }
  },
  methods: {
    tapTempo() {
      if (this.tempoTap.lastTap === null || (performance.now() - this.tempoTap.lastTap) > 2000) {
        this.tempoTap.firstTap = performance.now()
        this.tempoTap.taps = -1
      }
      this.tempoTap.lastTap = performance.now()
      this.tempoTap.taps++
      this.bpm = Math.round(this.tempoTap.taps / (this.tempoTap.lastTap - this.tempoTap.firstTap) * 1000 * 60)
    },
    reset() {
      this.notes = []
      this.lastTap = null
      this.currentMeasure = 0
      this.ctx.fillStyle = "#ffffff"
      this.ctx.fillRect(0, 0, 730, 220)
      this.ctx.fillStyle = "#000000"
      this.ctx.lineWidth = 2
      // Note line
      this.ctx.beginPath()
      this.ctx.moveTo(0, 20)
      this.ctx.lineTo(730, 20)
      this.ctx.stroke()
      this.ctx.beginPath()
      this.ctx.moveTo(0, 130)
      this.ctx.lineTo(730, 130)
      this.ctx.stroke()
    },
    tap() {
      if (this.lastTap === null) {
        this.lastTap = performance.now()
      } else if ((performance.now() - this.lastTap) > 2000) {
        this.reset()
        this.lastTap = performance.now()
      } else {
        const currentTime = performance.now()
        // Could this rounding cause a missing or extra sixteenth note in a measure?
        this.drawNote(Math.round((currentTime - this.lastTap) / this.sixteenthNoteLength), false)
        this.lastTap = currentTime
      }
    },
    drawNote(noteLength, tie) {
      if (noteLength === 5) {
        this.drawNote(4, true)
        noteLength = 1
      } else if (noteLength === 7) {
        this.drawNote(6, true)
        noteLength = 1
      } else if (noteLength === 9) {
        this.drawNote(8, true)
        noteLength = 1
      } else if (noteLength === 10) {
        this.drawNote(8, true)
        noteLength = 2
      }
      const x = 40 + (this.notes.length % 9) * 80
      const y = this.notes.length < 9 ? 20 : 130
      // Note head
      this.ctx.beginPath()
      this.ctx.ellipse(x, y, 20, 13, -0.5, 0, 2 * Math.PI)
      this.ctx.fill()
      // Create hole if whole or half note
      if (noteLength >= 8) {
        this.ctx.beginPath()
        this.ctx.fillStyle = "#ffffff"
        this.ctx.ellipse(x, y, 16, 6, -0.6, 0, 2 * Math.PI)
        this.ctx.fill()
        this.ctx.fillStyle = "#000000"
      }
      // Note stem if not whole note
      if (noteLength <= 8) {
        this.ctx.lineWidth = 3
        this.ctx.beginPath()
        this.ctx.moveTo(x - 17, y + 4)
        this.ctx.lineTo(x - 17, y + 80)
        this.ctx.stroke()
      }
      // Dot
      if (noteLength === 6 || noteLength === 3) {
        this.ctx.beginPath()
        this.ctx.arc(x + 35, y - 12, 6, 0, 2 * Math.PI)
        this.ctx.fill()
      }
      // Flag 1
      if (noteLength <= 3) {
        this.ctx.lineWidth = 1
        this.ctx.beginPath()
        this.ctx.moveTo(x - 16, y + 80)
        this.ctx.bezierCurveTo(x - 10, y + 50, x + 22, y + 55, x + 8, y + 23)
        this.ctx.arc(x + 6, y + 23, 2, -1, 2, true)
        this.ctx.bezierCurveTo(x + 13, y + 45, x, y + 50, x - 16, y + 58)
        this.ctx.fill()
      }
      // Flag 2
      if (noteLength === 1) {
        this.ctx.lineWidth = 1
        this.ctx.beginPath()
        this.ctx.moveTo(x - 16, y + 55)
        this.ctx.bezierCurveTo(x - 10, y + 35, x + 22, y + 35, x + 11, y + 15)
        this.ctx.arc(x + 10, y + 15, 2, -1, 2, true)
        this.ctx.bezierCurveTo(x + 13, y + 35, x - 5, y + 30, x - 16, y + 42)
        this.ctx.fill()
      }
      // Tie
      if (tie) {
        this.ctx.lineWidth = 2
        this.ctx.beginPath()
        this.ctx.arc(x + 44, y + 21, 40, Math.PI + 1, 2 * Math.PI - 1)
        this.ctx.stroke()
      }
      this.notes.push({ noteLength })
    }
  }
}
</script>