<template>
  <div>
    <SimpleHeader
      title="Settlers of Catan"
      background-color="orangered"
      color="white"
    />
    <main class="section container">
      <p style="margin-bottom: 2rem">{{ $t('settlers.intro') }}</p>
      <div class="columns">
        <div class="controller column">
          <div class="mode_select">
            <p>{{ $t('settlers.place') }}</p>
            <button
              name="mode"
              value="resources"
              @click="selectMode"
              :class="{ active: mode === 'resources' }"
            >
              {{ $t('settlers.resource') }}
            </button>
            <button
              name="mode"
              value="numbers"
              @click="selectMode"
              :class="{ active: mode === 'numbers' }"
            >
              {{ $t('settlers.number') }}
            </button>
            <button
              name="mode"
              value="cities"
              @click="selectMode"
              :class="{ active: mode === 'cities' }"
            >
              {{ $t('settlers.city') }}
            </button>
          </div>
          <div
            v-if="mode === 'resources'"
            name="mode_control"
            id="resource_select"
            class="resource_select"
          >
            <img
              src="../../assets/settlers/grain.png"
              id="grain"
              @click="selectItem"
              :class="{ active: isActiveTile === 'grain' }"
              alt="grain"
            />
            <img
              src="../../assets/settlers/ore.png"
              id="ore"
              @click="selectItem"
              :class="{ active: isActiveTile === 'ore' }"
              alt="ore"
            />
            <img
              src="../../assets/settlers/brick.png"
              id="brick"
              @click="selectItem"
              :class="{ active: isActiveTile === 'brick' }"
              alt="brick"
            />
            <img
              src="../../assets/settlers/wood.png"
              id="wood"
              @click="selectItem"
              :class="{ active: isActiveTile === 'wood' }"
              alt="wood"
            />
            <img
              src="../../assets/settlers/sheep.png"
              id="sheep"
              @click="selectItem"
              :class="{ active: isActiveTile === 'sheep' }"
              alt="sheep"
            />
            <img
              src="../../assets/settlers/desert.png"
              id="desert"
              @click="selectItem"
              :class="{ active: isActiveTile === 'desert' }"
              alt="desert"
            />
            <img
              src="../../assets/settlers/sea.png"
              id="sea"
              @click="selectItem"
              :class="{ active: isActiveTile === 'sea' }"
              alt="sea"
            />
          </div>
          <div
            v-if="mode === 'numbers'"
            name="mode_control"
            id="number_select"
            class="number_select"
          >
            <button
              v-for="number in [
                '2',
                '3',
                '4',
                '5',
                '6',
                '7',
                '8',
                '9',
                '10',
                '11',
                '12',
              ]"
              :key="number"
              name="number"
              :value="number"
              @click="selectItem"
              :class="{ active: isActiveNumber === number }"
            >
              {{ number }}
            </button>
          </div>
          <div
            v-if="mode === 'cities'"
            name="mode_control"
            id="city_select"
            class="city_select"
          >
            <button
              name="city-delete"
              value="delete"
              @click="selectItem"
              :class="{ active: isActiveDelete }"
            >
              {{ $t('settlers.delete') }}
            </button>
            <button
              name="city-type"
              value="village"
              @click="selectItem"
              :class="{ active: isActiveType === 'village' }"
            >
              {{ $t('settlers.village') }}
            </button>
            <button
              name="city-type"
              value="city"
              @click="selectItem"
              :class="{ active: isActiveType === 'city' }"
            >
              {{ $t('settlers.city') }}
            </button>
            <button
              name="city-color"
              value="red"
              @click="selectItem"
              :class="{ active: isActiveColor === 'red' }"
            >
              {{ $t('settlers.red') }}
            </button>
            <button
              name="city-color"
              value="blue"
              @click="selectItem"
              :class="{ active: isActiveColor === 'blue' }"
            >
              {{ $t('settlers.blue') }}
            </button>
          </div>
        </div>

        <div class="main column">
          <div class="buttons">
            <button
              class="button"
              @click="process"
            >{{ $t('settlers.process') }}</button>
            <button
              class="button is-small"
              @click="fillBoard"
            >
              {{ $t('settlers.quick-setup') }}
            </button>
          </div>
          <div>
            <canvas
              id="canvas"
              width="710"
              height="650"
              @click="doAction"
              @mousemove="hoverLocation"
            ></canvas>
          </div>
          <div>
            <table
              class="table"
              aria-label="Data of selected spot"
            >
              <thead>
                <tr>
                  <th scope="col">{{ $t('settlers.spot-total') }}</th>
                  <th scope="col">{{ $t('settlers.grain') }}</th>
                  <th scope="col">{{ $t('settlers.ore') }}</th>
                  <th scope="col">{{ $t('settlers.brick') }}</th>
                  <th scope="col">{{ $t('settlers.wood') }}</th>
                  <th scope="col">{{ $t('settlers.sheep') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ round(selectedLocationData.output.total) }}</td>
                  <td>{{ round(selectedLocationData.output.grain) }}</td>
                  <td>{{ round(selectedLocationData.output.ore) }}</td>
                  <td>{{ round(selectedLocationData.output.brick) }}</td>
                  <td>{{ round(selectedLocationData.output.wood) }}</td>
                  <td>{{ round(selectedLocationData.output.sheep) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="columns">
            <div class="column">
              <table
                class="table"
                aria-label="Total resources on the board"
              >
                <thead>
                  <tr>
                    <th
                      scope="col"
                      colspan="2"
                    >{{ $t('settlers.board-total') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ $t('settlers.grain') }}</td>
                    <td>{{ round(total_data.grain) }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('settlers.ore') }}</td>
                    <td>{{ round(total_data.ore) }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('settlers.brick') }}</td>
                    <td>{{ round(total_data.brick) }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('settlers.wood') }}</td>
                    <td>{{ round(total_data.wood) }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('settlers.sheep') }}</td>
                    <td>{{ round(total_data.sheep) }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('settlers.grand-total') }}</td>
                    <td>{{ round(total_data.grand_total) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column">
              <p>{{ $t('settlers.hover-explain') }}</p>
              <table
                class="table"
                aria-label="Total of every spot"
              >
                <thead>
                  <tr>
                    <th
                      scope="col"
                      style="width: 200px"
                    >{{ $t('settlers.coordinate') }}</th>
                    <th scope="col">{{ $t('settlers.output') }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="l in location_data"
                    @mouseover="hover_location = l.location"
                  >
                    <td>
                      {{ l.location.tile_c.x }}, {{ l.location.tile_c.y }}:
                      {{ l.location.type }}
                    </td>
                    <td>{{ round(l.output.total) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div clas="content">
        You can read more about this project on my <router-link
          :to="{ name: 'ps:blog:article', params: { slug: 'settlers' } }"
        >blog</router-link>.
      </div>
      <img
        src="../../assets/settlers/surface.jpg"
        class="hidden"
        id="surface"
        alt="surface"
      />
    </main>
    <SimpleFooter />
  </div>
</template>

<script>
import SimpleHeader from '@/components/SimpleHeader.vue'
import SimpleFooter from '@/components/SimpleFooter.vue'
export default {
  components: {
    SimpleHeader, SimpleFooter
  },
  data() {
    return {
      tileheight: 110,
      top_margin: 25,
      right_margin: 25,
      cities_data: [],
      location_data: [],
      total_data: {
        brick: 0,
        grain: 0,
        ore: 0,
        sheep: 0,
        wood: 0,
        grand_total: 0
      },
      tile_data: [],
      board_size: 7,
      tile_imgs: {},
      isActiveTile: 'grain',
      isActiveNumber: '2',
      isActiveType: 'village',
      isActiveColor: 'blue',
      isActiveDelete: false,
      mode: 'resources',
      debug: true,
      hover_location: { tile_c: { x: -1, y: -1 }, side: 'bottom' }
    }
  },
  watch: {
    hover_location(newHL, oldHL) {
      this.drawFrame()
    }
  },
  computed: {
    tilewidth() {
      return Math.sqrt(Math.pow(this.tileheight, 2) - Math.pow(this.tileheight / 2, 2))
    },
    number_tile_size() {
      return (this.tileheight / 10) * 1.5
    },
    number_size() {
      return this.tileheight / 10
    },
    city_size() {
      return this.tileheight / 12
    },
    selectedLocationData() {
      if (!this.hover_location) {
        return { output: {} }
      }
      let data = this.location_data.filter(
        obj =>
          obj.location.tile_c.x === this.hover_location.tile_c.x &&
          obj.location.tile_c.y === this.hover_location.tile_c.y &&
          this.hover_location.side === obj.location.side
      )
      if (data.length === 0) {
        return { output: {} }
      } else {
        return data[0]
      }
    }
  },
  mounted() {
    this.tile_imgs = {
      grain: document.getElementById('grain'),
      ore: document.getElementById('ore'),
      brick: document.getElementById('brick'),
      wood: document.getElementById('wood'),
      sheep: document.getElementById('sheep'),
      desert: document.getElementById('desert'),
      sea: document.getElementById('sea')
    }
    let offset = this.board_size / 2 - 0.5
    for (let i = 0; i < this.board_size; i++) {
      for (let j = 0; j < this.board_size - Math.abs(offset); j++) {
        const top_left_coordinate = {
          x: (this.tilewidth * Math.abs(offset)) / 2 + this.tilewidth * j + this.right_margin,
          y: this.tileheight * i * 0.75 + this.top_margin
        }
        this.tile_data.push({
          tile_c: {
            x: offset > 0 ? j : j - offset,
            y: Math.abs(i - (this.board_size - 1))
          },
          draw_c: top_left_coordinate,
          middle_c: {
            x: top_left_coordinate.x + this.tilewidth / 2,
            y: top_left_coordinate.y + this.tileheight / 2
          },
          number: 1,
          resource: 'desert'
        })
      }
      offset--
    }
    this.initialDraw()
  },
  methods: {
    round(value) {
      return Number.parseFloat(value).toPrecision(2)
    },
    hoverLocation(event) {
      let click_c = this.getMousePos(event)
      let location = this.getClosestCity(click_c)
      this.hover_location = location
    },
    initialDraw() {
      if (!document.getElementById('surface').complete) {
        setTimeout(this.initialDraw, 100)
      } else {
        this.drawFrame()
      }
    },
    fillBoard() {
      let data = [
        { tile_c: { x: 0, y: 6 }, number: 1, resource: 'sea' },
        { tile_c: { x: 1, y: 6 }, number: 1, resource: 'sea' },
        { tile_c: { x: 2, y: 6 }, number: 1, resource: 'sea' },
        { tile_c: { x: 3, y: 6 }, number: 1, resource: 'sea' },

        { tile_c: { x: 0, y: 5 }, number: 1, resource: 'sea' },
        { tile_c: { x: 1, y: 5 }, number: 2, resource: 'grain' },
        { tile_c: { x: 2, y: 5 }, number: 9, resource: 'ore' },
        { tile_c: { x: 3, y: 5 }, number: 3, resource: 'brick' },
        { tile_c: { x: 4, y: 5 }, number: 1, resource: 'sea' },

        { tile_c: { x: 0, y: 4 }, number: 1, resource: 'sea' },
        { tile_c: { x: 1, y: 4 }, number: 6, resource: 'brick' },
        { tile_c: { x: 2, y: 4 }, number: 10, resource: 'wood' },
        { tile_c: { x: 3, y: 4 }, number: 11, resource: 'sheep' },
        { tile_c: { x: 4, y: 4 }, number: 5, resource: 'wood' },
        { tile_c: { x: 5, y: 4 }, number: 1, resource: 'sea' },

        { tile_c: { x: 0, y: 3 }, number: 1, resource: 'sea' },
        { tile_c: { x: 1, y: 3 }, number: 5, resource: 'wood' },
        { tile_c: { x: 2, y: 3 }, number: 8, resource: 'grain' },
        { tile_c: { x: 3, y: 3 }, number: 1, resource: 'desert' },
        { tile_c: { x: 4, y: 3 }, number: 9, resource: 'grain' },
        { tile_c: { x: 5, y: 3 }, number: 8, resource: 'ore' },
        { tile_c: { x: 6, y: 3 }, number: 1, resource: 'sea' },

        { tile_c: { x: 1, y: 2 }, number: 1, resource: 'sea' },
        { tile_c: { x: 2, y: 2 }, number: 10, resource: 'ore' },
        { tile_c: { x: 3, y: 2 }, number: 3, resource: 'wood' },
        { tile_c: { x: 4, y: 2 }, number: 12, resource: 'brick' },
        { tile_c: { x: 5, y: 2 }, number: 4, resource: 'sheep' },
        { tile_c: { x: 6, y: 2 }, number: 1, resource: 'sea' },

        { tile_c: { x: 2, y: 1 }, number: 1, resource: 'sea' },
        { tile_c: { x: 3, y: 1 }, number: 4, resource: 'sheep' },
        { tile_c: { x: 4, y: 1 }, number: 6, resource: 'sheep' },
        { tile_c: { x: 5, y: 1 }, number: 11, resource: 'grain' },
        { tile_c: { x: 6, y: 1 }, number: 1, resource: 'sea' },

        { tile_c: { x: 3, y: 0 }, number: 1, resource: 'sea' },
        { tile_c: { x: 4, y: 0 }, number: 1, resource: 'sea' },
        { tile_c: { x: 5, y: 0 }, number: 1, resource: 'sea' },
        { tile_c: { x: 6, y: 0 }, number: 1, resource: 'sea' }
      ]
      for (let tile of this.tile_data) {
        let temp = data.filter(obj => obj.tile_c.x === tile.tile_c.x && obj.tile_c.y === tile.tile_c.y)[0]
        tile.number = temp.number
        tile.resource = temp.resource
      }
      this.drawFrame()
    },
    process() {
      this.$api.post('various/api/settlers/', { tiles: this.tile_data }, response => {
        this.location_data = response.location_data
        this.total_data = response.total_data
      })
    },
    selectItem(event) {
      let name = event.target.getAttribute('name')
      if (name === 'resource') {
        this.isActiveTile = event.target.getAttribute('id')
      } else if (name === 'number') {
        this.isActiveNumber = event.target.getAttribute('value')
      } else if (name === 'city-color') {
        this.isActiveColor = event.target.getAttribute('value')
      } else if (name === 'city-type') {
        this.isActiveType = event.target.getAttribute('value')
      } else if (name === 'city-delete') {
        this.isActiveDelete = !this.isActiveDelete
      }
    },
    selectMode(event) {
      this.mode = event.target.getAttribute('value')
    },
    getMousePos(event) {
      let rect = document.getElementById('canvas').getBoundingClientRect()
      return {
        x: event.clientX - rect.left,
        y: event.clientY - rect.top
      }
    },
    getDistance(c_1, c_2) {
      let a = c_1.x - c_2.x
      let b = c_1.y - c_2.y
      return Math.sqrt(Math.pow(a, 2) + Math.pow(b, 2))
    },
    getClosestTile(click_c) {
      let closest = {
        distance: 9999,
        tile: {}
      }
      for (let tile of this.tile_data) {
        let distance = this.getDistance(tile.middle_c, click_c)
        if (distance < closest.distance) {
          closest.distance = distance
          closest.tile = tile
        }
      }
      return closest.tile
    },
    getClosestCity(click_c, doCreate) {
      let tile = this.getClosestTile(click_c)
      let side = click_c.y > tile.middle_c.y ? 'bottom' : 'top'
      let isMiddle = Math.abs(click_c.x - tile.middle_c.x) < this.tilewidth / 6
      let tile_c_y, tile_c_x
      if (!isMiddle) {
        let left_right = click_c.x > tile.middle_c.x ? 'right' : 'left'
        tile_c_y = side === 'top' ? tile.tile_c.y + 1 : tile.tile_c.y - 1
        tile_c_x =
          (side === 'top' && left_right === 'right') || (side === 'bottom' && left_right === 'left')
            ? tile.tile_c.x
            : left_right === 'right'
              ? tile.tile_c.x + 1
              : tile.tile_c.x - 1
        side = side === 'top' ? 'bottom' : 'top'
        tile = this.tile_data.filter(obj => obj.tile_c.x === tile_c_x && obj.tile_c.y === tile_c_y)[0]
      }
      if (tile === undefined) {
        return
      }
      let city = this.cities_data.filter(
        obj => obj.tile_c.x === tile.tile_c.x && obj.tile_c.y === tile.tile_c.y && obj.side === side
      )
      if (city.length > 0) {
        return city[0]
      } else if (doCreate) {
        let new_city = {
          tile_c: {
            x: tile_c_x === undefined ? tile.tile_c.x : tile_c_x,
            y: tile_c_y === undefined ? tile.tile_c.y : tile_c_y
          },
          side: side
        }
        this.cities_data.push(new_city)
        return new_city
      }
    },
    doAction(event) {
      let mouse_c = this.getMousePos(event)
      if (this.mode === 'resources') {
        let tile = this.getClosestTile(mouse_c)
        tile.resource = document.querySelector('.resource_select>img.active').getAttribute('id')
      } else if (this.mode === 'numbers') {
        let tile = this.getClosestTile(mouse_c)
        tile.number = document.querySelector('.number_select>button.active').getAttribute('value')
      } else if (this.mode === 'cities' && this.isActiveDelete) {
        let city = this.getClosestCity(mouse_c)
        let index = this.cities_data.indexOf(city)
        this.cities_data.splice(index, 1)
      } else if (this.mode === 'cities') {
        let city = this.getClosestCity(mouse_c, true)
        city['color'] = document.querySelector('.city_select>button.active[name=city-color]').getAttribute('value')
        city['type'] = document.querySelector('.city_select>button.active[name=city-type]').getAttribute('value')
      }
      this.drawFrame()
    },
    drawFrame() {
      let canvas = document.getElementById('canvas')
      let context = canvas.getContext('2d')
      // Clear image set background
      context.clearRect(0, 0, canvas.width, canvas.height)
      context.drawImage(document.getElementById('surface'), 0, 0)

      // Draw each tile
      for (let tile of this.tile_data) {
        context.shadowBlur = 10
        context.shadowColor = 'black'

        // Draw resource tile
        context.drawImage(this.tile_imgs[tile.resource], tile.draw_c.x, tile.draw_c.y, this.tilewidth, this.tileheight)

        // Draw number tile
        if (!['sea', 'desert'].includes(tile.resource)) {
          context.fillStyle = 'wheat'
          context.beginPath()
          context.arc(tile.middle_c.x, tile.middle_c.y, this.number_tile_size, 0, Math.PI * 2)
          context.fill()

          context.shadowBlur = 0
          context.font = `${this.number_size}px Arial`
          context.textAlign = 'center'
          context.textBaseline = 'middle'
          context.fillStyle = 'black'
          context.fillText(tile.number, tile.middle_c.x, tile.middle_c.y)
        }
        // draw tile coordinates
        if (this.debug) {
          context.shadowBlur = 0
          context.font = `${this.number_size}px Arial`
          context.textAlign = 'center'
          context.textBaseline = 'middle'
          context.fillStyle = 'black'
          context.fillText(
            `${tile.tile_c.x}, ${tile.tile_c.y}`,
            tile.middle_c.x,
            tile.middle_c.y + 0.25 * this.tileheight
          )
        }
      }

      // Draw cities
      for (let city of this.cities_data) {
        context.fillStyle = city.color
        context.beginPath()
        let tile = this.tile_data.filter(obj => obj.tile_c.x === city.tile_c.x && obj.tile_c.y === city.tile_c.y)[0]
        let offset = city.side === 'top' ? (this.tileheight / 2) * -1 : this.tileheight / 2
        if (city.type === 'village') {
          context.arc(tile.middle_c.x, tile.middle_c.y + offset, this.city_size * 0.75, 0, Math.PI * 2)
        } else {
          context.arc(tile.middle_c.x, tile.middle_c.y + offset, this.city_size, 0, Math.PI * 2)
        }
        context.fill()
      }

      // Draw hovered location
      if (this.hover_location === undefined) {
        return
      }
      let tile = this.tile_data.filter(
        obj => obj.tile_c.x === this.hover_location.tile_c.x && obj.tile_c.y === this.hover_location.tile_c.y
      )[0]
      if (tile !== undefined) {
        context.fillStyle = 'black'
        context.beginPath()
        let offset = this.hover_location.side === 'top' ? (this.tileheight / 2) * -1 : this.tileheight / 2
        context.arc(tile.middle_c.x, tile.middle_c.y + offset, this.city_size, 0, Math.PI * 2)
        context.fill()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.hidden {
  display: none !important;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &>div {
    margin-bottom: 0.3em;
  }
}

.controller {
  flex-grow: 0;
  display: flex;
  flex-direction: column;

  &>div {
    display: flex;
    flex-direction: column;
  }
}

.mode_select {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.3rem;
  margin-bottom: 0.5rem;

  &>button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }

  &>button.active {
    background-color: lightblue;
  }
}

.resource_select {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.3rem;

  &>img {
    height: 100px;
    border: 4px solid rgba(0, 0, 0, 0);
  }

  &>img.active {
    border: 4px solid lightblue;
  }
}

.number_select {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.8rem;

  &>button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.4rem;
  }

  &>button.active {
    background-color: lightblue;
  }
}

.city_select {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.8rem;

  &>button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.4em 0.8rem;
    margin-bottom: 1em;
  }

  &>button.active {
    background-color: lightblue;
  }

  &>button[name="city-delete"] {
    border: 2px solid darkred;
    color: darkred;
  }

  &>button[name="city-delete"].active {
    background-color: lightgrey;
  }
}
</style>
