<template>
  <div class="box">
    <h2 class="subtitle">Public Apps</h2>
    <div style="display: flex; gap: 1rem; flex-wrap: wrap; margin-bottom: 2rem">
      <AppTile
        title="Rhythm Tapper"
        :icon="images.musicImage"
        :to="{ name: 'various:rhythm-tapper' }"
        class="rhythm"
      />
      <AppTile
        title="Drinks Rememberer"
        :icon="images.cafeImage"
        :to="{ name: 'various:drinks' }"
        class="drinks"
      />
      <AppTile
        title="Sudoku Solver"
        :icon="images.robotImage"
        :to="{ name: 'various:sudoku' }"
        class="sudoku"
      />
      <AppTile
        title="Countdown Timer"
        :icon="images.timeMachineImage"
        href="/various/timer/"
        class="timer"
      />
      <AppTile
        title="Settlers of Catan"
        :icon="images.hexagonImage"
        :to="{ name: 'various:settlers' }"
        class="settlers"
      />
      <AppTile
        title="Memory game"
        :icon="images.gridImage"
        href="/various/memory/"
        class="memory"
      />
      <AppTile
        title="Woordle game"
        :icon="images.puzzleImage"
        href="/various/woordle/"
        class="woordle"
      />
    </div>

    <h2 class="subtitle">Apps with login</h2>
    <div style="display: flex; gap: 1rem; flex-wrap: wrap">
      <AppTile
        title="Overtime Tracker"
        :icon="images.timeImage"
        :to="{ name: 'overtime:home' }"
        class="red"
      />
      <AppTile
        title="Finances"
        :icon="images.finImage"
        :to="{ name: 'finances:dashboard' }"
        class="blue"
      />
      <AppTile
        title="Links"
        :icon="images.linkImage"
        :to="{ name: 'links:home' }"
        class="cornflowerblue"
      />
      <AppTile
        title="Groceries"
        :icon="images.grocImage"
        :to="{ name: 'groceries:home' }"
        class="lightgreen"
      />
      <AppTile
        title="Tehila"
        :icon="images.tehilaImage"
        href="https://tehila.projectsunset.nl/"
        class="dark"
      />
      <AppTile
        title="Quiz"
        :icon="images.quizImage"
        :to="{ name: 'quiz:home' }"
        class="otherblue"
      />
    </div>
  </div>
</template>

<script>
import AppTile from "./AppTile"

import timeImage from "@/assets/app-icons/icons8-time-96.png"
import finImage from "@/assets/app-icons/icons8-money-box-96.png"
import linkImage from "@/assets/app-icons/icons8-bookmark-96.png"
import grocImage from "@/assets/app-icons/icons8-ingredients-96.png"
import musicImage from "@/assets/app-icons/icons8-sheet-music-96.png"
import cafeImage from "@/assets/app-icons/icons8-cafe-96.png"
import puzzleImage from "@/assets/app-icons/icons8-puzzle-96.png"
import timeMachineImage from "@/assets/app-icons/icons8-time-machine-96.png"
import hexagonImage from "@/assets/app-icons/icons8-hexagon-96.png"
import gridImage from "@/assets/app-icons/icons8-grid-2-96.png"
import tehilaImage from "@/assets/app-icons/icons8-treble-clef-64.png"
import quizImage from "@/assets/app-icons/icons8-quiz-96.png"
import robotImage from "@/assets/app-icons/icons8-robot-96.png"

export default {
  components: {
    AppTile
  },
  name: 'Home',
  data() {
    return {
      images: {
        timeImage, finImage, linkImage, grocImage, musicImage, cafeImage, puzzleImage, timeMachineImage, hexagonImage, gridImage, tehilaImage, quizImage, robotImage
      }
    }
  },
}
</script>
