<template>
  <a
    v-if="href"
    :href="href"
    class="app-tile"
  >
    <figure class="image is-128x128">
      <img
        :src="icon"
        :alt="title"
      />
    </figure>
    <p class="subtitle has-text-centered">{{ title }}</p>
  </a>
  <router-link
    v-else
    :to="to"
    class="app-tile"
  >
    <figure class="image is-128x128">
      <img
        :src="icon"
        :alt="title"
      />
    </figure>
    <p class="subtitle has-text-centered">{{ title }}</p>
  </router-link>
</template>

<script>
export default {
  props: {
    to: Object,
    href: String,
    title: String,
    icon: String,
  },
}
</script>

<style scoped>
.blue {
  background-color: blue;
}

p {
  color: black;
}

.dark>p,
.blue>p,
.red>p,
.sudoku>p,
.settlers>p,
.otherblue>p,
.timer>p,
.woordle>p {
  color: white;
}

.dark img,
.blue img,
.red img,
.sudoku img,
.settlers img,
.otherblue img,
.timer img,
.woordle img {
  filter: invert(1);
}

.otherblue {
  background-color: #485fc7;
}

.red {
  background-color: darkred;
}

.cornflowerblue {
  background-color: cornflowerblue;
}

.dark {
  background-color: #363636;
}

.lightgreen {
  background-color: lightgreen;
}

.drinks {
  background-color: rgb(255, 180, 0);
}

.sudoku {
  background-color: #d05;
}

.settlers {
  background-color: orangered;
}

.rhythm {
  background-color: paleturquoise;
}

.timer {
  background-color: #222;
}

.memory {
  background-color: lightblue
}

.woordle {
  background-color: purple;
}

.app-tile {
  padding: 0.5rem;
  border-radius: 1rem;
  max-width: 144px;
}
</style>