<template>
  <div class="sunset">
    <NavBar :projectsunset="true">
      <template v-slot:brand>
        <h1>
          <RouterLink
            class="navbar-item has-text-light"
            :to="{ name: 'ps:home' }"
          >
            Home
          </RouterLink>
        </h1>
      </template>
      <template v-slot:end>
        <RouterLink
          class="navbar-item"
          :to="{ name: 'ps:about' }"
        >About</RouterLink>
        <RouterLink
          class="navbar-item"
          :to="{ name: 'ps:blog:feed' }"
        >Portfolio</RouterLink>
      </template>
    </NavBar>
    <div class="section">
      <RouterView />
    </div>
    <PsFooter />
  </div>
</template>

<script>
import PsFooter from "./Footer"
import { NavBar } from "@/shared-vue"

export default {
  components: {
    PsFooter,
    NavBar,
  },
  name: "ProjectSunset"
}
</script>

<style scoped>
.subtitle a {
  text-decoration: underline;
}

.sunset {
  background: linear-gradient(rgb(0, 0, 50), rgb(30, 0, 50));
  min-height: 100vh;
}
</style>
