<template>
  <article class="box content">
    <h2>
      <RouterLink :to="to">
        {{ articleSnippet.title }}
      </RouterLink>
    </h2>
    <p>{{ articleSnippet.snippet }}</p>
    <div class="tags">
      <span class="tag is-primary">{{ articleSnippet.read_minutes }} min read</span>
      <span
        v-for="tag in articleSnippet.tags"
        :key="tag.tag"
        class="tag is-light"
        :class="tag.class"
      >{{ tag.tag }}</span>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    articleSnippet: Object,
  },
  computed: {
    to() {
      return { name: 'ps:blog:article', params: { slug: this.articleSnippet.slug } }
    }
  }
}
</script>
