<template>
  <footer class="footer">
    <div class="content has-text-centered has-text-light">
      <p>Project Sunset by Bob Luursema</p>
      <a href="https://icons8.com/">Icons from Icons8</a>
      <br />
      <a href="disclaimer/">Privacy policy &amp; disclaimer</a>
    </div>
    <div class="buildtimestamp">{{ buildtimestamp }}</div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      buildtimestamp: null
    }
  },
  created() {
    let metas = document.getElementsByTagName("meta")
    for (let meta of metas) {
      if (meta.getAttribute("name") === "buildtimestamp") {
        this.buildtimestamp = new Date(
          parseInt(meta.getAttribute("content"))
        ).toISOString()
        return
      }
    }
  }
}
</script>

<style scoped>
.footer {
  background: none;
}
.buildtimestamp {
  position: absolute;
  right: 0;
  margin: 0.3rem;
  font-size: 0.7rem;
}
</style>

