<template>
  <div
    class="box"
    id="login_form"
  >
    <form
      v-if="authenticated"
      @submit.prevent
    >
      <h2
        id="logged_in_title"
        class="subtitle"
      >
        Welcome {{ user.username }}!
      </h2>
      <div class="buttons">
        <button
          id="logout"
          class="button"
          @click="logout"
        >Logout</button>
        <RouterLink
          id="account"
          class="button"
          :to="{ name: 'accounts:home' }"
        >Account</RouterLink>
      </div>
      <div
        v-if="user.superuser"
        class="box"
        style="margin-top: 1em"
      >
        <h2 class="subtitle">Superuser stuff</h2>
        <a href="/support/">Support Tools</a>
        <br />
        <a href="/admin/">Django Admin</a>
      </div>
    </form>

    <div v-if="!authenticated">
      <Login />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { Login } from '@/shared-vue'

export default {
  components: {
    Login
  },
  computed: {
    ...mapState({
      authenticated: state => state.auth.authenticated,
      user: state => state.auth.user,
      google_client_id: state => state.auth.google_client_id
    })
  },
  methods: {
    data() {
      return {
        form: {
          username: '',
          password: ''
        }
      }
    },
    logout() {
      this.$api.get(
        'accounts/logout/',
        response => {
          if (response.success) {
            this.$store.commit('auth/logout')
          } else {
            this.$notify({
              text: 'Logout failed',
              style: 'error'
            })
          }
        },
        true
      )
    }
  }
}
</script>