<template>
  <form
    class="box"
    @submit.prevent
  >
    <h2
      v-if="updateflag"
      class="subtitle"
    >Update balance {{ selected_date }}</h2>
    <h2
      v-if="!updateflag"
      class="subtitle"
    >Add balance {{ selected_date }}</h2>
    <div
      v-for="(balance, index) in balances"
      :key="balance.item || balance.item_obj.id"
    >
      <label
        class="label"
        :for="balance.item || balance.item_obj.id"
      >{{
        items.filter(item => balance.item_obj === undefined ? item.id === balance.item : item.id
          === balance.item_obj.id)[0].name
      }}</label>
      <div class="field is-grouped">
        <div class="control">
          <input
            :id="balance.item || balance.item_obj.id"
            v-model="balance.amount"
            class="input"
            type="number"
            step="0.01"
          />
        </div>
        <div class="control">
          <button
            :data-testid="`delete-${balance.item || balance.item_obj.id}`"
            class="button is-outlined is-danger"
            @click="balances.splice(index, 1)"
          >X</button>
        </div>
      </div>
    </div>
    <hr />
    <label
      class="label"
      for="adder"
    >Add item</label>
    <div class="field is-grouped">
      <div class="control">
        <div class="select">
          <select
            v-model="selected_item"
            id="adder"
          >
            <option></option>
            <option
              v-for="option in remaining_items"
              :value="option.id"
              :key="option.id"
            >{{ option.name }}</option>
          </select>
        </div>
      </div>
      <div class="control">
        <button
          class="button is-outlined"
          @click="addItem"
        >Add</button>
      </div>
    </div>
    <div class="buttons">
      <button
        id="b_submit"
        @click="submit"
        class="button is-primary"
      >Submit</button>
    </div>
  </form>
</template>

<script>
import { mapState } from "vuex"

export default {
  props: ["updateflag", "balances", "selected_date"],
  data() {
    return {
      selected_item: ""
    }
  },
  created() {
    this.$store.dispatch("finances/balanceItems/get")
  },
  computed: {
    ...mapState({
      items: state => state.finances.balanceItems.data
    }),
    remaining_items() {
      return this.items.filter(
        item => !this.items_currently_on_balance.includes(item.id)
      )
    },
    items_currently_on_balance() {
      let a = []
      for (let b of this.balances) {
        if (b.item !== undefined) {
          a.push(b.item)
        } else {
          a.push(b.item_obj.name)
        }
      }
      return a
    }
  },
  methods: {
    addItem() {
      this.balances.push({
        item: this.selected_item,
        amount: 0,
        date: this.selected_date
      })
    },
    close() {
      this.$emit("close", { action: "close" })
    },
    submit() {
      if (this.updateflag) {
        let b = this.balances.map(x => {
          if (x.item === undefined) {
            x.item = x.item_obj.id
          }
          return x
        })
        this.$api.put("finances/api/balances/update_list/", b, response => {
          this.$emit("close", { action: "put", data: response })
        })
      } else {
        this.$api.post("finances/api/balances/", this.balances, response => {
          this.$emit("close", { action: "post", data: response })
        })
      }
    },
    del() {
      this.$api.delete(`finances/api/balances/${this.item.id}/`, response => {
        this.$emit("close", { action: "delete" })
      })
    }
  }
}
</script>
