<template>
  <div>
    <h1 class="title">{{ $t("Balance") }}</h1>
    <table
      class="table is-striped"
      aria-label="Balance"
      data-testid="balance-table"
    >
      <thead>
        <tr>
          <th scope="col">{{ $t("Date") }}</th>
          <th scope="col">{{ $t("Total assets") }}</th>
          <th
            scope="col"
            v-for="name in current_items_asset"
            class="is-size-7 has-text-weight-normal"
            :key="name"
          >
            {{ name }}
          </th>
          <th scope="col">{{ $t("Total investments") }}</th>
          <th
            scope="col"
            v-for="name in current_items_investment"
            class="is-size-7 has-text-weight-normal"
            :key="name"
          >
            {{ name }}
          </th>
          <th scope="col">{{ $t("Total liabilities") }}</th>
          <th
            scope="col"
            v-for="name in current_items_liabilities"
            :key="name"
            class="is-size-7 has-text-weight-normal"
          >
            {{ name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="date in dates"
          v-on:click="startForm(true, date)"
          :key="date"
        >
          <td>{{ date }}</td>
          <td>{{ $filters.currency(totals[date].asset) }}</td>
          <td
            class="is-size-7"
            v-for="name in current_items_asset"
            :key="name"
          >
            {{
              $filters.currency(
                (
                  balances.filter(
                    (obj) => obj.item_obj.name == name && obj.date == date
                  )[0] || { amount: 0 }
                ).amount
              )
            }}
          </td>
          <td>{{ $filters.currency(totals[date].investment) }}</td>
          <td
            class="is-size-7"
            v-for="name in current_items_investment"
            :key="name"
          >
            {{
              $filters.currency(
                (
                  balances.filter(
                    (obj) => obj.item_obj.name == name && obj.date == date
                  )[0] || { amount: 0 }
                ).amount
              )
            }}
          </td>
          <td>{{ $filters.currency(totals[date].liability) }}</td>
          <td
            class="is-size-7"
            v-for="name in current_items_liabilities"
            :key="name"
          >
            {{
              $filters.currency(
                (
                  balances.filter(
                    (obj) => obj.item_obj.name == name && obj.date == date
                  )[0] || { amount: 0 }
                ).amount
              )
            }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="field is-grouped">
      <div class="control">
        <input
          id="selected_date"
          type="date"
          class="input"
          v-model="selected_date"
          @change="dateChange"
        />
      </div>
      <div class="control">
        <button
          class="button"
          @click="startForm(false, selected_date)"
        >
          Add Balance
        </button>
      </div>
    </div>
    <Modal
      :active="formActive"
      @close="formActive = false"
    >
      <BalanceForm
        @close="closeForm"
        :updateflag="updateflag"
        :balances="selected"
        :selected_date="selected_date"
      />
    </Modal>
    <hr />
    <ModelTable
      modelName="Balance Item"
      v-model="balanceItemForm"
      :data="balanceItems"
      :config="balanceItemConfig"
      apiStore="finances/balanceItems"
      :tableFields="['name', 'balance_type']"
    />
  </div>
</template>

<script>
import { ModelTable, Modal } from "@/shared-vue"
import BalanceForm from "./BalanceForm"
import { mapState } from "vuex"

export default {
  components: {
    Modal,
    BalanceForm,
    ModelTable
  },
  data() {
    return {
      selected_date: new Date().toISOString().substring(0, 8) + '01',
      balances: [],
      selected: [],
      formActive: false,
      updateflag: false,
      balanceItemConfig: {
        url: 'finances/api/balance-items/',
        fields: {
          name: { label: 'Name', type: 'text', default: '' },
          balance_type: {
            label: 'Type', type: 'select', options: [
              { id: 1, value: 'asset', name: 'Asset' },
              { id: 2, value: 'liability', name: 'Liability' },
              { id: 3, value: 'investment', name: 'Investment' }
            ],
            optionValue: 'value', optionName: 'name', default: 'asset'
          },
          archived: { label: "Archived", type: 'checkbox', default: false }
        }
      },
      balanceItemForm: {
        name: '',
        balance_type: '',
        archived: null
      }
    }
  },
  created() {
    this.getBalances()
    this.$store.dispatch('finances/balanceItems/get')
  },
  computed: {
    ...mapState({
      balanceItems: state => state.finances.balanceItems
    }),
    current_items_asset() {
      return [
        ...new Set(this.balances.filter(obj => obj.item_obj.balance_type === 'asset').map(obj => obj.item_obj.name))
      ]
    },
    current_items_liabilities() {
      return [
        ...new Set(this.balances.filter(obj => obj.item_obj.balance_type === 'liability').map(obj => obj.item_obj.name))
      ]
    },
    current_items_investment() {
      return [
        ...new Set(
          this.balances.filter(obj => obj.item_obj.balance_type === 'investment').map(obj => obj.item_obj.name)
        )
      ]
    },
    dates() {
      return [...new Set(this.balances.map(obj => obj.date))].sort()
    },
    totals() {
      let totals = {}
      for (let d of this.dates) {
        totals[d] = {
          asset: 0,
          liability: 0,
          investment: 0
        }
      }
      for (let b of this.balances) {
        totals[b.date][b.item_obj.balance_type] = totals[b.date][b.item_obj.balance_type] + b.amount
      }
      return totals
    }
  },
  methods: {
    dateChange() {
      if (!this.selected_date.endsWith('01')) {
        this.selected_date = this.selected_date.replace(/\d{2}$/, '01')
      }
    },
    getBalances() {
      let today = new Date()
      this.$api.get(
        `finances/api/balances/?date=ge(${today.getFullYear() - 1}-${today.getMonth() + 1}-01)`,
        response => {
          this.balances = response
        },
        true
      )
    },
    startForm(updateflag, date) {
      let balance = this.balances.filter(obj => obj.date === date)
      this.selected_date = date
      this.selected = JSON.parse(JSON.stringify(balance))
      this.updateflag = updateflag
      this.formActive = true
    },
    closeForm(update) {
      switch (update.action) {
        case 'put':
          this.balances = this.balances.filter(obj => obj.date !== this.selected_date)
          this.balances.push(...update.data)
          break
        case 'post':
          this.balances.push(...update.data)
          break
        case 'delete':
          this.balances = this.balances.filter(obj => {
            return obj.id != this.selected.id
          })
          break
        case 'close':
          break
      }
      this.formActive = false
    }
  }
}
</script>
