<template>
  <div>
    <div class="right-side-bar">
      <nav
        class="main-nav"
        aria-label="finances-navigation"
      >
        <h1>Finances</h1>
        <ul>
          <li>
            <RouterLink
              id="link_to_dashboard"
              :to="{ name: 'finances:dashboard' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-control-panel.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Dashboard") }}</span>
            </RouterLink>
          </li>
          <li>
            <RouterLink
              id="link_to_reports"
              :to="{ name: 'finances:reports' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-statistics.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Reports") }}</span>
            </RouterLink>
          </li>
          <li>
            <RouterLink
              id="link_to_balance"
              :to="{ name: 'finances:balances' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-scales.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Balance") }}</span>
            </RouterLink>
          </li>
          <li>
            <RouterLink
              id="link_to_transactions"
              :to="{ name: 'finances:transactions' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-purchase-order.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Transactions") }}</span>
            </RouterLink>
          </li>
          <li>
            <RouterLink
              id="link_to_categories"
              :to="{ name: 'finances:categories' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-categorize.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Categories") }}</span>
            </RouterLink>
          </li>
          <li>
            <RouterLink
              id="link_to_search_terms"
              :to="{ name: 'finances:search-terms' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-automation.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Search Terms") }}</span>
            </RouterLink>
          </li>
          <li>
            <RouterLink
              id="link_to_processing"
              :to="{ name: 'finances:processing' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-upload-50.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Processing") }}</span>
            </RouterLink>
          </li>
          <li>
            <RouterLink
              id="link_to_investments"
              :to="{ name: 'finances:investments' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-investment-96.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Investment") }}</span>
            </RouterLink>
          </li>
          <li>
            <RouterLink
              :to="{ name: 'finances:amortize-items' }"
              class="main-link"
            >
              <img
                src="../../assets/finances/icons8-investment-96.png"
                alt=""
              />
              <span class="desktop-only">{{ $t("Amortize") }}</span>
            </RouterLink>
          </li>
        </ul>
      </nav>

      <nav
        class="bottom-nav"
        aria-label="footer-navigation"
      >
        <ul>
          <li>
            <RouterLink :to="{ name: 'ps:home' }">
              <img
                src="../../assets/finances/icons8-external.png"
                alt=""
              />
              <span class="desktop-only">Project Sunset</span>
            </RouterLink>
          </li>
        </ul>
      </nav>
    </div>
    <LoginPopup v-if="!authenticated">
      <p>The Finances app is used to keep track of personal finances, with automatic categorizing of transactions and
        some graphs and tables for viewing them. It is
        only available after logging in. You can read more about this app on my <RouterLink
          :to="{ name: 'ps:blog:article', params: { slug: 'finances' } }"
        >blog</RouterLink>.
      </p>
    </LoginPopup>
    <RouterView
      class="main"
      v-if="authenticated"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { LoginPopup } from '@/shared-vue'

export default {
  components: {
    LoginPopup,
  },
  computed: mapState({
    authenticated: state => state.auth.authenticated,
    user: state => state.auth.user
  })
}
</script>

<style lang="scss" scoped>
.right-side-bar {
  height: 100vh;
  position: fixed;
  background-color: #222;
  color: #bbb;
  width: 11em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: 1000px) {
    width: 3em;
  }

  .main-nav,
  .bottom-nav {
    h1 {
      font-size: 1.7em;
      padding: 0.5em;
      margin: 0;
      text-align: center;

      @media only screen and (max-width: 1000px) {
        display: none;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 1.2em;
      color: #bbb;
      padding: 0.5em;
      transition: background-color 0.5s;
    }

    a:hover {
      background-color: #444;
    }

    img {
      height: 1.4em;
      width: 1.4em;
    }

    span {
      margin-left: 0.5em;
    }
  }

  .main-nav {
    li:first-child {
      border-top: 2px solid #191919;
    }

    li {
      border-bottom: 2px solid #191919;
    }
  }

  .bottom-nav {
    margin-bottom: 1em;
  }
}

.main {
  margin-left: 11em;
  padding: 1rem;

  @media only screen and (max-width: 1000px) {
    margin-left: 3em;
  }
}

.desktop-only {
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}
</style>
