<template>
  <div>
    <h1 class="title">Budget</h1>
    <table
      class="basic-table"
      aria-label="Budget"
    >
      <thead>
        <tr>
          <th scope="col">
            <select
              class="select"
              v-model="currentSet"
            >
              <option
                selected
                value="income"
              >Income</option>
              <option value="expense">Expense</option>
            </select>
          </th>
          <th scope="col">Budget</th>
          <th scope="col">Monthly Average</th>
          <th scope="col">Difference</th>
          <th scope="col">New</th>
        </tr>
      </thead>
      <tbody
        v-for="category in currentData"
        :key="category.id"
      >
        <tr class="category-row">
          <td v-on:click="
            currentCategory === category.id
              ? (currentCategory = null)
              : (currentCategory = category.id)
            ">
            {{ category.name }}
          </td>
          <td>{{ $filters.currency(category.budget) }}</td>
          <td>{{ $filters.currency(category.monthly_average) }}</td>
          <td>
            {{ $filters.currency(category.monthly_average - category.budget) }}
          </td>
          <td>
            <input
              disabled
              type="number"
              step="0.01"
              :value="category.specifications
                .reduce((a, c) => {
                  return parseFloat(a) + parseFloat(c.new_budget)
                }, 0)
                .toFixed(2)
                "
            />
          </td>
        </tr>
        <template v-if="category.id === currentCategory">
          <tr
            class="spec-row"
            v-for="specification in category.specifications"
            :key="specification.id"
          >
            <td>{{ specification.name }}</td>
            <td>{{ $filters.currency(specification.budget) }}</td>
            <td>{{ $filters.currency(specification.monthly_average) }}</td>
            <td>
              {{
                $filters.currency(
                  specification.monthly_average - specification.budget
                )
              }}
            </td>
            <td>
              <input
                :data-testid="`new-budget-${specification.id}`"
                type="number"
                step="0.01"
                v-model="specification.new_budget"
              />
            </td>
          </tr>
        </template>
      </tbody>
      <tfoot>
        <tr>
          <td>Total income</td>
          <td>{{ $filters.currency(totalIncome.budget) }}</td>
          <td>{{ $filters.currency(totalIncome.monthly_average) }}</td>
          <td>
            {{
              $filters.currency(
                totalIncome.monthly_average - totalIncome.budget
              )
            }}
          </td>
          <td>{{ $filters.currency(totalIncome.new_budget) }}</td>
        </tr>
        <tr>
          <td>Total expense</td>
          <td>{{ $filters.currency(totalExpense.budget) }}</td>
          <td>{{ $filters.currency(totalExpense.monthly_average) }}</td>
          <td>
            {{
              $filters.currency(
                totalExpense.monthly_average - totalExpense.budget
              )
            }}
          </td>
          <td>{{ $filters.currency(totalExpense.new_budget) }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="pies">
      <div class="box">
        <canvas id="old-pie"></canvas>
      </div>
      <div class="box">
        <canvas id="new-pie"></canvas>
      </div>
    </div>
    <button
      class="button"
      @click="newBudget"
    >Store new budget</button>
  </div>
</template>

<script>
import { Chart, PieController, ArcElement, Tooltip, Title, Legend } from "chart.js"

Chart.register(PieController, ArcElement, Tooltip, Title, Legend)

export default {
  data() {
    return {
      data: [],
      currentSet: 'income',
      currentCategory: null,
    }
  },
  computed: {
    currentData() {
      return this.data.filter(
        c => (this.currentSet === 'income' && c.is_income) || (this.currentSet === 'expense' && !c.is_income)
      )
    },
    oldChartData() {
      if (this.currentCategory === null) {
        return {
          data: this.currentData.map(category => category.budget),
          labels: this.currentData.map(category => category.name)
        }
      } else {
        return {
          data: this.data
            .filter(category => category.id === this.currentCategory)[0]
            .specifications.map(category => category.budget),
          labels: this.data.filter(category => category.id === this.currentCategory)[0].specifications.map(c => c.name)
        }
      }
    },
    newChartData() {
      if (this.currentCategory === null) {
        return {
          data: this.currentData.map(category => category.new_budget),
          labels: this.currentData.map(category => category.name)
        }
      } else {
        let category = this.data.filter(category => category.id === this.currentCategory)[0]
        return {
          data: category.specifications.map(category => category.new_budget),
          labels: category.specifications.map(c => c.name)
        }
      }
    },
    totalIncome() {
      return this.data.reduce(
        (a, category) => {
          if (!category.is_income) {
            return a
          }
          a.budget = a.budget + category.budget
          a.monthly_average = a.monthly_average + category.monthly_average
          a.new_budget = a.new_budget + category.new_budget
          return a
        },
        { budget: 0, monthly_average: 0, new_budget: 0 }
      )
    },
    totalExpense() {
      return this.data.reduce(
        (a, category) => {
          if (category.is_income) {
            return a
          }
          a.budget = a.budget + category.budget
          a.monthly_average = a.monthly_average + category.monthly_average
          a.new_budget = a.new_budget + category.new_budget
          return a
        },
        { budget: 0, monthly_average: 0, new_budget: 0 }
      )
    }
  },
  watch: {
    oldChartData() {
      if (!this.$charts.oldChart) return
      this.$charts.oldChart.data.labels = this.oldChartData.labels
      this.$charts.oldChart.data.datasets[0].data = this.oldChartData.data
      this.$charts.oldChart.update()
    },
    newChartData() {
      if (!this.$charts.newChart) return
      this.$charts.newChart.data.labels = this.newChartData.labels
      this.$charts.newChart.data.datasets[0].data = this.newChartData.data
      this.$charts.newChart.update()
    },
    currentSet() {
      this.currentCategory = null
    }
  },
  created() {
    this.loadData()
  },
  methods: {
    loadData() {
      this.$api.get('finances/api/report/budget/', response => {
        let data = response.data.map(c => {
          c.budget = parseFloat(c.budget)
          c.specifications = c.specifications.map(s => {
            s.budget = parseFloat(s.budget)
            s.new_budget = s.budget
            return s
          })
          c.new_budget = c.specifications.reduce((a, s) => {
            return a + s.budget
          }, 0)
          return c
        })
        this.data = data
        this.createCharts()
      })
    },
    newBudget() {
      let data = this.data.map(c => {
        c.new_budget = c.specifications
          .reduce((a, s) => {
            return parseFloat(a) + parseFloat(s.new_budget)
          }, 0)
          .toFixed(2)
        return c
      })
      this.$api.post('finances/api/new-budget/', data, response => {
        this.$charts.oldChart.destroy()
        this.$charts.newChart.destroy()
        this.loadData()
      })
    },
    createCharts() {
      this.$charts = {}
      const ctxOld = document.getElementById('old-pie')
      this.$charts.oldChart = new Chart(ctxOld, {
        type: 'pie',
        data: {
          datasets: [
            {
              backgroundColor: [
                '#001f3f',
                '#0074D9',
                '#7FDBFF',
                '#39CCCC',
                '#3D9970',
                '#2ECC40',
                '#01FF70',
                '#FFDC00',
                '#FF851B',
                '#FF4136',
                '#85144B',
                '#F012BE',
                '#B10DC9',
                '#11111',
                '#AAAAAA',
                '#DDDDDD'
              ],
              data: this.oldChartData.data
            }
          ],
          labels: this.oldChartData.labels
        },
        options: {
          plugins: {
            title: {
              text: 'Current budget',
              display: true,
              fontSize: 16
            },
          }
        }
      })
      const ctxNew = document.getElementById('new-pie')
      this.$charts.newChart = new Chart(ctxNew, {
        type: 'pie',
        data: {
          datasets: [
            {
              backgroundColor: [
                '#001f3f',
                '#0074D9',
                '#7FDBFF',
                '#39CCCC',
                '#3D9970',
                '#2ECC40',
                '#01FF70',
                '#FFDC00',
                '#FF851B',
                '#FF4136',
                '#85144B',
                '#F012BE',
                '#B10DC9',
                '#11111',
                '#AAAAAA',
                '#DDDDDD'
              ],
              data: this.newChartData.data
            }
          ],
          labels: this.newChartData.labels
        },
        options: {
          plugins: {
            title: {
              text: 'New budget',
              display: true,
              fontSize: 16
            },
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.pies {
  display: flex;

  &>div {
    width: 550px;
    margin: 1em;
  }
}

table.basic-table {
  border-collapse: collapse;

  &>thead {
    &>tr {
      background-color: blue;

      &>th {
        color: white;
        text-align: left;
        padding: 0.5rem 1rem;
        font-weight: normal;
      }
    }
  }

  &>tbody {
    &>tr {
      &.category-row {
        background-color: #f2f2f2;
      }

      &>td:first-child {
        cursor: pointer;
        background-color: lightblue;
        text-align: left;
        width: 10rem;
      }

      &>td {
        padding: 0.5rem 1rem;
        text-align: right;
      }

      &.spec-row {
        &>td {
          padding: 0.25rem 1rem;
          font-size: 0.8rem;
          font-style: italic;
        }
      }
    }
  }

  &>tfoot {
    &>tr {
      background-color: lightblue;

      &>td {
        padding: 0.5rem 1rem;
        text-align: right;

        &:first-child {
          text-align: left;
          font-weight: bold;
        }
      }
    }
  }
}
</style>
