<template>
  <div>
    <h1 class="title">{{ $t("Categories") }}</h1>
    <div class="columns">
      <div
        class="column"
        v-for="is_income in [true, false]"
        :key="is_income"
      >
        <table
          class="basic-table"
          aria-label="Categories"
        >
          <thead>
            <tr>
              <th
                scope="col"
                colspan="2"
              >
                {{ $t(is_income ? "Income" : "Expense") }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="category in categories.filter(
                (obj) => obj.is_income === is_income
              )"
              :key="category.pk"
            >
              <td>
                <strong @click="startForm(null, category, is_income)">{{
                  category.name
                  }}</strong>
                <br />
                <span style="text-align: right">{{
                  $filters.currency(category.budget)
                  }}</span>
                <span style="float: right; margin-left: 0.4rem">
                  <button
                    v-if="showCategory !== category.id"
                    @click="showCategory = category.id"
                    role="button"
                    :data-testid="`show_${category.name}`"
                  >
                    Show
                  </button>
                  <button
                    v-else
                    @click="showCategory = null"
                  >Hide</button>
                </span>
              </td>
              <td class="specifications">
                <div v-if="showCategory !== category.id">
                  {{ category.specifications.length }} {{ $t("subcategories") }}
                </div>
                <table
                  v-else
                  aria-label="Specifications"
                >
                  <tbody>
                    <tr
                      v-for="specification in category.specifications"
                      :key="specification.id"
                    >
                      <td>{{ $filters.currency(specification.budget) }}</td>
                      <td @click="startForm(category, specification, is_income)">
                        {{ specification.name }}
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2">
                        <button @click="startForm(category, null, is_income)">
                          Add specification
                        </button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <button
                  class="button"
                  :data-testid="`add_category_${is_income ? 'income' : 'expense'}`"
                  @click="startForm(null, null, is_income)"
                >
                  Add category
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <modal
      :active="formActive"
      @close="formActive = false"
    >
      <model-form
        v-model="categoryModel"
        :config="categoryConfig"
        modelName="Category"
        @submit-form="formSubmitted"
      ></model-form>
    </modal>
  </div>
</template>

<script>
import { ModelForm, Modal } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    ModelForm,
    Modal
  },
  data() {
    return {
      formActive: false,
      categoryModel: {
        name: null,
        is_income: null,
        budget: null,
        archived: null,
        ignore_for_transaction_delta: null,
      },
      showCategory: null,
      categoryConfig: {
        url: 'finances/api/categories/',
        fields: {
          name: { label: "Name", type: "text", default: "" },
          is_income: { label: "Is Income", type: "checkbox", default: true },
          budget: { label: "Budget", type: "number", default: 0 },
          specification_of: { label: "specification_of", type: "hidden", default: null },
          specifications: { readOnly: true },
          ignore_for_transaction_delta: { label: "Ignore on balance", type: "checkbox", default: false },
          archived: { label: "Archived", type: "checkbox", default: false }
        }
      }
    }
  },
  computed: {
    ...mapState({
      categories: state => state.finances.categories.data
    })
  },
  created() {
    this.$store.dispatch("finances/categories/get", "?specification_of=null")
  },
  methods: {
    startForm(specification_of, category, is_income) {
      if (category === null) {
        category = {
          name: '',
          ignore_for_transaction_delta: false,
          is_income: is_income,
          budget: 0,
          specification_of: null
        }
      }
      if (specification_of !== null) {
        category.specification_of = specification_of.id
        category.ignore_for_transaction_delta = specification_of.ignore_for_transaction_delta
      }
      this.categoryModel = JSON.parse(JSON.stringify(category))
      this.formActive = true
    },
    formSubmitted(update) {
      this.$store.dispatch("finances/categories/get", "?specification_of=null")
      this.formActive = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/finances.scss";

.basic-table>tfoot {
  background-color: blue;

  td {
    padding: 0.5rem;
  }
}

.specifications {
  td:first-child {
    padding-right: 0.7rem;
    text-align: right;
    width: 5rem;
    font-size: 0.8rem;
    vertical-align: bottom;
  }

  div {
    font-size: 0.8rem;
  }
}
</style>
