<template>
  <div>
    <h1 class="title">Dashboard</h1>
    <div class="row">
      <IncomeStatement/>
    </div>
    <div class="row">
      <BalanceGraph/>
    </div>
    <div class="row">
      <BudgetPie/>
    </div>
  </div>
</template>

<script>
import IncomeStatement from "./dashboards/IncomeStatement.vue";
import BalanceGraph from "./dashboards/BalanceGraph.vue";
import BudgetPie from "./dashboards/BudgetPie.vue";

export default {
  components: {
    IncomeStatement,
    BalanceGraph,
    BudgetPie
  }
};
</script>

<style lang="scss" scoped>
.row {
  display: flex;
}
</style>