<template>
  <div>
    <h1 class="title">Investments</h1>
    <div class="buttons">
      <button
        class="button is-outlined"
        v-on:click="uploadFormActive = !uploadFormActive"
      >
        Process file
      </button>
    </div>
    <upload-investment-file-form
      :active="uploadFormActive"
      @close="closeUploadForm"
    ></upload-investment-file-form>
    <hr />
    <model-table
      modelName="Investment Transactions"
      apiStore="finances/investmentTransactions"
      v-model="form"
      :data="investmentTransactions"
      :config="config"
    ></model-table>
  </div>
</template>

<script>
import UploadInvestmentFileForm from './UploadInvestmentFileForm'
import { ModelTable } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    UploadInvestmentFileForm,
    ModelTable
  },
  data() {
    return {
      uploadFormActive: false,
      form: {
        date: null,
        amount: null,
        account: null,
        transaction_type: null,
      },
    }
  },
  created() {
    this.$store.dispatch('finances/investmentTransactions/get')
    this.$store.dispatch('finances/balanceItems/get')
  },
  computed: {
    ...mapState({
      investmentTransactions: state => state.finances.investmentTransactions,
      balanceItems: state => state.finances.balanceItems.data.filter(item => item.balance_type === 'investment')
    }),
    config() {
      return {
        url: 'finances/api/investment-transactions/',
        fields: {
          date: { label: 'Date', type: 'date', default: null },
          amount: { label: 'Amount', type: 'number', default: 0, format: 'currency' },
          account: {
            label: 'Account',
            type: 'select',
            default: null,
            options: this.balanceItems,
            optionValue: 'id',
            optionName: 'name',
            content: item => item.account_obj.name
          },
          transaction_type: {
            label: 'Type',
            type: 'select',
            default: null,
            options: [
              {
                value: 'dividend',
                name: 'Dividend'
              },
              {
                value: 'deposit',
                name: 'Deposit'
              },
              {
                value: 'withdrawal',
                name: 'Withdrawal'
              },
              {
                value: 'purchase',
                name: 'Purchase'
              }
            ],
            optionValue: 'value',
            optionName: 'name'
          }
        }
      }
    }
  },
  methods: {
    closeUploadForm(action) {
      this.uploadFormActive = false
      if (action.action === 'processed') {
        this.$api.get('finances/api/investment-transactions', response => {
          this.transactions = response
        })
        this.processingResults = action.data
      }
    }
  }
}
</script>