<template>
  <div class="section">
    <div class="columns">
      <div class="column">
        <h2 class="subtitle">Transactions</h2>
        <table
          class="table is-striped"
          aria-label="Processed transaction batches"
        >
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Count</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="transaction in transactions"
              :key="transaction.id"
            >
              <td>{{ transaction.process_datetime }}</td>
              <td>{{ transaction.transactions }}</td>
              <td>
                <ButtonWithConfirm
                  buttonClass="button is-danger"
                  @confirm="del('transaction', transaction.process_datetime)"
                  button-text="Delete All"
                  :confirm-text="`Are you sure you want to delete the transactions of ${transaction.process_datetime}?`"
                  confirm-button-text="Yes, delete them!"
                  cancel-button-text="Cancel"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column">
        <h2 class="subtitle">Investment Transactions</h2>
        <table
          class="table is-striped"
          aria-label="Processed investment batches"
        >
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Count</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="transaction in investmentTransactions"
              :key="transaction.id"
            >
              <td>{{ transaction.process_datetime }}</td>
              <td>{{ transaction.transactions }}</td>
              <td>
                <ButtonWithConfirm
                  buttonClass="button is-danger"
                  @confirm="
                    del('investment-transaction', transaction.process_datetime)
                    "
                  button-text="Delete All"
                  :confirm-text="`Are you sure you want to delete the investment transactions of ${transaction.process_datetime}?`"
                  confirm-button-text="Yes, delete them!"
                  cancel-button-text="Cancel"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { ButtonWithConfirm } from '@/shared-vue'

export default {
  components: {
    ButtonWithConfirm
  },
  data() {
    return {
      transactions: [],
      investmentTransactions: []
    }
  },
  created() {
    this.getData()
  },
  methods: {
    getData() {
      this.$api.get('finances/api/processing-timestamps/', response => {
        this.transactions = response.transactions
        this.investmentTransactions = response.investment_transactions
      })
    },
    del(category, datetime) {
      this.$api.delete(
        `finances/api/processing-timestamps/?category=${category}&datetime=${datetime}`,
        response => {
          this.getData()
        },
        true
      )
    }
  }
}
</script>
