<template>
  <div>
    <h1 class="title">{{ $t("Processing") }}</h1>
    <div class="buttons">
      <button
        class="button is-outlined"
        @click="uploadFormActive = !uploadFormActive"
      >
        {{ $t("Process file") }}
      </button>
      <router-link
        class="button"
        :to="{ name: 'finances:processing-timestamps' }"
      >{{ $t("View processed files") }}</router-link>
    </div>

    <div
      v-if="processingResults !== null"
      class="notification"
    >
      {{ $t("Transactions in file") }}: {{ processingResults.count }}<br />
      {{ $t("Transactions matched with search term") }}:
      {{ processingResults.hits }} ({{
        Math.round(processingResults.percentage)
      }}%)<br />
      {{ $t("Transactions to process manually") }}:
      {{ processingResults.count - processingResults.hits }}
    </div>

    <modal
      :active="uploadFormActive"
      @close="uploadFormActive = false"
    >
      <div class="box">
        <h2 class="subtitle">{{ $t("Upload file") }}</h2>
        <file-input
          v-model="uploadForm.files"
          label="File"
        ></file-input>
        <select-input
          v-model="uploadForm.dataset"
          label="Dataset"
          :options="datasets.data"
          optionValue="id"
          optionName="name"
        ></select-input>
        <button
          class="button"
          @click="uploadFile"
        >{{ $t("Process") }}</button>
      </div>
    </modal>

    <div v-if="unprocessedTransactions.length">
      <table
        class="basic-table"
        aria-label="Unprocessed transactions"
      >
        <thead>
          <tr>
            <th scope="col">{{ $t("Date") }}</th>
            <th scope="col">{{ $t("Amount") }}</th>
            <th scope="col">{{ $t("Description") }}</th>
            <th scope="col">{{ $t("Mededeling") }}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="transaction in unprocessedTransactions"
            :key="transaction.id"
          >
            <td @click="openTransaction(transaction)">
              {{ transaction.data.Datum }}
            </td>
            <td>
              {{ $filters.currency(transaction.data["Bedrag (EUR)"]) }}
              {{ transaction.data["Af Bij"] }}
            </td>
            <td>{{ transaction.data["Naam / Omschrijving"] }}</td>
            <td>{{ transaction.data["Mededelingen"] }}</td>
            <td>
              <button
                class="button is-outlined is-danger"
                @click="deleteTransaction(transaction)"
              >
                {{ $t("Delete") }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <modal
      :active="transactionFormActive"
      @close="transactionFormActive = false"
    >
      <process-transaction
        :unprocessedTransaction="selectedTransaction"
        @done="deleteTransaction(null)"
      ></process-transaction>
    </modal>
  </div>
</template>

<script>
import ProcessTransaction from './components/ProcessTransaction.vue'
import { Modal, FileInput, SelectInput } from '@/shared-vue'
import { mapState } from 'vuex'

export default {
  components: {
    ProcessTransaction,
    Modal,
    FileInput,
    SelectInput
  },
  data() {
    return {
      uploadFormActive: false,
      unprocessedTransactions: [],
      processingResults: null,
      newTransaction: null,
      selectedTransaction: null,
      transactionFormActive: false,
      uploadForm: {
        files: null,
        dataset: null,
      }
    }
  },
  computed: {
    ...mapState({
      datasets: state => state.finances.datasets
    }),
    columns() {
      if (this.unprocessedTransactions.length === 0) return []
      return Object.keys(this.unprocessedTransactions[0].data)
    }
  },
  created() {
    this.$api.get(
      'finances/api/unprocessed-transactions/',
      response => {
        this.unprocessedTransactions = response.results
      },
      true
    )
  },
  methods: {
    uploadFile() {
      this.$api.postFiles(
        'finances/api/upload-file/',
        this.uploadForm,
        response => {
          this.uploadFormActive = false
          this.processingResults = response
          this.$api.get(
            'finances/api/unprocessed-transactions/',
            response2 => {
              this.unprocessedTransactions = response2.results
            }, true)
        },
        true
      )
    },
    openTransaction(transaction) {
      this.transactionFormActive = true
      this.selectedTransaction = transaction
    },
    deleteTransaction(transaction) {
      const t_id = transaction == null ? this.selectedTransaction.id : transaction.id
      this.transactionFormActive = false
      this.$api.delete(`finances/api/unprocessed-transactions/${t_id}/`, response => {
        this.unprocessedTransactions = this.unprocessedTransactions.filter(obj => obj.id !== t_id)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/finances.scss";
</style>
