<template>
  <div>
    <h1 class="title">Reports</h1>
    <router-link class="button is-large" :to="{name: 'finances:year-table'}">Year Table</router-link>
    <router-link class="button is-large" :to="{name: 'finances:budget'}">Budget</router-link>
  </div>
</template>