<template>
  <div>
    <model-table
      modelName="Datasets"
      :data="datasets"
      :config="datasetConfig"
      v-model="datasetModel"
      apiStore="finances/datasets"
      @select-item="selectDataset"
    ></model-table>
    <hr />
    <model-table
      v-if="selectedDataset"
      :modelName="'Search Terms of ' + selectedDataset"
      :data="searchTerms"
      :config="searchTermConfig"
      v-model="searchTermModel"
      :tableFields="['term', 'field', 'specification']"
      @delete="refreshData"
      @post="refreshData"
      @put="refreshData"
    >
      <template v-slot:extra-form-inputs>
        <specification-select v-model="searchTermModel.specification"></specification-select>
      </template>
    </model-table>
  </div>
</template>

<script>
import { ModelTable } from "@/shared-vue"
import { mapState } from "vuex"
import SpecificationSelect from "./components/SpecificationSelect"

export default {
  components: {
    ModelTable,
    SpecificationSelect
  },
  computed: {
    ...mapState({
      datasets: state => state.finances.datasets,
    })
  },
  data() {
    return {
      searchTermModel: {
        term: null,
        field: null,
        specification: null,
        dataset: null,
      },
      datasetModel: {
        name: null,
        date_field: null,
        date_format: null,
        amount_field: null
      },
      searchTerms: {
        data: []
      },
      selectedDataset: null,
      datasetConfig: {
        url: 'finances/api/datasets/',
        fields: {
          name: { label: 'name', type: 'text', default: '' },
          date_field: { label: 'date_field', type: 'text', default: '' },
          date_format: { label: 'date_format', type: 'text', default: '' },
          amount_field: { label: 'amount_field', type: 'text', default: '' }
        }
      },
      searchTermConfig: {
        url: 'finances/api/search-terms/',
        fields: {
          term: { label: 'term', type: 'text', default: '' },
          field: { label: 'field', type: 'text', default: '' },
          specification: { label: 'specification', type: 'hidden', default: null, content: (item) => `${item.category_obj.name} - ${item.specification_obj.name}` },
          dataset: { label: 'dataset', type: 'hidden' }
        }
      }
    }
  },
  created() {
    this.$store.dispatch('finances/datasets/get')
  },
  methods: {
    selectDataset(dataset) {
      this.$api.get(
        `finances/api/search-terms/?dataset=${dataset.id}`,
        response => {
          this.searchTerms.data = response
        }
      )
      this.searchTermModel.dataset = dataset.id
      this.selectedDataset = dataset.name
    },
    refreshData() {
      this.$api.get(
        `finances/api/search-terms/?dataset=${this.searchTermModel.dataset}`,
        response => {
          this.searchTerms.data = response
        }
      )
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/finances.scss";
</style>
