<template>
  <div>
    <h1 class="title">Transactions</h1>
    <button
      id="new_transaction"
      @click="newTransaction"
      class="button"
    >
      New transaction
    </button>
    <form
      style="max-width: 30em; margin: 2em 0"
      @submit.prevent="search"
    >
      <div class="field is-horizontal">
        <div
          class="field-label is-normal"
          style="flex-grow: 2"
        >
          <label
            for="query_startdate"
            class="label"
          >Start date (incl.)</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input
                id="query_startdate"
                class="input"
                type="date"
                v-model="query.startDate"
              />
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div
          class="field-label is-normal"
          style="flex-grow: 2"
        >
          <label
            for="query_enddate"
            class="label"
          >End date (excl.)</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input
                id="query_enddate"
                class="input"
                type="date"
                v-model="query.endDate"
              />
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div
          class="field-label is-normal"
          style="flex-grow: 2"
        >
          <label
            for="query_category"
            class="label"
          >Category</label>
        </div>
        <div class="field-body">
          <div class="field">
            <SpecificationSelect
              v-model="query.specification"
              context="transaction-search"
            />
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div
          class="field-label is-normal"
          style="flex-grow: 2"
        >
          <label
            for="query_searchterm"
            class="label"
          >Search Term</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input
                id="query_searchterm"
                class="input"
                type="text"
                v-model="query.searchTerm"
              />
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div
          class="field-label"
          style="flex-grow: 2"
        ></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button
                class="button"
                type="submit"
                id="submitSearch"
              >Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <p>
      Total transactions found: {{ transactions.searchResults.count }}<br />
      Total value of transactions: {{ $filters.currency(totalValue) }}
    </p>
    <table
      class="basic-table"
      aria-label="Transactions"
    >
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Amount<button
              class="sort-button"
              @click="doSortAmount"
            ><img
                :src="descSortIcon"
                alt="sort"
              /></button></th>
          <th scope="col">Category</th>
          <th scope="col">Specification</th>
          <th scope="col">Found by</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        @click="toggleTransactionView(transaction)"
        v-for="transaction in viewTransactions"
        :key="transaction.id"
      >
        <tr>
          <td>{{ transaction.date }}</td>
          <td>{{ $filters.currency(transaction.amount) }}</td>
          <td>{{ transaction.category_obj.name }}</td>
          <td>{{ transaction.specification_obj.name }}</td>
          <td>
            <template v-if="transaction.found_by">{{ transaction.found_by.dataset.name }}:
              {{ transaction.found_by.term }}</template>
          </td>
          <td>
            <button
              @click="update(transaction, $event)"
              class="button is-small"
            >
              Edit
            </button>
          </td>
        </tr>
        <tr v-if="view_transaction === transaction.id">
          <td></td>
          <td colspan="5">
            <div v-if="transaction.found_by">
              <label class="label">Found by:</label>
              <div>
                "{{ transaction.found_by.term }}" in
                {{ transaction.found_by.dataset.name }}
              </div>
            </div>
            <div v-if="transaction.process_datetime">
              <label class="label">Processed at:</label>
              <div>{{ transaction.process_datetime }}</div>
            </div>
            <div v-if="transaction.payload">
              <label class="label">Payload:</label>
              <div>{{ transaction.payload }}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="buttons">
      <button
        class="button"
        @click="page('previous')"
        v-if="transactions.searchResults.previous"
      >
        Previous
      </button>
      <button
        class="button"
        @click="page('next')"
        v-if="transactions.searchResults.next"
      >
        Next
      </button>
    </div>
    <Modal
      @close="formActive = false"
      :active="formActive"
    >
      <ModelForm
        v-model="transactionModel"
        modelName="Transaction"
        :config="transactionConfig"
        @submit-form="formSubmitted"
      >
        <template v-slot:extra-form-inputs="slotProps">
          <SpecificationSelect
            v-model="transactionModel.specification"
            :context="slotProps.context"
          />
        </template>
      </ModelForm>
    </Modal>
  </div>
</template>

<script>
import { ModelForm, Modal, buildFilter } from '@/shared-vue'
import SpecificationSelect from "./components/SpecificationSelect"
import { mapState } from "vuex"
import descSortIcon from '@/assets/finances/icons8-descending-sorting-52.png'

export default {
  components: {
    ModelForm,
    Modal,
    SpecificationSelect
  },
  data() {
    return {
      descSortIcon,
      query: {
        startDate: "",
        endDate: "",
        searchTerm: "",
        specification: null
      },
      formActive: false,
      transactionModel: {
        date: '',
        amount: 0,
        specification: null
      },
      transactionConfig: {
        url: 'finances/api/transactions/',
        fields: {
          date: { label: 'Date', type: 'date', default: "" },
          amount: { label: 'Amount', type: 'number', default: 0, attrs: { step: 0.01 } },
          specification: { label: 'specification', type: 'hidden' }
        }
      },
      createdTransactions: [],
      view_transaction: null,
      totalValue: null,
      sortAmount: false,
    }
  },
  computed: {
    ...mapState({
      transactions: state => state.finances.transactions
    }),
    viewTransactions() {
      return this.createdTransactions.concat(this.transactions.searchResults.data)
    }
  },
  created() {
    this.$store.dispatch("finances/transactions/get")
  },
  methods: {
    doSortAmount() {
      this.sortAmount = true
      this.search()
    },
    formSubmitted(event) {
      this.formActive = false
      if (event.action === 'put') {
        if (this.transactions.searchResults.data.length === 0) {
          this.createdTransactions = this.createdTransactions.map(transaction => {
            if (transaction.id === event.data.id) {
              return event.data
            } else {
              return transaction
            }
          })
        } else {
          this.search()
        }
      } else if (event.action === 'post') {
        this.createdTransactions.push(event.data)
      } else if (event.action === 'delete') {
        if (this.transactions.searchResults.data.length === 0) {
          this.createdTransactions = this.createdTransactions.filter(transaction => transaction.id !== event.data.id)
        } else {
          this.search()
        }
      }
    },
    toggleTransactionView(transaction) {
      this.view_transaction = this.view_transaction !== transaction.id ? transaction.id : null
    },
    search() {
      let query = []
      if (this.query.startDate !== "") {
        query.push({
          field: "date",
          term: this.query.startDate,
          type: "ge"
        })
      }
      if (this.query.endDate !== "") {
        query.push({
          field: "date",
          term: this.query.endDate,
          type: "lt"
        })
      }
      if (this.query.searchTerm !== "") {
        query.push({
          field: "payload",
          term: this.query.searchTerm,
          type: "contains"
        })
      }
      if (this.query.specification) {
        query.push({
          field: 'specification',
          term: this.query.specification,
          type: 'eq'
        })
      }
      if (this.sortAmount) {
        query.push({
          field: 'amount',
          direction: 'desc',
          type: 'sort'
        })
      }
      this.$store.dispatch("finances/transactions/search", query)
      this.$api.get(buildFilter('finances/api/transactions/sum/', query), response => {
        this.totalValue = response.sum
      })
    },
    page(direction) {
      if (direction === 'next') {
        this.$store.dispatch("finances/transactions/nextSearchPage")
      } else {
        this.$store.dispatch("finances/transactions/previousSearchPage")
      }

    },
    newTransaction() {
      this.transactionModel = {
        date: '',
        amount: 0,
        specification: null
      }
      this.formActive = true
    },
    update(transaction, event) {
      event.stopPropagation()
      this.transactionModel = {
        id: transaction.id,
        date: transaction.date,
        amount: transaction.amount,
        specification: transaction.specification_obj.id
      }
      this.formActive = true
    },
    closeForm(update) {
      switch (update.action) {
        case 'put':
          let index = this.transactions.findIndex(obj => obj.pk === update.data.pk)
          this.transactions[index] = update.data
          break
        case 'post':
          this.transactions.push(update.data)
          break
        case 'delete':
          this.transactions = this.transactions.filter(obj => {
            return obj.pk !== this.selected.pk
          })
          break
        case 'close':
          break
      }
      this.formActive = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/finances.scss";

.basic-table {
  width: 100%;
  max-width: 100%;

  td:first-child {
    width: 8rem;
  }

  tbody>tr:nth-child(2)>td {
    text-align: left;
  }
}

.sort-button {
  background-color: transparent;
  border: none;
  margin-left: 0.5em;
  cursor: pointer;

  & img {
    filter: invert(1);
    height: 1.4em;
  }
}
</style>
