<template>
  <div
    v-bind:class="{ 'is-active': active }"
    class="modal"
  >
    <div
      class="modal-background"
      v-on:click="close"
    ></div>
    <div class="modal-content">
      <form
        class="box"
        @submit.prevent
      >
        <h2 class="subtitle">Upload file</h2>
        <div class="field">
          <label class="label">File</label>
          <div class="control">
            <div class="file has-name">
              <label class="file-label">
                <input
                  class="file-input"
                  type="file"
                  @change="fileList = $event.target.files"
                  accept=".csv"
                />
                <span class="file-cta">
                  <span class="file-label">Choose a file…</span>
                </span>
                <span class="file-name">{{ selectedFile }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Dataset</label>
          <div class="control select">
            <select v-model="selected_dataset">
              <option
                v-for="dataset in datasets"
                v-bind:key="'dat_' + dataset.pk"
                v-bind:value="dataset.pk"
              >{{ dataset.name }}</option>
            </select>
          </div>
        </div>
        <button
          class="button is-primary"
          v-on:click="submit"
        >Submit</button>
      </form>
    </div>
    <button
      v-on:click="close"
      class="modal-close is-large"
    ></button>
  </div>
</template>

<script>
export default {
  props: ["active"],
  data() {
    return {
      selected_dataset: null,
      datasets: [],
      fileList: null
    }
  },
  computed: {
    selectedFile() {
      if (!this.fileList) return ""
      return this.fileList[0].name
    }
  },
  created() {
    this.$api.get("finances/api/datasets/", response => {
      this.datasets = response
      this.selected_dataset = response[0].pk
    })
  },
  methods: {
    close() {
      this.selected_dataset = null
      this.file = ""
      this.$emit("close", { action: "close" })
    },
    submit() {
      if (this.selected_dataset) {
        this.$api.postFiles(
          "finances/api/upload-file/",
          { files: this.fileList, dataset: this.selected_dataset },
          response => {
            this.$emit("close", { action: "processed", data: response })
          },
          true
        )
      }
    }
  }
}
</script>
