<template>
  <div>
    <h1 class="title">Year Table</h1>
    <hr />
    <form
      @submit.prevent="refresh_data"
      style="display: flex; align-items: end; gap: 0.5em"
    >
      <DateInput
        label="Start date"
        v-model="startDate"
      />
      <DateInput
        label="End date"
        v-model="endDate"
      />
      <button
        class="button is-primary"
        style="margin-bottom: 0.75rem"
      >Submit</button>
    </form>
    <hr />
    <table
      class="year-table"
      aria-label="Income year table"
    >
      <thead>
        <tr>
          <th scope="col">Income</th>
          <th
            scope="col"
            v-for="month in months"
            :key="month"
          >{{ month }}</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody
        v-for="category of income_categories"
        @click="isHidden[category] = !isHidden[category]"
        :key="category"
      >
        <tr class="category-row">
          <td>{{ category }}</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            <template v-if="month.income.categories[category]">
              {{ $filters.currency(month.income.categories[category].total) }}
            </template>
          </td>
          <td>{{ $filters.currency(totals[category]) }}</td>
        </tr>
        <tr
          v-for="specification of specifications('income', category)"
          :class="{ 'spec-row': true, hidden: isHidden[category] }"
          :key="specification"
        >
          <td>{{ specification }}</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            <template v-if="month.income.categories[category]">
              {{
                $filters.currency(
                  month.income.categories[category].specifications[
                  specification
                  ]
                )
              }}
            </template>
          </td>
          <td>{{ $filters.currency(totals[specification]) }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            {{ $filters.currency(month.income.total) }}
          </td>
          <td>{{ $filters.currency(totals['income']) }}</td>
        </tr>
      </tfoot>
    </table>
    <hr />
    <table
      class="year-table"
      aria-label="Expense year table"
    >
      <thead>
        <tr>
          <th scope="col">Expense</th>
          <th
            scope="col"
            v-for="month in months"
            :key="month"
          >{{ month }}</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody
        v-for="category of expense_categories"
        @click="isHidden[category] = !isHidden[category]"
        :key="category"
      >
        <tr class="category-row">
          <td>{{ category }}</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            <template v-if="month.expenses.categories[category]">
              {{ $filters.currency(month.expenses.categories[category].total) }}
            </template>
          </td>
          <td>{{ $filters.currency(totals[category]) }}</td>
        </tr>
        <tr
          v-for="specification of specifications('expenses', category)"
          :class="{ 'spec-row': true, hidden: isHidden[category] }"
          :key="specification"
        >
          <td>{{ specification }}</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            <template v-if="month.expenses.categories[category]">
              {{
                $filters.currency(
                  month.expenses.categories[category].specifications[
                  specification
                  ]
                )
              }}
            </template>
          </td>
          <td>{{ $filters.currency(totals[specification]) }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            {{ $filters.currency(month.expenses.total) }}
          </td>
          <td>{{ $filters.currency(totals['expenses']) }}</td>
        </tr>
      </tfoot>
    </table>
    <hr />
    <table
      class="basic-table"
      aria-label="Error year table"
    >
      <thead>
        <tr>
          <th scope="col">Error</th>
          <th
            scope="col"
            v-for="month in months"
            :key="month"
          >{{ month }}</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Balance Delta</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            {{ $filters.currency(month.balance.balance_change, "na") }}
          </td>
          <td>{{ $filters.currency(totals['balance_change']) }}</td>
        </tr>
        <tr>
          <td>Transaction Delta</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            {{ $filters.currency(month.balance.transaction_change, "na") }}
          </td>
          <td>{{ $filters.currency(totals['transaction_change']) }}</td>
        </tr>
        <tr>
          <td>Paid off debt</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            {{ $filters.currency(month.balance.paid_off_debt, "na") }}
          </td>
          <td>{{ $filters.currency(totals['paid_off_debt']) }}</td>
        </tr>
        <tr>
          <td>Error</td>
          <td
            v-for="month in data"
            :key="month.date"
          >
            <button
              v-if="month.balance.error !== '0.00'"
              @click="searchForError(month.balance.error, month.date)"
            >
              {{ $filters.currency(month.balance.error, "na") }}
            </button>
            <span v-else>
              {{ $filters.currency(month.balance.error, "na") }}
            </span>
          </td>
          <td>{{ $filters.currency(totals['error']) }}</td>
        </tr>
      </tbody>
    </table>
    <p
      class="content"
      style="margin-top: 1rem"
    >
      De error is de <code>balance delta - transaction delta - paid off debt</code>.<br />
      Dus als de error positief is, dan zijn er te weinig transacties, of mist er geld in de balans.<br />
      En als de error negatief is, dan zijn er teveel transacties, of staat er teveel geld in de balans.
    </p>
    <div v-if="errorSearch !== null">
      <p v-if="errorSearch.length === 0">
        Geen mogelijk foute transacties gevonden
      </p>
      <div v-else>
        <p>Mogelijk foute transacties:</p>
        <table class="table">
          <tr v-for="transaction in errorSearch">
            <td>{{ transaction.date }}</td>
            <td>{{ $filters.currency(transaction.amount) }}</td>
            <td>{{ transaction.category_obj.name }}</td>
            <td>{{ transaction.specification_obj.name }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { DateInput, buildFilter } from '@/shared-vue'

export default {
  components: {
    DateInput
  },
  data() {
    return {
      data: [],
      totals: {},
      isHidden: {},
      errorSearch: null,
      startDate: new Date(Date.UTC(new Date().getFullYear() - 1, new Date().getMonth())).toISOString().substring(0, 10),
      endDate: new Date(Date.UTC(new Date().getFullYear(), new Date().getMonth())).toISOString().substring(0, 10)
    }
  },
  computed: {
    months() {
      return this.data.map(item => item.date)
    },
    income_categories() {
      return [...new Set([].concat(...this.data.map(item => Object.keys(item.income.categories))))]
    },
    expense_categories() {
      return [...new Set([].concat(...this.data.map(item => Object.keys(item.expenses.categories))))]
    }
  },
  methods: {
    searchForError(amount, month) {
      this.errorSearch = []
      const startMonth = new Date(Date.UTC(month.substring(0, 4), parseInt(month.substring(6)) - 1))
      const endMonth = new Date(Date.UTC(month.substring(0, 4), parseInt(month.substring(6))))
      const exactAmountSearch = [
        {
          field: 'date',
          term: startMonth.toISOString().substring(0, 10),
          type: 'ge'
        },
        {
          field: 'date',
          term: endMonth.toISOString().substring(0, 10),
          type: 'lt'
        },
        {
          field: 'amount',
          term: Math.abs(amount),
          type: 'eq'
        }
      ]
      this.$api.get(buildFilter('finances/api/transactions', exactAmountSearch), response => {
        this.errorSearch.concat(response.results)
      })
      const doubleAmountSearch = [
        {
          field: 'date',
          term: startMonth.toISOString().substring(0, 10),
          type: 'ge'
        },
        {
          field: 'date',
          term: endMonth.toISOString().substring(0, 10),
          type: 'lt'
        },
        {
          field: 'amount',
          term: Math.abs(amount) * 2,
          type: 'eq'
        }
      ]
      this.$api.get(buildFilter('finances/api/transactions', doubleAmountSearch), response => {
        this.errorSearch.concat(response.results)
      })
    },
    specifications(income, category) {
      return [
        ...new Set(
          [].concat(
            ...this.data.map(item =>
              item[income].categories[category] ? Object.keys(item[income].categories[category].specifications) : null
            )
          )
        )
      ]
    },
    refresh_data() {
      this.errorSearch = null
      this.$api.get(
        `finances/api/report/expanded_income_statement/?start=${this.startDate}&end=${this.endDate}`,
        response => {
          this.data = response.data
          this.totals = response.totals
          this.income_categories.forEach(item => this.isHidden[item] = true)
          this.expense_categories.forEach(item => this.isHidden[item] = true)
        },
        true
      )
    }
  },
  created() {
    this.$api.get('finances/api/report/expanded_income_statement/', response => {
      this.data = response.data
      this.totals = response.totals
      this.income_categories.forEach(item => this.isHidden[item] = true)
      this.expense_categories.forEach(item => this.isHidden[item] = true)
    })
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/finances.scss";

.hidden {
  display: none;
}

table.year-table {
  border-collapse: collapse;

  &>thead {
    &>tr {
      background-color: blue;

      &>th {
        color: white;
        text-align: left;
        padding: 0.5rem 1rem;
        font-weight: normal;
      }
    }
  }

  &>tbody {
    &>tr {
      &.category-row {
        background-color: #f2f2f2;
      }

      &>td {
        padding: 0.5rem 1rem;
        text-align: right;

        &:first-child {
          background-color: lightblue;
          text-align: left;
          width: 10rem;
        }
      }

      &.spec-row {
        &>td {
          padding: 0.25rem 1rem;
          font-size: 0.8rem;
          font-style: italic;
        }
      }
    }
  }

  &>tfoot {
    &>tr {
      background-color: lightblue;

      &>td {
        padding: 0.5rem 1rem;
        text-align: right;

        &:first-child {
          text-align: left;
          font-weight: bold;
        }
      }
    }
  }
}
</style>
