<template>
  <div class="graph-container">
    <div>
      <h2>Balance</h2>
      <div class="field">
        <div class="control">
          <select
            class="select"
            v-model="selected"
            @change="createChart"
          >
            <option value="all">All</option>
            <option
              v-for="option in options"
              :value="option"
              :key="option"
            >{{ option }}</option>
          </select>
        </div>
      </div>
    </div>
    <div
      class="box"
      id="chart-container"
    >
      <canvas id="balance-graph"></canvas>
    </div>
  </div>
</template>

<script>
import { Chart, LineController, LineElement, PointElement, CategoryScale, LinearScale } from 'chart.js'

Chart.register(LineController, LineElement, PointElement, CategoryScale, LinearScale)

export default {
  data() {
    return {
      balances: [],
      selected: "all",
      chart: null,
      total_data: null
    }
  },
  computed: {
    options() {
      return [...new Set(this.balances.map(obj => obj.item_obj.name))]
    }
  },
  created() {
    this.$api.get("finances/api/balances/", response => {
      this.balances = response
    })
    this.$api.get("finances/api/report/total_balance/", response => {
      this.total_data = response.data
      this.createChart()
    })
  },
  methods: {
    createChart() {
      const ctx = document.getElementById("balance-graph")
      if (this.chart !== null) {
        this.chart.destroy()
      }
      this.chart = new Chart(ctx, {
        options: {
          responsive: true,
          maintainAspectRation: false,
          scales: {
            y: {
              beginAtZero: true
            }
          }
        },
        type: "line",
        data: {
          labels: this.labels(),
          datasets: [
            {
              label: "Amount",
              cubicInterpolationMode: "monotone",
              borderColor: "blue",
              data: this.chart_data(),
              pointRadius: 0
            }
          ]
        }
      })
    },
    chart_data() {
      if (this.selected === "all") {
        return this.total_data["data"]
      } else {
        return this.balances
          .filter(obj => obj.item_obj.name === this.selected)
          .sort((firstEl, secondEl) => {
            if (firstEl.date < secondEl.date) {
              return -1
            }
            if (firstEl.date > secondEl.date) {
              return 1
            }
            return 0
          })
          .map(obj => obj.amount)
      }
    },
    labels() {
      if (this.selected === "all") {
        return this.total_data["labels"]
      }
      return this.balances
        .filter(obj => obj.item_obj.name === this.selected)
        .map(obj => obj.date)
        .sort()
    }
  }
}
</script>

<style scoped>
.graph-container {
  background-color: #222;
  padding: 1.4em;
  color: white;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  margin: 1em;
  flex-grow: 1;
}

.graph-container>div {
  display: flex;
}

.graph-container>div>h2 {
  color: white;
  font-size: 1.5em;
  margin-right: 4em;
}

#chart-container {
  position: relative;
}
</style>
