<template>
  <div class="pie-thingie">
    <h2>Budget</h2>
    <div
      class="box"
      id="pie-container"
    >
      <canvas id="budget-pie"></canvas>
    </div>
  </div>
</template>

<script>
import { Chart, PieController, ArcElement } from "chart.js"

Chart.register(PieController, ArcElement)

export default {
  data() {
    return {
      budget: []
    }
  },
  created() {
    this.$api.get(
      "finances/api/categories/?specification_of=null",
      response => {
        this.budget = response.filter(item => !item.is_income)
        this.createChart()
      }
    )
  },
  methods: {
    createChart() {
      const ctx = document.getElementById("budget-pie")
      this.chart = new Chart(ctx, {
        type: "pie",
        data: {
          datasets: [
            {
              backgroundColor: [
                "#001f3f",
                "#0074D9",
                "#7FDBFF",
                "#39CCCC",
                "#3D9970",
                "#2ECC40",
                "#01FF70",
                "#FFDC00",
                "#FF851B",
                "#FF4136",
                "#85144B",
                "#F012BE",
                "#B10DC9",
                "#11111",
                "#AAAAAA",
                "#DDDDDD"
              ],
              data: this.budget.map(item => item.budget)
            }
          ],
          labels: this.budget.map(item => item.name)
        }
      })
    }
  }
}
</script>

<style scoped>
h2 {
  color: white;
  font-size: 1.5em;
}

.pie-thingie {
  background-color: #222;
  padding: 1.4em;
  color: white;
  border-radius: 1.5em;
  margin: 1em;
  min-width: 500px;
}

#pie-container {
  position: relative;
}
</style>
