<template>
  <div>
    <h2>Income Statement</h2>
    <table
      class="basic-table"
      aria-label="Income statement"
    >
      <thead>
        <tr>
          <th scope="col"></th>
          <th
            scope="col"
            v-for="date in headers"
            :key="date"
          >{{ date }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Income</td>
          <td
            v-for="row in data"
            :key="row.date"
          >
            {{ $filters.currency(row.income) }}
          </td>
        </tr>
        <tr>
          <td>Expenses</td>
          <td
            v-for="row in data"
            :key="row.date"
          >
            {{ $filters.currency(row.expenses) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: []
    }
  },
  computed: {
    headers() {
      return Object.keys(this.data).map(i => this.data[i]['date'])
    }
  },
  created() {
    this.$api.get(
      'finances/api/report/income_statement/',
      response => {
        this.data = response.data
      },
      true
    )
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/finances.scss";

div {
  background-color: #222;
  padding: 1.4em;
  border-radius: 1.5em;
  margin: 1em;
}

h2 {
  color: white;
  font-size: 1.5em;
}
</style>
