.basic-table {
    border-collapse: collapse;
    & > thead {
        & > tr {
            background-color: blue;
            & > th {
                color: white;
                text-align: left;
                padding: 0.5rem 1rem;
                font-weight: normal;
            }
        }
    }
    & > tbody {
        &:nth-child(odd){background-color: #f2f2f2f2;}
        &:nth-child(even){background-color: #ffffff;}
        & > tr { 
            & > td {
                padding: 0.5rem 1rem;
                text-align: right;
                &:first-child {
                    background-color: lightblue;
                    text-align: left;
                }
            }
        }
    }
}