<template>
  <section>
    <div class="hero is-link">
      <div class="hero-body">
        <h1
          v-if="quiz"
          class="title"
        >Welkom bij quiz: {{ quiz.name }}</h1>
        <h1
          v-else="quiz"
          class="title"
        >Welkom bij quiz: </h1>
      </div>
    </div>
    <form
      class="section"
      style="max-width: 30em"
      v-if="checkCode === null"
      @submit.prevent="joinQuiz"
    >
      <TextInput
        v-model="teamInput"
        label="Bedenk een team naam"
        help="Of de team naam die je al gebruikt"
      />
      <button
        class="button is-info"
        type="submit"
        v-if="teamInput"
      >Deelnemen!</button>
      <div
        v-if="newTeamConfirm"
        class="mt-5"
      >
        <p>{{ this.teamInput }} bestaat nog niet, wil je dit team starten?</p>
        <div class="buttons mt-2">
          <button
            class="button is-info"
            @click="confirmNewTeam"
          >Ja!</button>
          <button
            class="button"
            @click="newTeamConfirm = false"
          >Nee</button>
        </div>
      </div>
    </form>
    <form
      class="section"
      style="max-width: 40em"
      v-else
      @submit.prevent="goCheckCode"
    >
      <TextInput
        html-id="code"
        v-model="code"
        style="width: 5em"
        :label="`${this.teamInput} bestaat al, vul hier de vier cijferige code in om mee te doen`"
        help="Of ga terug en bedenk een andere naam"
      />
      <div class="buttons">
        <button
          type="submit"
          class="button is-info"
        >Check</button>
        <button
          type="button"
          class="button"
          @click="checkCode = null"
        >Terug</button>
      </div>
      <p v-if="error">{{ this.error }}</p>
    </form>
  </section>
</template>

<script>
import { TextInput } from '@/shared-vue'

export default {
  components: {
    TextInput
  },
  props: ['quiz'],
  data() {
    return {
      checkCode: null,
      teamInput: '',
      isLoading: false,
      code: '',
      error: null,
      newTeamConfirm: false,
    }
  },
  watch: {
    teamInput() {
      this.newTeamConfirm = false
    }
  },
  methods: {
    joinQuiz() {
      this.error = null
      this.checkCode = null
      this.$api.get(`quiz/api/teams/?quiz=${this.quiz.id}&name=${this.teamInput}`, response => {
        if (response.count === 0) {
          this.newTeamConfirm = true
        } else {
          this.checkCode = response.results[0]
        }
      })
    },
    confirmNewTeam() {
      this.$api.post('quiz/api/teams/', {
        quiz: this.quiz.id,
        name: this.teamInput,
        code: Math.floor(1000 + Math.random() * 9000).toString()
      }, response => {
        window.localStorage.setItem("team", response.name)
        this.$emit('set-team', response)
      })
    },
    goCheckCode() {
      if (this.code === this.checkCode.code) {
        window.localStorage.setItem("team", this.checkCode)
        this.$emit('set-team', this.checkCode)
        this.checkCode = null
      } else {
        this.error = 'Wrong code!'
      }
    },
  }
}
</script>