<template>
  <div class="question">
    <h2>Vraag {{ question.order }}</h2>
    <p>{{ question.question.q }}</p>
    <div
      v-if="question.question.type === 'mc'"
      class="buttons"
    >
      <button
        class="button"
        :class="{ 'is-success': answer === choice }"
        v-for="choice in question.question.choices"
        @click="$emit('select-answer', choice)"
      >{{ choice }}</button>
    </div>
    <hr />
  </div>
</template>

<script>
export default {
  props: ['question', 'answer']
}
</script>

<style scoped>
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.1em;
  font-style: italic;
}

p {
  font-size: 1.3em;
  margin-bottom: 1em;
}

hr {
  align-self: stretch;
}
</style>