<template>
  <div class="base">
    <h1 class="title header is-size-4-mobile has-text-centered">
      Drinks Rememberer
    </h1>
    <div class="section">
      <div class="options">
        <Option
          v-for="option in drinks"
          :key="option.name"
          :option="option"
          v-model="option.value"
        ></Option>
      </div>
      <hr />
      <div class="options">
        <Option
          v-for="option in other"
          :key="option.name"
          :option="option"
          v-model="option.value"
        ></Option>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Part of
          <router-link :to="{ name: 'ps:home' }">Project Sunset</router-link> by
          Bob Luursema
        </p>
        <p>You can read more about this project on my <router-link
            :to="{ name: 'ps:blog:article', params: { slug: 'drinks' } }"
          >blog</router-link>.</p>
      </div>
    </footer>
  </div>
</template>

<script>
import Option from "./Option.vue"

export default {
  components: {
    Option
  },
  data() {
    return {
      options: [
        {
          name: 'Water',
          value: 0,
          is_drink: true
        },
        {
          name: 'Heet water',
          value: 0,
          is_drink: true
        },
        {
          name: 'Choco',
          value: 0,
          is_drink: true
        },
        {
          name: 'Koffie',
          value: 0,
          is_drink: true
        },
        {
          name: 'Cappucino',
          value: 0,
          is_drink: true
        },
        {
          name: 'Espresso',
          value: 0,
          is_drink: true
        },
        {
          name: 'Groene thee',
          value: 0,
          is_drink: false
        },
        {
          name: 'Fruit thee',
          value: 0,
          is_drink: false
        },
        {
          name: 'Rooibos thee',
          value: 0,
          is_drink: false
        },
        {
          name: 'Suiker',
          value: 0,
          is_drink: false
        },
        {
          name: 'Melk',
          value: 0,
          is_drink: false
        },
      ]
    }
  },
  computed: {
    drinks() {
      return this.options.filter(option => option.is_drink)
    },
    other() {
      return this.options.filter(option => !option.is_drink)
    },
  }
}
</script>

<style scoped>
.header {
  padding: 0.5rem;
}

.footer {
  background-color: rgb(255, 180, 0);
}

.base {
  background-color: rgb(255, 180, 0);
  min-height: 100vh;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
}

.section {
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 28rem;
  margin: auto;
}

hr {
  width: 100%;
  margin: 0.3em 0;
  background-color: yellow;
}
</style>
