<template>
  <div
    class="drink"
    :id="'option_' + option.name"
  >
    <h2>{{ option.name }}</h2>
    <div>
      <button @click="subtract">-</button>
      <span>{{ modelValue }}</span>
      <button @click="add">+</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["option", "modelValue"],
  methods: {
    subtract() {
      if (this.modelValue !== 0) {
        this.$emit("update:modelValue", this.modelValue - 1)
      }
    },
    add() {
      this.$emit("update:modelValue", this.modelValue + 1)
    }
  }
}
</script>

<style lang="scss" scoped>
.drink {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.6em;

  h2 {
    width: 80px;
    text-align: center;
    white-space: nowrap;

    &:before {
      content: "";
      margin-left: -100%;
    }

    &::after {
      content: "";
      margin-right: -100%;
    }
  }

  div {
    display: flex;
    align-items: baseline;
    background-color: rgba(255, 255, 0, 0.5);
    border: 2px solid yellow;
    border-radius: 5px;

    button {
      padding: 0.3rem;
      width: 1.6rem;
      font-size: 1.1rem;
      background-color: yellow;
      border: none;
      transition: background-color 0.1s;

      &:active {
        background-color: rgba(255, 255, 255, 1);
      }

      &:focus {
        outline: 0;
      }
    }

    span {
      margin: 0 0.7em;
    }
  }
}
</style>
