<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Project Sunset API root</title>
  </head>
  <body>
    <h1>API Root</h1>
    <p>These are the links to the api roots</p>
    <ul>
        {% for api in apis %}
        <li><a href="{{ api.href }}">{{ api.name }}</a></li>
        {% endfor %}
    </ul>
  </body>
</html>