<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Project Sunset Support</title>
</head>

<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <h1>Support</h1>
  <h2>Login as</h2>
  <p>Select a user below to login as.</p>
  <ul>
    {% for user in users %}
    <li><a href="/loginas/{{ user.pk }}/">{{ user.username }}</a></li>
    {% endfor %}
  </ul>
  <h2>Server Tasks</h2>
  <p>Vacuum the database</p>
  <a href="/servertask/vacuumdatabase/">Vacuum now</a>
  <p>Backup the database</p>
  <a href="/servertask/backup/">Backup now</a>
  <h2>Info</h2>
  <ul>
    {% for key, value in info.items %}
    <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>
</body>

</html>