<template>
  <div>
    <NavBar class="is-dark">
      <template v-slot:brand>
        <RouterLink
          :to="{ name: 'overtime:home' }"
          class="navbar-item title"
          style="margin-bottom: 0"
        >Overtime</RouterLink>
      </template>
      <template v-slot:start>
        <RouterLink
          :to="{ name: 'overtime:days' }"
          class="navbar-item"
        >{{
          $t("Days")
          }}</RouterLink>
        <RouterLink
          :to="{ name: 'overtime:configuration' }"
          class="navbar-item"
        >{{ $t("Settings") }}</RouterLink>
      </template>
      <template v-slot:end>
        <div class="navbar-item">
          <RouterLink
            :to="{ name: 'ps:home' }"
            class="button is-light"
          >Project Sunset</RouterLink>
        </div>
      </template>
    </NavBar>
    <LoginPopup v-if="!authenticated">
      <p>The Overtime Tracker tracks how many hours the user has worked. It is
        only available after logging in. You can read more about this app on my <RouterLink
          :to="{ name: 'ps:blog:article', params: { slug: 'overtime-tracker' } }"
        >blog</RouterLink>.
      </p>
    </LoginPopup>
    <RouterView
      v-if="authenticated"
      class="section"
    />
    <footer class="footer has-text-centered">
      <p>Made by Bob Luursema</p>
    </footer>
  </div>
</template>

<script>
import { NavBar, LoginPopup } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    NavBar,
    LoginPopup
  },
  computed: mapState({
    authenticated: state => state.auth.authenticated,
    user: state => state.auth.user
  }),
}
</script>