<template>
  <div class="container">
    <ModelTable
      class="box"
      modelName="Break Times"
      v-model="breaktimeModel"
      :config="breaktimeConfig"
      :data="breaktimes"
      apiStore="overtime/breaktimes"
    />
  </div>
</template>

<script>
import { ModelTable } from '@/shared-vue'
import { mapState } from "vuex"

export default {
  components: {
    ModelTable,
  },
  created() {
    this.$store.dispatch('overtime/breaktimes/get')
  },
  computed: {
    ...mapState({
      breaktimes: state => state.overtime.breaktimes,
    })
  },
  data() {
    return {
      breaktimeModel: {
        date: null,
        break_time: null,
        working_time_until_break: null
      },
      breaktimeConfig: {
        url: "overtime/api/breaktimes/",
        fields: {
          date: { label: "Date", type: "date", default: "" },
          break_time: { label: "Break Time", type: "number", default: 0, attrs: { step: "0.01" } },
          working_time_until_break: { label: "Working time until break", type: "number", default: 0, attrs: { step: "0.01" } },
        }
      }
    }
  }
}
</script>
