<template>
  <div>
    <ModelTable
      class="box"
      :modelName="$t('Days')"
      v-model="dayModel"
      :config="dayConfig"
      :data="days"
      apiStore="overtime/days"
      :tableFields="['date', 'hours_overtime']"
    />
  </div>
</template>

<script>
import { ModelTable } from "@/shared-vue"
import { mapState } from "vuex"

export default {
  components: {
    ModelTable
  },
  data() {
    return {
      dayConfig: {
        url: "overtime/api/days/",
        fields: {
          date: { label: this.$t("Date"), type: "date", default: "" },
          hours_worked: { label: this.$t("Worked hours"), type: "number", default: 0, attrs: { step: "0.01" } },
          pay_overtime: { label: "pay_overtime", type: "checkbox", default: false },
          hours_overtime: { label: this.$t("Hours overtime"), type: "number", readOnly: true }
        }
      },
      dayModel: {
        date: null,
        hours_worked: null,
        pay_overtime: null,
      }
    }
  },
  created() {
    this.$store.dispatch("overtime/days/get")
  },
  computed: {
    ...mapState({
      days: state => state.overtime.days
    })
  },
}
</script>
