<template>
  <div class="container">
    <h1 class="subtitle">Home</h1>
    <div class="box">
      <TrackTime @timer-stopped="getData" />
    </div>
    <div class="box">
      <h2 class="subtitle">
        {{ $t("Current overtime") }}: {{ stuff.current_overtime }}
      </h2>
    </div>
    <div
      class="box"
      id="chart-container"
    >
      <canvas id="running-overtime"></canvas>
    </div>
    <div class="box">
      <table
        class="table is-striped"
        aria-label="Current state"
      >
        <thead>
          <tr>
            <th
              scope="col"
              colspan="2"
            >{{ $t("Totals") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ $t("Worked hours") }}</td>
            <td>{{ stuff.total_worktime }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { Chart, LineController, LineElement, PointElement, CategoryScale, LinearScale } from 'chart.js'
import TrackTime from './TrackTime.vue'

Chart.register(LineController, LineElement, PointElement, CategoryScale, LinearScale)

export default {
  components: { TrackTime },
  data() {
    return {
      stuff: {
        total_worktime: 0,
        current_overtime: 0,
        data: [],
        labels: []
      },
      chart: null
    }
  },
  mounted() {
    this.getData()
  },
  beforeUnmount() {
    if (this.chart) {
      this.chart.destroy()
    }
  },
  methods: {
    getData() {
      this.$api.get(
        'overtime/api/home/',
        response => {
          if (response.data_exists) {
            this.stuff = response.stuff
            this.createChart()
          }
        },
        true
      )
    },
    createChart() {
      if (this.chart) {
        this.chart.destroy()
      }
      const ctx = document.getElementById('running-overtime')
      this.chart = new Chart(ctx, {
        options: {
          maintainAspectRatio: false
        },
        type: 'line',
        data: {
          labels: this.stuff.labels,
          datasets: [
            {
              label: this.$t('Running overtime'),
              cubicInterpolationMode: 'monotone',
              borderColor: 'darkred',
              data: this.stuff.data,
              pointRadius: 0
            }
          ]
        }
      })
    }
  }
}
</script>

<style scoped>
#chart-container {
  position: relative;
  height: 40vh;
}
</style>
