<template>
  <div>
    <h2 class="subtitle mb-0">Timer</h2>
    <div v-if="user">
      <div v-if="user.timer_start !== null">
        <p class="mb-4 is-size-2">{{ timeSpent }}</p>
        <button
          class="button"
          @click="stopTimer"
          :class="{ 'is-loading': stopping }"
        >Stop timer</button>
      </div>
      <div v-else>
        <button
          class="button mt-4"
          @click="startTimer"
          :class="{ 'is-loading': starting }"
        >Start timer</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TrackTime",
  created() {
    this.$api.get('overtime/api/overtimeuser/', response => {
      if (response.count === 1) {
        this.user = response.results[0]
        if (this.user.timer_start !== null) {
          this.updateTimeSpent()
          this.intervalId = setInterval(this.updateTimeSpent, 60000)
        }
      }
    })
  },
  unmounted() {
    clearInterval(this.intervalId)
  },
  data() {
    return {
      user: null,
      timeSpent: null,
      intervalId: null,
      stopping: false,
      starting: false,
    }
  },
  methods: {
    updateTimeSpent() {
      const start = new Date(this.user.timer_start)
      const now = new Date()
      const diffTime = Math.abs(now - start) / 1000
      const hours = Math.floor(diffTime / 3600)
      const minutes = Math.floor((diffTime % 3600) / 60)
      this.timeSpent = `${hours}:${minutes <= 9 ? '0' + minutes : minutes}`
    },
    startTimer() {
      this.starting = true
      this.$api.post('overtime/api/start-timer/', {}, () => {
        this.user.timer_start = new Date().toISOString()
        this.updateTimeSpent()
        this.intervalId = setInterval(this.updateTimeSpent, 60000)
        this.starting = false
      })
    },
    stopTimer() {
      this.stopping = true
      this.$api.post('overtime/api/stop-timer/', {}, () => {
        clearInterval(this.intervalId)
        this.stopping = false
        this.user.timer_start = null
        this.$emit('timer-stopped')
      })
    }
  }
}
</script>