<template>
  <div>
    <header>
      <RouterLink
        style="text-decoration: none; font-size: 2em"
        :to="{ name: 'links:home' }"
      >Links</RouterLink>
    </header>
    <div class="admin-view">
      <AdminCategories :categories="categories" />
      <AdminApplications
        :categories="categories"
        :applications="applications"
      />
      <AdminUrls
        :applications="applications"
        :urls="urls"
      />
    </div>
  </div>
</template>

<script>
import AdminCategories from "./AdminCategories"
import AdminApplications from "./AdminApplications"
import AdminUrls from "./AdminUrls"
import { mapState } from "vuex"

export default {
  components: {
    AdminCategories,
    AdminApplications,
    AdminUrls
  },
  created() {
    this.$store.dispatch("links/categories/get")
  },
  computed: {
    applications() {
      if (this.categories.length === 0) {
        return []
      }
      return this.categories.map(c => c.applications).flat()
    },
    urls() {
      if (this.applications.length === 0) {
        return []
      }
      return this.applications.map(a => a.urls).flat()
    },
    ...mapState({
      categories: state => state.links.categories.data
    })
  }
}
</script>
