<template>
  <div class="panel">
    <h1>Categories</h1>
    <div>
      <div class="new">
        <h2>Add new category</h2>
        <form
          @submit.prevent="onSubmit('new-category')"
          class="vertical"
        >
          <div class="control-field">
            <label for="category-name">Name</label>
            <input
              v-model="newCategory.name"
              id="category-name"
              type="text"
              name="name"
              required
            />
          </div>
          <button
            id="category-submit"
            type="submit"
            class="large"
          >
            Submit
          </button>
        </form>
      </div>
      <div class="list-box">
        <h2>Current categories</h2>
        <ul>
          <li
            v-for="category in categories"
            :key="category.id"
            :data-testid="`category-${category.pk}`"
          >
            <form
              @submit.prevent="onSubmit(category)"
              class="horizontal"
            >
              <input
                :id="`category-name-${category.pk}`"
                type="text"
                name="name"
                required
                v-model="category.name"
              />
              <button
                :id="`category-submit-${category.pk}`"
                type="submit"
                class="small"
              >
                Submit
              </button>
              <button
                :id="`category-delete-${category.pk}`"
                @click.prevent="del(category)"
                class="delete-button"
              >
                Delete
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["categories"],
  data() {
    return {
      newCategory: {
        name: ""
      }
    }
  },
  methods: {
    onSubmit(category) {
      if (category === "new-category") {
        this.$api.post("links/api/categories/", this.newCategory, _ => {
          this.$notify({
            text: "Category created",
            style: "success"
          })
          this.newCategory.name = ""
          this.$store.dispatch("links/categories/get")
        })
      } else {
        this.$api.put(`links/api/categories/${category.pk}/`, category, _ => {
          this.$notify({
            text: "Category updated",
            style: "success"
          })
          this.$store.dispatch("links/categories/get")
        })
      }
    },
    del(category) {
      this.$api.delete(`links/api/categories/${category.pk}/`, _ => {
        this.$notify({
          text: "Category deleted",
          style: "success"
        })
        this.$store.dispatch("links/categories/get")
      })
    }
  }
}
</script>
