<template>
  <div class="panel">
    <h1>URLs</h1>
    <div>
      <div class="new">
        <h2>Add new URL</h2>
        <form
          @submit.prevent="onSubmit('new')"
          class="vertical"
        >
          <div class="control-field">
            <label for="url-application">Application</label>
            <select
              id="url-application"
              v-model="newUrl.application"
              name="application"
              required
            >
              <option
                v-for="application in applications"
                :value="application.pk"
                :key="application.id"
              >
                {{ application.name }}
              </option>
            </select>
          </div>
          <div class="control-field">
            <label for="url-name">URL Name</label>
            <input
              id="url-name"
              v-model="newUrl.name"
              type="text"
              name="name"
              required
            />
          </div>
          <div class="control-field">
            <label for="url">URL</label>
            <input
              id="url"
              v-model="newUrl.link"
              type="text"
              name="url"
              required
            />
          </div>
          <div class="control-field">
            <label for="position">Position</label>
            <input
              id="position"
              v-model="newUrl.position"
              type="number"
              name="position"
              required
            />
          </div>
          <button
            id="url-submit"
            type="submit"
            class="large"
          >Submit</button>
        </form>
      </div>
      <div class="list-box">
        <h2>Current URLs</h2>
        <hr />
        <div>
          <label style="margin-right: 1rem">Search</label>
          <input
            type="text"
            v-model="searchTerm"
          />
        </div>
        <hr />
        <ul>
          <li
            v-for="url in filteredList"
            :key="url.id"
            :data-testid="`url-${url.pk}`"
          >
            <form
              @submit.prevent="onSubmit(url)"
              class="horizontal"
            >
              <select
                name="application"
                v-model="url.application"
                required
              >
                <option
                  v-for="application in applications"
                  :value="application.pk"
                  :key="application.id"
                >
                  {{ application.name }}
                </option>
              </select>
              <input
                v-model="url.name"
                type="text"
                name="name"
                required
              />
              <input
                v-model="url.link"
                type="text"
                name="url"
                required
              />
              <input
                style="width: 2em"
                v-model="url.position"
                type="number"
                name="position"
                required
              />
              <button
                type="submit"
                class="large"
              >Submit</button>
              <button
                @click.prevent="del(url)"
                class="delete-button"
              >
                Delete
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["applications", "urls"],
  data() {
    return {
      newUrl: {
        application: null,
        position: null,
        name: "",
        url: ""
      },
      searchTerm: null
    }
  },
  computed: {
    filteredList() {
      if (this.searchTerm === null || this.searchTerm === "") {
        return this.urls
      }
      return this.urls.filter(url => {
        return (
          url.name.toLowerCase().includes(this.searchTerm.toLowerCase()) ||
          this.applicationsByUrl[url.application].includes(
            this.searchTerm.toLowerCase()
          )
        )
      })
    },
    applicationsByUrl() {
      return this.applications.reduce((accumulator, application) => {
        accumulator[application.url] = application.name.toLowerCase()
        return accumulator
      }, {})
    }
  },
  methods: {
    onSubmit(url) {
      if (url === "new") {
        this.$api.post("links/api/urls/", this.newUrl, _ => {
          this.newUrl.name = ""
          this.newUrl.url = ""
          this.newUrl.position = null
          this.$notify({
            text: "Link created",
            style: "success"
          })
          this.$store.dispatch("links/categories/get")
        })
      } else {
        this.$api.put(`links/api/urls/${url.pk}/`, url, _ => {
          this.$notify({
            text: "Link updated",
            style: "success"
          })
          this.$store.dispatch("links/categories/get")
        })
      }
    },
    del(url) {
      this.$api.delete(`links/api/urls/${url.pk}/`, _ => {
        this.$notify({
          text: "Link deleted",
          style: "success"
        })
        this.$store.dispatch("links/categories/get")
      })
    }
  }
}
</script>
