<template>
  <div class="panel">
    <h1>Applications</h1>
    <div>
      <div class="new">
        <h2>Add new application</h2>
        <form
          @submit.prevent="onSubmit('new')"
          class="vertical"
        >
          <div class="control-field">
            <label for="application-category">Category</label>
            <select
              id="application-category"
              v-model="newApplication.category"
              name="category"
              required
            >
              <option
                v-for="category in categories"
                :value="category.pk"
                :key="category.id"
              >
                {{ category.name }}
              </option>
            </select>
          </div>
          <div class="control-field">
            <label for="application-name">Application Name</label>
            <input
              v-model="newApplication.name"
              type="text"
              name="name"
              id="application-name"
              required
            />
          </div>
          <div class="application-urls-form">
            <h3>URLs</h3>
            <div
              class="url"
              v-for="newUrl in newUrls"
              :key="newUrl.position"
            >
              <input
                type="text"
                placeholder="name"
                v-model="newUrl.name"
              />
              <input
                type="text"
                placeholder="url"
                v-model="newUrl.link"
              />
            </div>
          </div>
          <button
            id="application-submit"
            type="submit"
            class="large"
          >Submit</button>
        </form>
      </div>
      <div class="list-box">
        <h2>Current applications</h2>
        <hr />
        <div>
          <label style="margin-right: 1rem">Search</label>
          <input
            type="text"
            v-model="searchTerm"
          />
        </div>
        <hr />
        <ul>
          <li
            v-for="application in filteredList"
            :key="application.id"
            :data-testid="`application-${application.pk}`"
          >
            <form
              @submit.prevent="onSubmit(application)"
              class="horizontal"
            >
              <select
                v-model="application.category"
                name="category"
              >
                <option
                  v-for="category in categories"
                  :value="category.pk"
                  :key="category.id"
                >
                  {{ category.name }}
                </option>
              </select>
              <input
                v-model="application.name"
                type="text"
                name="name"
                required
              />
              <button
                type="submit"
                class="small"
              >Submit</button>
              <button
                @click.prevent="del(application)"
                class="delete-button"
              >
                Delete
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["categories", "applications"],
  data() {
    return {
      searchTerm: null,
      newApplication: {
        category: null,
        name: ""
      },
      newUrls: [
        {
          name: "",
          link: "",
          application: null,
          position: 1
        },
        {
          name: "",
          link: "",
          application: null,
          position: 2
        },
        {
          name: "",
          link: "",
          application: null,
          position: 3
        },
        {
          name: "",
          link: "",
          application: null,
          position: 4
        }
      ]
    }
  },
  computed: {
    filteredList() {
      if (this.searchTerm === null || this.searchTerm === "") {
        return this.applications
      }
      return this.applications.filter(application => {
        return application.name
          .toLowerCase()
          .includes(this.searchTerm.toLowerCase())
      })
    }
  },
  methods: {
    onSubmit(application) {
      if (application === "new") {
        this.$api.post(
          "links/api/applications/",
          this.newApplication,
          response => {
            this.newApplication.name = ""
            this.$notify({
              text: "Application created",
              style: "success"
            })
            Promise.all(this.addUrls(response)).then(_ => {
              this.$store.dispatch("links/categories/get")
            })
          }
        )
      } else {
        this.$api.put(`links/api/applications/${application.pk}/`, application, _ => {
          this.$notify({
            text: "Application updated",
            style: "success"
          })
          this.$store.dispatch("links/categories/get")
        })
      }
    },
    addUrls(application) {
      const promises = []
      this.newUrls.forEach(url => {
        if (url.name !== "" && url.url !== "") {
          url.application = application.pk
          promises.push(this.$api.post("links/api/urls/", url, _ => {
            url.name = ""
            url.link = ""
            this.$notify({
              text: "URL created",
              style: "success"
            })
          }).fetch)
        }
      })
      return promises
    },
    del(application) {
      this.$api.delete(`links/api/applications/${application.pk}/`, _ => {
        this.$notify({
          text: "Application deleted",
          style: "success"
        })
        this.$store.dispatch("links/categories/get")
      })
    }
  }
}
</script>
