<template>
  <div>
    <LoginPopup v-if="!authenticated">
      <p>
        The Links app is a bookmark page I created to keep track of the websites and pages I need for work. It is only
        available after logging in. You can read more about it on my
        <RouterLink :to="{ name: 'ps:blog:article', params: { slug: 'links' } }">blog</RouterLink>.
      </p>
    </LoginPopup>
    <RouterView v-if="authenticated" />
  </div>
</template>

<script>
import { mapState } from "vuex"
import { LoginPopup } from "@/shared-vue"

export default {
  components: {
    LoginPopup
  },
  computed: mapState({
    authenticated: state => state.auth.authenticated,
    user: state => state.auth.user
  })
}
</script>

<style lang="scss" scoped>
$background_color: white;
$main_color: cornflowerblue;
$secondary_color: white;

:deep(.selected) {
  background: $background_color;
  color: $main_color !important;
}

:deep(body) {
  margin: 0;
  font-family: sans-serif;
  background-color: $background_color;
}

:deep(.hidden) {
  display: none !important;
}

:deep(header) {
  background-color: $main_color;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1 {
    margin: 0;
    color: $secondary_color;
  }

  a {
    cursor: pointer;
    color: $secondary_color;
    text-decoration: underline;
  }
}

:deep(.admin-view) {
  display: flex;
  flex-wrap: wrap;
}

:deep(.panel) {
  border: 3px solid gray;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
  background-color: white;

  h1 {
    font-size: 1.5em;
    margin: 0;
    user-select: none;
    cursor: pointer;
  }

  h2 {
    color: gray;
    font-size: 1.1em;
    font-weight: 100;
    margin: 0.8em 0 0.5em 0;
    text-decoration: underline;
  }

  .list-box {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      >li {
        margin-top: 0.4rem;

        >div {
          font-size: 0.9em;
        }
      }
    }
  }
}

:deep(.vertical) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:deep(.application-urls-form) {
  margin-top: 0.5em;

  h3 {
    margin: 0;
    font-weight: 100;
    color: gray;
    font-size: 1rem;
  }

  .url {
    display: flex;
    margin-bottom: 0.4rem;
  }
}

:deep(.horizontal) {
  display: flex;
}

:deep(form) {
  .control-field {
    margin: 0.5em 0;

    label {
      color: gray;
      margin-right: 0.5em;
    }
  }

  input,
  select {
    margin-right: 0.5em;
  }

  button {
    color: gray;
    background-color: $secondary_color;

    &:hover {
      background-color: $main_color;
      color: $secondary_color;
    }
  }

  .delete-button {
    color: red;
    border: 1px solid gray;
    padding: 0.4em;
    margin-left: 0.4em;
    font-size: 0.7rem;

    &:hover {
      background-color: red;
      color: gray;
    }
  }

  button.large {
    border: 1px solid gray;
    padding: 0.4em;
  }

  button.small {
    border: 1px solid gray;
    padding: 0.2em;
  }
}

:deep(footer) {
  background-color: $main_color;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding: 4em 0;

  p {
    color: $secondary_color;

    a {
      color: $secondary_color;
    }
  }
}

:deep(#search) {
  font-size: 1.5rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

:deep(.links) {
  display: flex;
  align-items: flex-start;

  .categories {
    width: 12rem;
    background-color: $main_color;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    div {
      border: 2px solid $secondary_color;
      border-radius: 1rem;
      padding: 0.5rem;
      color: $secondary_color;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;

      &.active {
        background-color: $secondary_color;
        color: $main_color;
      }
    }
  }

  .category {
    background-color: $main_color;
    color: $secondary_color;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    .single {

      &:hover,
      &:focus-within {
        background-color: $secondary_color;

        a {
          color: $main_color;
        }
      }
    }

    .app {
      border: 2px solid $secondary_color;
      border-radius: 1rem;
      padding: 0.5rem;
      margin: 0.5rem;

      &>a {
        text-decoration: none;
        font-size: 1.2rem;
        color: $secondary_color;
      }

      h2 {
        margin: 0;
        font-size: 1.3em;
        font-weight: normal;
      }

      &>div {
        display: flex;
        flex-wrap: wrap;

        a {
          text-decoration: none;
          border: 1px solid $secondary_color;
          border-radius: 0.5rem;
          padding: 0.5rem;
          margin: 0.2rem;
          color: $secondary_color;

          &:hover,
          &:focus {
            background-color: $secondary_color;
            color: $main_color;
          }
        }
      }
    }
  }
}
</style>

