<template>
  <div>
    <header>
      <RouterLink
        style="text-decoration: none; font-size: 2em"
        :to="{ name: 'links:home' }"
      >Links</RouterLink>
      <input
        v-model="searchTerm"
        placeholder="search"
        type="text"
        id="search"
        tabindex="1"
        autofocus
      />
      <RouterLink :to="{ name: 'links:admin' }">admin</RouterLink>
      <RouterLink :to="{ name: 'ps:home' }">Project Sunset</RouterLink>
    </header>
    <div class="links">
      <div class="categories">
        <div
          :class="{ selected: category.name === hoveredCategory }"
          v-for="category in categories"
          @mouseover="hoveredCategory = category.name"
          :key="category.pk"
        >
          {{ category.name }}
        </div>
      </div>
      <div class="category">
        <template v-for="category in filteredData">
          <template
            v-for="application in category.applications"
            :key="application.pk"
          >
            <div
              v-if="application.urls.length === 1"
              class="app single"
            >
              <a
                tabindex="2"
                class="linkname"
                :href="application.urls[0].link"
              >{{ application.name }}</a>
            </div>
            <div
              v-else
              class="app"
            >
              <h2 class="linkname">{{ application.name }}</h2>
              <div>
                <a
                  v-for="url in application.urls"
                  tabindex="2"
                  :href="url.link"
                  :key="url.pk"
                >{{ url.name }}</a>
              </div>
            </div>
          </template>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex"

export default {
  data() {
    return {
      searchTerm: null,
      selectedCategory: null,
      hoveredCategory: null
    }
  },
  computed: {
    filteredData() {
      let data = JSON.parse(JSON.stringify(this.categories))
      if (this.searchTerm === "" || this.searchTerm === null) {
        if (this.hoveredCategory !== null) {
          return data.filter(c => c.name === this.hoveredCategory)
        }
        return []
      }
      this.hoveredCategory = null
      return data.map(c => {
        c.applications = c.applications.filter(a => {
          return a.name.toLowerCase().includes(this.searchTerm.toLowerCase())
        })
        return c
      })
    },
    ...mapState({
      categories: state => state.links.categories.data
    })
  },
  created() {
    this.$store.dispatch("links/categories/get")
  }
}
</script>
