<template>
  <div class="container box content">
    <h2>Hello World!</h2>
    <div class="columns">
      <div class="column">
        <p>
          I am Bob Luursema, a man with a passion to put as much effort as possible
          into automating everything (<a href="https://xkcd.com/1319/">Relevant XKCD</a>). I like creating backends and
          frontends that people enjoy using.
        </p>
        <p>
          I have a portfolio blog where I write about my software side projects. For example you can read about a
          <a href="#/blog/articles/presentation/">one day build</a>
          to help a friend show pictures at wedding even though the venue didn't have a projector.
          Or maybe read about a
          <a href="#/blog/articles/links/">project</a> where I create a bookmark page for my job.
          Or do you want to see a <a href="#/blog/articles/tehila/">larger project</a>, about a website/webapp I wrote
          for
          the bands of my church?
          <br /><br />
          Or find some other item you're interested in on my <a href="#/blog/feed/">blog feed</a>!
        </p>
      </div>
      <div class="column skills">
        <h3>
          Skills
        </h3>
        <div class="console">
          <div>Java</div>
          <div>HTML</div>
          <div>CSS</div>
          <div>Python</div>
          <div>Docker</div>
          <div>JavaScript</div>
          <div>Vue</div>
          <div>Spring Boot</div>
          <div>Django</div>
          <div>SQL</div>
          <div>Git</div>
          <div>Bash</div>
          <div>TypeScript</div>
          <div>Linux</div>
          <div>Splunk</div>
          <div>AWS</div>
          <div>CI/CD</div>
          <div>NGINX</div>
          <!-- Repeat to make scrolling look infinite -->
          <div>Java</div>
          <div>HTML</div>
          <div>CSS</div>
          <div>Python</div>
          <div>Docker</div>
        </div>
      </div>
    </div>
    <hr />
    <h3>Short resume</h3>
    <div>
      <h4>Full stack developer
        <span style="font-size: 0.9em; color: #555">@ Nationale-Nederlanden</span>
        <span style="font-size: 0.7em; color: #555; float: right">📅 2018 - present</span>
      </h4>
      <p>I built stuff with Spring Boot, Vue, Node and React, deploy it using Gitlab and ADO pipelines to AWS and/or
        K8s,
        and monitor them using CloudWatch and Splunk. Meanwhile I also write some Frank!Framework code, debug Tibco BW
        applications, and test Blueriq frontends. One might argue that sounds a like too many different tools, to them
        I say: yes. But it does give me wide variety of experience with different ways to built software!</p>
      <h4>Application management
        <span style="font-size: 0.9em; color: #555">@ Nationale-Nederlanden</span>
        <span style="font-size: 0.7em; color: #555; float: right">📅 2017 - 2018</span>
      </h4>
      <p>Before writing all the code, I was debugging all the problems in production. Production is of course the best
        test environment, users come up with all sort of ideas that we would never have imagined. I find it very
        enjoyable
        to figure out exactly what went wrong and how to a) fix it for this user, and b) how to prevent it from
        happening
        again, and c) figuring out how we can see it happening again before the user notices.</p>
      <h4>IT Traineeship
        <span style="font-size: 0.9em; color: #555">@ Calco</span>
        <span style="font-size: 0.7em; color: #555; float: right">📅 2016 - 2019</span>
      </h4>
      <p>Unfortunately me from the past choose the wrong bachelor to get. I ended up studying Public Administration. I
        got
        into programming as a hobby, and after a minor in Computer Science I decided to not get a Master's degree and
        instead go work in software engineering. And I found Calco to be a very helpful place to get started! I learned
        to
        ask questions and to take initiative.</p>
      <h4>Public Administration
        <span style="font-size: 0.9em; color: #555">@ Erasmus University Rotterdam</span>
        <span style="font-size: 0.7em; color: #555; float: right">📅 2012 - 2016</span>
      </h4>
      <p>I actually wanted to do Technical Public Administration in Delft, but I didn't have enough secondary eduction
        in
        math to get into that program. So I resorted to the non-technical variant. I learned a little about a wide
        variety
        of topics: economy, sociology, human resources, philosophy and change management among others.</p>
      <h4 style="margin-top: 3em">Volunteer work</h4>
      <h5>
        Chairman
        <span style="font-size: 0.9em; color: #555">@ HOA</span>
        <span style="font-size: 0.7em; color: #555; float: right">📅 2024 - present</span>
      </h5>
      <p>As chairman (and only member of the board) for my flat I am responsible for coordinating the maintenance in the
        flat I live in.</p>
      <h5>
        Staff member
        <span style="font-size: 0.9em; color: #555">@ Shelter Christian Hostels</span>
        <span style="font-size: 0.7em; color: #555; float: right">📅 2013 - 2016</span>
      </h5>
      <p>During these summers I volunteered at the hostels of Tot Heil des Volks in Amsterdam. I worked at the
        reception, as cleaning supervisor and as night guard.</p>
      <h5>Musician
        <span style="font-size: 0.9em; color: #555">@ Church</span>
        <span style="font-size: 0.7em; color: #555; float: right">📅 2012 - present</span>
      </h5>
      <p>During services in my church I often play drum, bass, guitar, or piano. For some bands I also prepare the sheet
        music and lead the practice session.</p>
      <h5>Tech team
        <span style="font-size: 0.9em; color: #555">@ Church</span>
        <span style="font-size: 0.7em; color: #555; float: right">📅 2010 - present</span>
      </h5>
      <p>I regularly control the beamer, screens, livestream, or audio during services and other events.</p>
    </div>
    <hr />
    <h3>Technical Design of Project Sunset</h3>
    <p>
      The backend is written in
      <a href="https://www.python.org/">Python</a> with
      <a href="https://www.djangoproject.com/">Django</a> and uses a lot of
      <a href="http://www.django-rest-framework.org/">Django Rest Framework</a>.
    </p>
    <p>
      The frontend is written in
      <a href="https://vuejs.org/">Vue.js</a> with
      <a href="https://vitejs.dev/">Vite</a> and uses
      <a href="https://bulma.io/">Bulma</a> as a CSS framework. Also in use are
      vue-router, vuex and <a href="https://www.chartjs.org/">chart.js</a>.
    </p>
    <p>
      For testing I use Python's (and Django's) unittest framework to test the
      backend, with
      <a href="https://coverage.readthedocs.io/en/coverage-4.5.1a/">Coverage</a>
      to generate a coverage report. I use
      <a href="https://playwright.dev/">Playwright</a> to do
      integration tests.
    </p>
    <p>
      I develop everything in
      <a href="https://code.visualstudio.com/">VS Code</a> via
      <a href="https://docs.microsoft.com/en-us/windows/wsl/">WSL</a>, the code
      gets pushed to <a href="https://about.gitlab.com/">GitLab</a> where I use
      the CI/CD pipeline to test the code and deploy it to my VPS in <a href="https://www.transip.nl/">TransIP</a>'s
      cloud.
      Database backups are going to
      <a href="https://www.backblaze.com/b2/cloud-storage.html">Backblaze B2</a>.
    </p>
    <p>
      If you are interested in more details you can check out the
      <a href="https://gitlab.com/project-sunset/project-sunset">source code</a>
      on GitLab.
    </p>
  </div>
</template>

<style scoped>
.skills {
  background-color: black;
  border-radius: 1rem;
  max-height: 10em;
  max-width: 15em;
  overflow: hidden;
}

.skills>h3 {
  font-weight: normal;
  background-color: #222;
  position: relative;
  color: white;
  font-size: 1.1em;
  border-radius: 1rem 1rem 0 0;
  margin: -0.75rem -0.75rem 0 -0.75rem;
  padding: 0.5rem 1rem;
  z-index: 1;
}

@keyframes scroll {
  from {
    bottom: 0em;
  }

  to {
    bottom: 27em;
  }
}

.console {
  position: relative;
  padding-left: .5rem;
  z-index: 0;
  bottom: -7em;
  color: #4AF626;
  animation-name: scroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
</style>
import { defineSSRCustomElement } from 'vue'
