<template>
  <div
    class="container is-max-desktop"
    v-if="content"
  >
    <main class="box p-6">
      <RouterLink :to="{ name: 'ps:blog:feed' }">&lt; Back to feed</RouterLink>
      <div class="tags">
        <span class="tag is-primary">{{ readMinutes }} min read</span>
        <span
          v-for="tag in tags"
          :key="tag.tag"
          class="tag is-light"
          :class="tag.class"
        >{{ tag.tag }}</span>
      </div>
      <div
        class="content"
        v-html="content"
      />
      <hr />
      <div class="article-close">
        <figure class="image is-128x128">
          <img
            class="is-rounded"
            :src="'/static/blog/bob.jpeg'"
            alt="Bob's profile image"
          />
        </figure>
        <h5 class="is-size-4">Bob Luursema</h5>
      </div>
      <RouterLink :to="{ name: 'ps:blog:feed' }">&lt; Back to feed</RouterLink>
    </main>
    <h2 class="is-size-5 has-text-weight-bold has-text-light mt-6 mb-4">
      Read next
    </h2>
    <div class="columns">
      <div
        class="column"
        v-for="suggestion in suggested"
        :key="suggestion.slug"
      >
        <BlogSnippet :articleSnippet="suggestion" />
      </div>
    </div>
  </div>
</template>

<script>
import BlogSnippet from '@/components/home/BlogSnippet.vue'

export default {
  components: {
    BlogSnippet
  },
  data() {
    return {
      content: null,
      suggested: [],
    }
  },
  created() {
    this.getBlog()
    this.$watch(
      () => this.$route,
      (toRoute) => {
        if (toRoute.name === 'ps:blog:article') {
          this.getBlog()
        }
      }
    )
  },
  methods: {
    getBlog() {
      this.$api.get(`blog/${this.$route.params.slug}/`, response => {
        this.tags = response.article.tags
        this.readMinutes = response.article.read_minutes
        this.content = response.article.content
        this.suggested = response.suggested
        window.scrollTo({ top: 0, left: 0 })
      })
    }
  }
}
</script>

<style scoped>
.tags {
  margin-top: 2rem;
}

.article-close {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

@media (max-width: 500px) {
  .article-close {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
</style>
