<template>
  <div class="container is-max-desktop">
    <header class="box columns">
      <div class="column is-two-thirds">
        <h1 class="is-size-4">Bob's Portfolio Blog</h1>
        <p class="mb-3">
          Sometimes I like to write something about a thing I built. And
          complain that I don't have enough time to build all the things I want
          to build.
        </p>
        <SelectInput
          label="Filter on label"
          v-model="selectedTag"
          :options="tags"
          :canEmpty="true"
        />
      </div>
      <div class="column">
        <figure class="image is-128x128">
          <img
            class="is-rounded"
            :src="'/static/blog/bob.jpeg'"
            title="Bob's face"
            alt="Bob's face"
          />
        </figure>
      </div>
    </header>

    <main>
      <div class="article_page">
        <BlogSnippet
          v-for="article in page"
          :key="article.slug"
          :articleSnippet="article"
        />
      </div>
      <nav
        class="pagination is-centered"
        role="navigation"
        aria-label="pagination"
        style="margin-top: 1em"
      >
        <button
          :disabled="currentPage === 0"
          class="pagination-previous"
          @click="currentPage--"
          type="button"
        >
          Previous
        </button>
        <button
          :disabled="currentPage === pageCount - 1"
          class="pagination-next"
          @click="currentPage++"
          type="button"
        >
          Next page
        </button>
        <ul class="pagination-list">
          <!-- eslint-disable vue/require-v-for-key -->
          <li v-for="i in pageCount">
            <button
              :class="{ 'is-current': currentPage === i - 1 }"
              class="pagination-link"
              :aria-label="`Goto page ${i}`"
              @click="currentPage = i - 1"
              type="button"
            >
              {{ i }}
            </button>
          </li>
        </ul>
      </nav>
    </main>
  </div>
</template>

<script>
import BlogSnippet from '@/components/home/BlogSnippet.vue'
import { SelectInput } from '@/shared-vue'

export default {
  props: ['tag', 'pageNumber'],
  components: {
    BlogSnippet,
    SelectInput
  },
  data() {
    return {
      articles: [],
      currentPage: 0,
      pageSize: 5,
      selectedTag: null,
    }
  },
  watch: {
    selectedTag() {
      this.$router.replace({ path: this.$route.path, query: { tag: this.selectedTag, p: this.currentPage + 1 } })
    },
    currentPage() {
      this.$router.replace({ path: this.$route.path, query: { tag: this.selectedTag, p: this.currentPage + 1 } })
    }
  },
  computed: {
    tags() {
      return [...new Set(this.articles.map(article => article.tags.map(tag => tag.tag)).flat())]
    },
    filteredArticles() {
      if (!this.selectedTag) {
        return this.articles
      }
      return this.articles.filter(article => article.tags.map(tag => tag.tag).includes(this.selectedTag))
    },
    page() {
      const start = this.currentPage * this.pageSize
      return this.filteredArticles.slice(start, start + this.pageSize)
    },
    pageCount() {
      return Math.ceil(this.filteredArticles.length / this.pageSize)
    }
  },
  created() {
    this.$api.get('blog/', response => {
      this.articles = response
    })
    this.selectedTag = this.tag
    if (this.pageNumber) {
      this.currentPage = this.pageNumber - 1
    }
  }
}
</script>
