<template>
  <div>
    <div class="container is-max-desktop has-text-centered mb-4">
      <h2 class="title has-text-light">Hi, I am Bob Luursema</h2>
      <h3 class="subtitle has-text-light">I develop all sorts of software</h3>
      <div class="columns">
        <div class="column">
          <RouterLink class="button is-large" :to="{ name: 'ps:about' }"
            >Read about me 👋</RouterLink
          >
        </div>
        <div class="column">
          <RouterLink class="button is-large" :to="{ name: 'ps:blog:feed' }"
            >Read my portfolio blogs 📜</RouterLink
          >
        </div>
      </div>
      <p class="has-text-light">Or check out some of my software below!</p>
    </div>
    <hr />
    <div class="container">
      <div class="columns">
        <div class="column">
          <Login />
        </div>
        <div class="column">
          <AppOverview />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Login from '@/components/home/Login'
import AppOverview from '@/components/home/AppOverview'
export default {
  components: {
    AppOverview, Login
  }
}
</script>