<template>
  <div>
    <section class="hero is-link">
      <div class="hero-body">
        <h1
          class="title"
          v-if="quiz"
        >Quiz: {{ quiz.name }}</h1>
      </div>
    </section>

    <div class="section">
      <div class="container">
        <p v-if="quiz === null">Laden...</p>
        <div v-else>
          <div class="box">
            <h2 class="subtitle">Controls</h2>
            <div class="columns">
              <div class="column">
                <p data-testid="current-round">Huidige ronde: {{ this.quiz.current_round }}</p>
                <div class="buttons">
                  <button
                    id="previous-round"
                    class="button"
                    @click="changeRound(-1)"
                  >Previous</button>
                  <button
                    id="next-round"
                    class="button"
                    @click="changeRound(1)"
                  >Next</button>
                </div>
              </div>
              <div class="column">
                <p data-testid="current-question">Huidige vraag: {{ this.quiz.current_question }}</p>
                <div class="buttons">
                  <button
                    id="previous-question"
                    class="button"
                    @click="changeQuestion(-1)"
                  >Previous</button>
                  <button
                    id="next-question"
                    class="button"
                    @click="changeQuestion(1)"
                  >Next</button>
                </div>
              </div>
              <div class="column">
                <RouterLink
                  class="button"
                  :to="{ name: 'quiz:score' }"
                >View scoreboard</RouterLink>
              </div>
            </div>
            <div class="field">
              <label class="label">Link om deel te nemen</label>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input
                    :value="participateUrl"
                    class="input"
                    readonly
                  >
                </div>
                <div class="control">
                  <button
                    type="button"
                    class="button is-info"
                    @click="share"
                  >Delen</button>
                </div>
              </div>
            </div>

          </div>
          <div class="box">
            <h2 class="subtitle">Teams <button
                class="button is-small"
                @click="getTeams"
              >Refresh</button></h2>
            <table
              class="table"
              aria-label="Teams"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Code</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="team in teams">
                  <td>{{ team.name }}</td>
                  <td>{{ team.code }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ModelTable
            class="box"
            modelName="Round"
            apiStore="quiz/rounds"
            :data="rounds"
            :config="roundConfig"
            v-model="round"
            @post="getRounds"
            @delete="getRounds"
            @put="getRounds"
          />
          <ModelTable
            class="box"
            modelName="Question"
            apiStore="quiz/questions"
            :data="questions"
            :config="questionConfig"
            v-model="question"
            @post="getQuestions"
            @delete="getQuestions"
            @put="getQuestions"
          />
        </div>
      </div>
    </div>
    <SimpleFooter />
  </div>
</template>

<script>
import { ModelTable } from '@/shared-vue'
import SimpleFooter from '@/components/SimpleFooter.vue'
import { mapState } from "vuex"

export default {
  components: {
    ModelTable,
    SimpleFooter,
  },
  data() {
    return {
      quiz: null,
      teams: [],
      question: {
        quiz: null,
        question: '',
        order: 1,
        answer: '',
        score_weight: 1,
        round: null,
      },
      round: {
        name: '',
        order: 1,
        quiz: null,
      }
    }
  },
  computed: {
    ...mapState({
      questions: state => state.quiz.questions.searchResults,
      rounds: state => state.quiz.rounds.searchResults
    }),
    questionConfig() {
      return {
        url: 'quiz/api/questions/',
        fields: {
          quiz: { label: 'quiz', type: 'hidden', value: this.quiz?.id },
          question: { label: 'Question', type: 'textarea', default: "" },
          answer: { label: 'Answer', type: 'textarea', default: "" },
          score_weight: { label: 'Score Weight', type: 'number', default: 1 },
          round: { label: 'Round', type: 'select', default: null, options: this.rounds.data, optionValue: 'id', optionName: 'name' },
          order: { label: 'order', type: 'number', default: 1 }
        }
      }
    },
    roundConfig() {
      return {
        url: 'quiz/api/rounds/',
        fields: {
          quiz: { label: 'quiz', type: 'hidden', value: this.quiz?.id },
          name: { label: 'Name', type: 'text', default: "" },
          order: { label: 'order', type: 'number', default: 1 }
        }
      }
    },
    participateUrl() {
      return `${window.location.origin}/#/quiz/${this.quiz.id}/participate`
    }
  },
  created() {
    this.$api.get(`quiz/api/quiz/${this.$route.params.id}`, response => {
      this.quiz = response
      this.question.quiz = this.quiz.id
      this.round.quiz = this.quiz.id
      this.getQuestions()
      this.getRounds()
      this.getTeams()
    })
  },
  methods: {
    share() {
      navigator.share({
        title: `Doe mee met de quiz: ${this.quiz.name}`,
        text: `Doe mee met de quiz: ${this.quiz.name}`,
        url: this.participateUrl
      })
    },
    getQuestions() {
      this.$store.dispatch('quiz/questions/search', [{ field: 'quiz', term: this.quiz.id }])
    },
    getRounds() {
      this.$store.dispatch('quiz/rounds/search', [{ field: 'quiz', term: this.quiz.id }])
    },
    getTeams() {
      this.$api.get(`quiz/api/teams/?quiz=${this.quiz.id}`, response => {
        this.teams = response.results
      })
    },
    changeRound(delta) {
      const newRound = Number(this.quiz.current_round) + delta
      this.$api.patch(`quiz/api/quiz/${this.quiz.id}/`, {
        current_round: newRound,
        current_question: 0,
      }, _ => {
        this.quiz.current_round = newRound
        this.quiz.current_question = 0
      })
    },
    changeQuestion(delta) {
      const newQuestion = Number(this.quiz.current_question) + delta
      this.$api.patch(`quiz/api/quiz/${this.quiz.id}/`, {
        current_question: newQuestion,
      }, _ => {
        this.quiz.current_question = newQuestion
      })
    },
  }
}
</script>