<template>
  <div>
    <JoinTeam
      v-if="team === null"
      :quiz="quiz"
      @set-team="loggedin"
    />
    <div v-else-if="team && state">
      <section class="hero is-link">
        <div class="hero-body">
          <h1 class="title">Quiz: {{ this.state.quiz.name }}</h1>
          <p class="subtitle">Team: {{ this.team.name }}</p>
          <div class="columns">
            <p
              class="column"
              style="font-size: 0.9em"
            >De code voor jullie team is: <span id="teamcode">{{ this.team.code }}</span><br />deze heb je
              nodig als je de
              verbinding verliest!</p>
            <div class="column">
              <button
                @click="logout"
                class="button is-small"
              >Switch van team</button>
            </div>
          </div>

        </div>
      </section>
      <section class="section">
        <div class="container">
          <p class="mb-5">Je krijgt vanzelf de nieuwe vragen te zien als ze gesteld worden. Zolang de ronde niet
            afgelopen
            is kan je je antwoorden nog veranderen. Alle antwoorden woorden automatisch opgeslagen.</p>
          <template v-if="state.quiz.current_round === 0">
            <p>De quiz is nog niet gestart, pak nog een snack!</p>
          </template>
          <h2
            v-if="currentRound"
            class="subtitle"
          >Ronde: {{ currentRound.order }}: {{ currentRound.name }}</h2>
          <template v-if="state.quiz.current_question === 0">
            <p>Deze ronde is nog niet gestart, bereid je voor!</p>
          </template>
          <Question
            :id="`${state.quiz.current_round}-${question.order}`"
            v-for="question in viewQuestions"
            @select-answer="selectAnswer(question.id, $event)"
            :question="question"
            :answer="state.answers.find(a => a.question === question.id)?.answer"
          />
        </div>
      </section>
    </div>
    <SimpleFooter />
  </div>
</template>

<script>
import Question from '@/components/quiz/Question'
import JoinTeam from '@/components/quiz/JoinTeam'
import SimpleFooter from '@/components/SimpleFooter.vue'

export default {
  components: {
    Question,
    SimpleFooter,
    JoinTeam
  },
  data() {
    return {
      quiz: null,
      team: null,
      refresher: null,
      state: null,
      updating: false,
    }
  },
  created() {
    this.$api.get(`quiz/api/quiz/${this.$route.params.id}/`, response => {
      this.quiz = response
      const storedTeam = window.localStorage.getItem("team")
      if (storedTeam) {
        this.$api.get(`quiz/api/teams/?quiz=${this.quiz.id}&name=${storedTeam}`, response => {
          if (response.count === 0) {
            window.localStorage.removeItem("team")
          } else {
            this.team = response.results[0]
            this.update()
          }
        })
      }
    })
    this.refresher = setInterval(this.update, 2000)
  },
  beforeUnmount() {
    clearInterval(this.refresher)
  },
  computed: {
    currentRound() {
      return this.state?.quiz?.rounds
        .find(r => r.order === this.state.quiz.current_round)
    },
    viewQuestions() {
      return this.currentRound?.questions
        .filter(q => q.order <= this.state.quiz.current_question)
        .toSorted((a, b) => {
          if (a.order < b.order) {
            return -1
          } else if (a.order > b.order) {
            return 1
          }
          return 0
        })
    }
  },
  methods: {
    loggedin(team) {
      this.team = team
      this.update()
    },
    logout() {
      window.localStorage.removeItem("team")
      location.reload()
    },
    update() {
      if (this.team === null || this.updating) return
      this.updating = true
      this.$api.get(`quiz/api/teams/${this.team.id}/ping/`, response => {
        response.quiz.rounds.forEach(r => r.questions.forEach(q => q.question = JSON.parse(q.question)))
        const shouldScroll = this.state?.quiz.current_question < response.quiz.current_question
        this.state = response
        this.updating = false
        if (shouldScroll) {
          this.$nextTick(() => {
            const question = document.getElementById(`${this.state.quiz.current_round}-${this.state.quiz.current_question}`)
            question?.scrollIntoView({ behavior: 'smooth', block: 'center' })
          })
        }
      }, false, (response) => {
        setTimeout(() => {
          this.updating = false
        }, 5000)
        response.text().then(responseText => {
          if (responseText.length >= 300) {
            responseText = responseText.substring(0, 300) + " (...)"
          }
          this.$notify({
            text: `A functional error occurred\n${responseText}`,
            style: 'error',
            duration: 5000
          })
        })
      })
    },
    selectAnswer(questionId, answer) {
      const existingAnswer = this.state.answers.find(a => a.question === questionId)
      if (!existingAnswer) {
        this.$api.post('quiz/api/answers/', {
          question: questionId,
          team: this.team.id,
          answer: answer
        }, _ => {
          this.update()
        })
      } else {
        this.$api.patch(`quiz/api/answers/${existingAnswer.id}/`, {
          answer: answer
        }, _ => {
          this.update()
        })
      }

    }
  }
}
</script>
