<template>
  <div>
    <section class="hero is-link">
      <div class="hero-body">
        <p
          v-if="quiz"
          class="title"
        >{{ quiz.name }}</p>
      </div>
    </section>
    <section class="section">
      <div style="position: relative; height:80vh; width:90vw">
        <canvas id="score"></canvas>
      </div>
      <hr class="mt-6 mb-6" />
      <table
        aria-label="Team scores"
        class="table"
        style="font-size: 2em"
      >
        <thead>
          <tr>
            <th>Team</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(score, team) in scores">
            <td>{{ team }}</td>
            <td>{{ score }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</template>

<script>
import Chart from 'chart.js/auto'

export default {
  data() {
    return {
      scores: null,
      chart: null,
      quiz: null,
    }
  },
  created() {
    this.updateData()
  },
  methods: {
    updateData() {
      this.$api.get(`quiz/api/quiz/${this.$route.params.id}/score/`, response => {
        this.scores = response
        this.createChart()
      })
    },
    createChart() {
      const ctx = document.getElementById('score')
      const teams = Object.keys(this.scores)
      this.chart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: teams,
          datasets: [{
            label: 'Score!',
            data: teams.map(team => this.scores[team]),
          }]
        },
        options: {
          plugins: {
            legend: {
              display: false,
            }
          },
          indexAxis: 'y',
          barPercentage: 0.5,
          maintainAspectRatio: false,
          animation: {
            duration: 4000
          },
          scales: {
            x: {
              title: 'Juiste antwoorden',
              ticks: {
                font: {
                  size: 16
                }
              }
            },
            y: {
              beginAtZero: true,
              ticks: {
                autoSkip: false,
                font: {
                  size: 30
                }
              }
            }
          }
        }
      })
    }
  }
}
</script>