<template>
  <div>
    <section class="hero is-link">
      <div class="hero-body">
        <h1 class="title">Quizzes</h1>
      </div>
    </section>
    <section class="section">
      <LoginPopup v-if="!authenticated">
        <p>Create online quizzes!</p>
      </LoginPopup>
      <div
        v-else
        class="container"
      >
        <ModelTable
          class="box"
          modelName="Quiz"
          apiStore="quiz/quizzes"
          :data="quizzes"
          :config="quizConfig"
          :instanceLink="{ link: '/quiz/{}/manage', param: 'id' }"
          v-model="quiz"
          @delete="update"
          @post="update"
          @put="update"
        />
      </div>
    </section>
    <SimpleFooter />
  </div>
</template>

<script>
import { ModelTable, LoginPopup } from '@/shared-vue'
import SimpleFooter from '@/components/SimpleFooter.vue'
import { mapState } from "vuex"

export default {
  components: {
    ModelTable,
    LoginPopup,
    SimpleFooter
  },
  created() {
    if (this.authenticated) {
      this.update()
    }
  },
  watch: {
    authenticated(newValue) {
      if (newValue) {
        this.update()
      }
    }
  },
  data() {
    return {
      quizConfig: {
        url: 'quiz/api/quiz/',
        fields: {
          name: { label: 'name', type: 'text' },
        }
      },
      quiz: {
        name: '',
      }
    }
  },
  methods: {
    update() {
      this.$store.dispatch('quiz/quizzes/search', [{ field: 'user', term: this.user.id }])
    }
  },
  computed: {
    ...mapState({
      authenticated: state => state.auth.authenticated,
      user: state => state.auth.user,
      quizzes: state => state.quiz.quizzes.searchResults
    })
  }
}

</script>