<template>
  <div
    class="box"
    v-if="unprocessedTransaction"
  >
    <h2 class="subtitle">Process transaction</h2>
    <p>
      {{ unprocessedTransaction.data.Datum }} -
      {{ unprocessedTransaction.data["Naam / Omschrijving"] }}
      <br />
      {{ $filters.currency(unprocessedTransaction.data["Bedrag (EUR)"]) }}
      <br />
      {{ unprocessedTransaction.data["Mededelingen"] }}
    </p>
    <hr />
    <table
      class="basic-table"
      v-if="createdTransactions.length > 0"
      aria-label="Created transactions"
    >
      <thead>
        <tr>
          <th>Amount</th>
          <th>Category</th>
          <th>Specification</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="transaction in createdTransactions"
          :key="transaction.id"
        >
          <td>{{ $filters.currency(transaction.amount) }}</td>
          <td>{{ transaction.category_obj.name }}</td>
          <td>{{ transaction.specification_obj.name }}</td>
          <td>
            <button
              class="button is-small is-outlined is-danger"
              @click="deleteTransaction(transaction.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Sum: {{ $filters.currency(newTransactionSum) }}</td>
        </tr>
      </tfoot>
    </table>
    <button
      class="button"
      @click="$emit('done')"
    >Done</button>
    <hr />
    <model-form
      v-show="newTransactionSum !== unprocessedTransactionAmount"
      v-model="newTransaction"
      modelName="Transaction"
      :config="transactionConfig"
      @submit-form="transactionSubmit"
    >
      <template v-slot:extra-form-inputs>
        <specification-select
          v-model="newTransaction.specification"
          :is-income="unprocessedTransaction.data['Af Bij'] === 'Bij'"
        ></specification-select>
      </template>
    </model-form>
  </div>
</template>

<script>
import { ModelForm } from "@/shared-vue"
import SpecificationSelect from "./SpecificationSelect"

export default {
  props: ['unprocessedTransaction'],
  components: {
    ModelForm,
    SpecificationSelect
  },
  data() {
    return {
      createdTransactions: [],
      newTransaction: {
        date: '',
        amount: 0,
        specification: null
      },
    }
  },
  computed: {
    newTransactionSum() {
      return this.createdTransactions.reduce((a, c) => {
        a = a + c.amount
        return a
      }, 0)
    },
    unprocessedTransactionAmount() {
      return Number(this.unprocessedTransaction.data['Bedrag (EUR)'].replace(',', '.'))
    },
    transactionConfig() {
      let url = 'finances/api/transactions/'
      if (this.newTransaction.id === undefined) {
        url = url + `?unprocessedtransaction=${this.unprocessedTransaction.id}`
      }
      return {
        url: url,
        fields: {
          date: { label: 'Date', type: 'date', default: this.unprocessedTransaction.data.Datum },
          amount: { label: 'Amount', type: 'number', default: Number(this.unprocessedTransaction.data['Bedrag (EUR)'].replace(',', '.')), attrs: { step: 0.01 } },
          specification: { label: 'specification', type: 'hidden' }
        }
      }
    }
  },
  methods: {
    transactionSubmit(event) {
      if (event.action === 'post') {
        this.createdTransactions.push(event.data)
      }
    },
    deleteTransaction(transactionId) {
      this.$api.delete(
        `finances/api/transactions/${transactionId}/`,
        () => {
          this.createdTransactions = this.createdTransactions.filter(transaction => transaction.id !== transactionId)
        })
    }
  },
  watch: {
    unprocessedTransaction(newValue) {
      this.createdTransactions = []
      this.newTransaction.id = null
      this.newTransaction.date = newValue.data.Datum
      this.newTransaction.amount = Number(newValue.data['Bedrag (EUR)'].replace(',', '.'))
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/finances.scss";
</style>