<template>
  <div class="field">
    <SelectInput
      v-model="selectedCategory"
      label="Category"
      :options="mainCategories"
      optionValue="id"
      optionName="name"
      :html-id="`${context}-category`"
    />
    <SelectInput
      v-model="localValue"
      label="Specification"
      :options="specifications"
      optionValue="id"
      optionName="name"
      :canEmpty="true"
      :html-id="`${context}-specification`"
    />
  </div>
</template>

<script>
import { mapState } from "vuex"
import { SelectInput } from "@/shared-vue"

export default {
  components: {
    SelectInput
  },
  props: {
    modelValue: Number,
    context: {
      type: String,
      required: true,
    },
    isIncome: {
      type: Boolean,
      default: null
    }
  },
  data() {
    return {
      selectedCategory: null
    }
  },
  created() {
    this.$store.dispatch("finances/categories/get")
  },
  watch: {
    localValue(newValue) {
      if (newValue === null || newValue === undefined) {
        this.selectedCategory = null
        return
      }
      let categoryId = this.categories.data.find(category => category.id === newValue).specification_of
      this.selectedCategory = this.categories.data.find(category => category.id === categoryId).id
    },
    selectedCategory() {
      const specIds = this.specifications.map(s => s.id)
      if (!specIds.includes(this.localValue)) {
        this.localValue = null
      }
    }
  },
  computed: {
    localValue: {
      get() {
        return this.modelValue
      },
      set(localValue) {
        this.$emit("update:modelValue", localValue)
      }
    },
    ...mapState({
      categories: state => state.finances.categories
    }),
    mainCategories() {
      return this.categories.data.filter(category => category.specification_of === null).filter(category => this.isIncome === null || this.isIncome === category.is_income)
    },
    specifications() {
      return this.categories.data.filter(category => category.specification_of !== null && category.specification_of === this.selectedCategory)
    },
  }
}
</script>