<template>
  <div
    v-if="response"
    class="stuff"
  >
    <button
      class="button mb-2"
      @click="$emit('go-back')"
    >Back</button>
    <p v-if="response?.error">{{ response.message }}</p>
    <div
      id="solution"
      v-if="response?.solution"
    >
      <h2 class="has-text-centered">Solution</h2>
      <table class="sudoku">
        <tr v-for="row in response.solution">
          <td v-for="cell in row">{{ cell }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: ['response'],
  methods: {
    toggleExample() {
      document.getElementById('example').classList.toggle('hide')
    },
    solve() {
      this.error = ''
      this.solution = null
      this.$api.post('various/api/sudoku/', this.form.sudoku, response => {
        if (response.error) {
          this.error = response.message
        } else {
          this.solution = response.solution
        }
      })
    }
  }
}
</script>

<style scoped>
.stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sudoku td:nth-child(3),
.sudoku td:nth-child(6) {
  border-right: 2px solid black;
}

.sudoku tr:nth-child(3) td,
.sudoku tr:nth-child(6) td {
  border-bottom: 2px solid black;
}

.sudoku td {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
}

.sudoku {
  border: 2px solid black;
  border-collapse: collapse;
  margin-top: 1em;
}

#sudoku {
  font-family: monospace;
  padding: 0.5em;
  font-size: 1em;
}

#solution {
  margin-top: 2rem;
}</style>
