<template>
  <div
    v-if="sudoku !== null"
    class="stuff"
  >
    <button
      class="button mb-2"
      @click="back"
    >Back</button>
    <p class="mb-3">
      {{ knownCount === 1 ? $t('sudoku.intro_start_one') : $t('sudoku.intro_start_other', {n: knownCount}) }}
      {{  $t('sudoku.intro_rest_1') }}<br />
      {{  $t('sudoku.intro_rest_2') }}
    </p>
    <div class="app">
      <div style="margin-left: 1rem; margin-bottom: 0.7rem;">
        <span v-for="item in 'ABCDEFGHI'.split('')" style="width: 3rem; display: inline-block; text-align: center ;">{{ item }}</span>
      </div>
      <div style="display: flex; gap: 1rem">
        <div style="display: flex; flex-direction: column;">
          <span v-for="item in '123456789'.split('')" style="height: 3rem; display: inline-block; line-height: 3rem;">{{ item }}</span>
        </div>
        <div class="sudoku">
        <div v-for="row in sudoku">
          <div
            v-for="cell in row"
            @click="select(cell)"
            :class="{
              'is-selected': selectedCell && cell.id === selectedCell.id,
              'is-unknown': cell.value === null,
              'has-no-options': cell.value === null && cell.result.options && cell.result.options.length === 0,
              'solveable': cell.value === null && cell.result.known && cell.result.index < 4,
            }"
          >{{ cell.value ? cell.value : '' }}<span v-if="cell.result?.index < 4" class="result-step">{{ cell.result.index + 1 }}</span>
          </div>
        </div>
      </div>  
      </div>
      <div
        class="analysis content"
        v-if="selectedCell"
      >
        <h2>{{ $t('sudoku.antitle', {id: id2coor(selectedCell.id) })}}</h2>
        <div v-if="selectedCell.result.known">
          <p>{{ $t('sudoku.cell_result', { number: selectedCell.result.number, step: selectedCell.result.index + 1 })}}
          </p>
          <p v-if="selectedCell.result.reason === 'single_candidate' && selectedCell.result.detail === 'row'">{{ $t('sudoku.result_only_row') }}</p>
          <p v-else-if="selectedCell.result.reason === 'single_candidate' && selectedCell.result.detail === 'column'">
            {{ $t('sudoku.result_only_column') }}</p>
          <p v-else-if="selectedCell.result.reason === 'single_candidate' && selectedCell.result.detail === 'subsquare'">
            {{ $t('sudoku.result_only_subsquare') }}</p>
          <div
            v-else-if="selectedCell.result.reason === 'single_candidate' && (selectedCell.result.detail === 'other' || selectedCell.result.detail === 'row-column-subsquare')"
          >
            <p>{{ $t('sudoku.result_only_value') }}</p>
            <ul>
              <li v-for="(value, key) in selectedCell.eliminatedNumbers">{{ key }}: {{
                eliminatedReason(selectedCell, key)
              }}</li>
            </ul>
          </div>
          <div v-else-if="selectedCell.result.reason === 'unique_option'">
            <p>{{ $t('sudoku.result_unique_option', {location: $t(`sudoku.${selectedCell.result.detail}`)} )}}</p>
            <ul>
              <li
                v-for="cell in sudoku.flat().filter(c => c.value === null && c.id !== selectedCell.id && c[selectedCell.result.detail] == selectedCell[selectedCell.result.detail])"
              >
                {{ $t('sudoku.eliminate_base', {id: id2coor(cell.id), number: selectedCell.result.number, reason: eliminatedReason(cell, selectedCell.result.number)}) }}
              </li>
            </ul>
          </div>
          <div
            v-else
            style="white-space: pre"
          >
            {{ JSON.stringify(selectedCell, null, 2) }}
          </div>
        </div>
        <div v-else-if="!selectedCell.result.known">
          <p v-if="selectedCell.result.options.length === 0">{{ $t('sudoku.cell_error') }}</p>
          <p v-else>{{ $t('sudoku.remaining_options') }}{{ selectedCell.result.options.join(', ') }}</p>
          <div v-if="selectedCell.result.options.length < 9">
            <p>{{ $t('sudoku.eliminated_options') }}</p>
            <ul>
              <li v-for="(value, key) in selectedCell.eliminatedNumbers">{{ key }}: {{
                eliminatedReason(selectedCell, key)
              }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const COLUMNS = 'ABCDEFGHI'

export default {
  props: ['sudoku'],
  data() {
    return {
      selectedCell: null
    }
  },
  methods: {
    id2coor(id) {
      const column = id % 9
      const row = Math.floor(id / 9)
      return `${COLUMNS.charAt(column)}${row+1}`
    },
    select(cell) {
      if (cell.value !== null) {
        return
      }
      this.selectedCell = cell
    },
    back() {
      this.selectedCell = null
      this.$emit('go-back')
    },
    eliminatedReason(cell, number) {
      if (cell.eliminatedNumbers[number] === undefined) {
        return this.$t('sudoku.eliminate.already', {number: cell.result.number})
      }
      const data = cell.eliminatedNumbers[number][0]
      if (data.reason === 'row') return this.$t('sudoku.eliminate.row', {id: this.id2coor(data.location)})
      if (data.reason === 'column') return this.$t('sudoku.eliminate.column', {id: this.id2coor(data.location)})
      if (data.reason === 'subsquare') return this.$t('sudoku.eliminate.subsquare', {id: this.id2coor(data.location)})
      if (data.reason === 'indirect') return this.$t('sudoku.eliminate.indirect', {location: this.$t(`sudoku.${data.detail.direction}`), id: data.detail.subsquare + 1, cells: data.detail.relatedCells.split(',').map(this.id2coor).join(', ')})
      if (data.reason === 'naked-pair') return this.$t('sudoku.eliminate.naked-pair', {house: this.$t(`sudoku.${data.detail.house}`), cells: data.detail.ids.map(this.id2coor).join(', '), numbers: data.detail.combo})
    }
  },
  computed: {
    knownCount() {
      return this.sudoku.flat().filter(c => c.value === null && c.result.known).length
    }
  }
}
</script>

<style scoped>
.stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sudoku {
  border: 2px solid black;
  display: inline-block;
}

.sudoku>div {
  display: flex;
}

.sudoku>div>div {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  box-sizing: border-box;
}

.sudoku>div:nth-child(3),
.sudoku>div:nth-child(6) {
  border-bottom: 1px solid black
}

.sudoku>div>div:nth-child(3),
.sudoku>div>div:nth-child(6) {
  border-right: 1px solid black;
}

.is-selected {
  border: 2px solid blue;
}

.has-no-options {
  background-color: darkred;
  color: white;
}

.is-unknown {
  font-size: 0.7em
}

.analysis {
  padding: 1em;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.result-step {
  font-size: 0.7rem;
  position: relative;
  bottom: 1.3em;
  right: 1.5em;
}

.solveable {
  background-color: #64AD62
}
</style>