<template>
  <div>
    <select
      v-if="showPreset"
      id="presets"
      class="select mb-2"
      @change="setPreset"
    >
      <option
        v-for="(_, s) in presets"
        :value="s"
      >{{ s }}</option>
    </select>
    <p style="margin-bottom: 1em; text-align: center;">{{ $t('sudoku.intro_input') }}</p>
    <div class="sudoku-wrapper">
      <div class="sudoku-input mb-2">
        <div
          class="input-row"
          v-for="(row, rowIndex) in sudoku"
        >
          <div
            class="input-cell"
            v-for="(_, cellIndex) in row"
          >
            <input
              v-model="sudoku[rowIndex][cellIndex]"
              type="number"
              min="1"
              max="9"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="buttons is-centered">
      <button
        class="button is-info"
        @click="send('hint')"
      >Hint</button>
      <button
        class="button"
        @click="send('solve')"
      >Solve</button>
    </div>
  </div>
</template>

<script>
const PRESETS = {
  nulls: [
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
  ],
  row_column_subsquare_almost_done: [
    [1, 2, 3, 4, 5, 6, 7, 8, null],
    [5, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [3, null, null, null, null, null, null, null, null],
    [2, null, null, null, null, null, null, null, null],
    [6, null, null, null, null, null, null, null, null],
    [7, 1, 4, null, null, null, null, null, null],
    [8, 2, 5, null, null, null, null, null, null],
    [9, 3, null, null, null, null, null, null, null],
  ],
  scan_1: [
    [null, null, null, 1, null, 4, null, null, null],
    [null, null, null, null, null, null, 9, null, null],
    [null, 9, null, 7, null, 3, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
  ],
  scan_2: [
    [null, null, null, 1, null, null, null, null, null],
    [null, null, 1, null, null, null, 9, null, null],
    [null, null, null, null, null, null, null, 6, null],
    [null, null, null, null, null, null, 1, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
  ],
  single_candidate: [
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, 9, null, null, null, null, null, null, null],
    [8, null, 7, null, null, null, 1, null, 6],
    [null, null, null, null, null, null, null, null, null],
    [3, null, 4, null, null, null, null, null, null],
    [null, 5, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
  ],
  indirect: [
    [null, null, null, 2, null, 3, null, null, null],
    [null, null, null, null, null, 9, null, null, null],
    [null, null, null, 6, null, 5, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, 5, null, 2, null, null, null],
    [null, null, 1, null, null, null, null, null, null],
    [null, null, null, 4, null, 8, null, null, null],
  ],
  unique_in_row: [
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, 6, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [5, null, 8, 4, null, 9, 3, null, 1],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, 6, null, null, null, null],
  ],
  naked_pair: [
    [null, null, null, 3, null, null, null, null, null],
    [9, null, null, 1, 4, 7, 5, null, null],
    [6, 8, null, null, null, null, 4, 7, null],
    [null, null, 1, null, null, null, null, null, null],
    [7, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
    [null, null, null, null, null, null, null, null, null],
  ],
  wikipedia: [
    [5, 3, null, null, 7, null, null, null, null],
    [6, null, null, 1, 9, 5, null, null, null],
    [null, 9, 8, null, null, null, null, 6, null],
    [8, null, null, null, 6, null, null, null, 3],
    [4, null, null, 8, null, 3, null, null, 1],
    [7, null, null, null, 2, null, null, null, 6],
    [null, 6, null, null, null, null, 2, 8, null],
    [null, null, null, 4, 1, 9, null, null, 5],
    [null, null, null, null, 8, null, null, 7, 9],
  ],
  naked_triplet: [
    [null, 2, null, null, null, null, null, null, null],
    [3, null, null, null, 5, null, null, null, null],
    [7, null, null, 3, null, 9, 1, 6, null],
    [1, null, 5, 6, 4, null, null, 8, 3],
    [4, null, 6, 1, 3, 8, 5, null, 7],
    [8, null, null, null, null, null, null, null, null],
    [9, null, null, null, 1, 4, 8, null, null],
    [null, null, null, 8, 7, null, null, null, 9],
    [null, null, null, 9, null, null, null, null, 4],
  ],
  very_hard_sudoku: [
    [null, null, null, null, 6, null, null, 2, 7],
    [null, null, null, null, null, null, null, null, 5],
    [null, null, 4, null, 9, 1, null, 8, null],
    [null, null, 8, null, null, null, null, null, 4],
    [null, null, null, 4, 3, null, null, null, null],
    [null, 7, null, null, 8, null, null, 3, null],
    [3, null, null, null, null, 9, null, null, 1],
    [7, 2, null, 1, null, null, null, null, null],
    [null, 9, null, null, null, null, 2, null, null],
  ],
}

export default {
  data() {
    return {
      showPreset: false,
      presets: PRESETS,
      sudoku: [
        [null, null, null, null, null, null, null, null, null],
        [null, null, null, null, null, null, null, null, null],
        [null, null, null, null, null, null, null, null, null],
        [null, null, null, null, null, null, null, null, null],
        [null, null, null, null, null, null, null, null, null],
        [null, null, null, null, null, null, null, null, null],
        [null, null, null, null, null, null, null, null, null],
        [null, null, null, null, null, null, null, null, null],
        [null, null, null, null, null, null, null, null, null],
      ]
    }
  },
  created() {
    document.addEventListener('keydown', this.secretFunction)
  },
  beforeUnmount() {
    document.removeEventListener('keydown', this.secretFunction)
  },
  methods: {
    secretFunction(event) {
      if (event.altKey && event.key === 'b') {
        this.showPreset = true
      }
    },
    send(type) {
      const copy = JSON.parse(JSON.stringify(this.sudoku))
      this.$emit(`${type}-sudoku`, copy.map(r => r.map(c => c === '' ? null : c)))
    },
    setPreset(event) {
      this.sudoku = this.presets[event.target.value]
    }
  }
}
</script>

<style scoped>
.sudoku-wrapper {
  display: flex;
  justify-content: center;
}

.sudoku-input {
  border: 2px solid black;
}

.input-row {
  display: flex;
}

.input-row:nth-child(3),
.input-row:nth-child(6) {
  border-bottom: 1px solid black;
}

.input-cell:nth-child(3),
.input-cell:nth-child(6) {
  border-right: 1px solid black;
}

.input-cell {
  padding: 0.4rem;
}

.input-cell>input {
  width: 2em;
  text-align: center;
  font-size: 1.3em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
</style>