<template>
  <div>
    <SimpleHeader
      title="Sudoku Solver"
      backgroundColor="#d05"
      color="white"
    />
    <main class="section">
      <div class="content">
        <p>You can solve or get a hint for a sudoku here! You can read more about this project on my <RouterLink
            :to="{ name: 'ps:blog:article', params: { slug: 'sudoku' } }"
          >blog</RouterLink>.</p>
      </div>
      <SudokuInput
        v-show="hintedSudoku === null && solveResponse === null"
        @hint-sudoku="hintSudoku"
        @solve-sudoku="solveSudoku"
      />
      <ExpertSolver
        :sudoku="hintedSudoku"
        @go-back="hintedSudoku = null"
      />
      <BruteForce
        :response="solveResponse"
        @go-back="solveResponse = null"
      />
    </main>
    <SimpleFooter />
  </div>
</template>

<script>
import SimpleHeader from '@/components/SimpleHeader'
import SimpleFooter from '@/components/SimpleFooter'
import SudokuInput from './SudokuInput'
import ExpertSolver from './ExpertSolver'
import BruteForce from './BruteForce'
import { solveSudoku } from './solve-sudoku'

export default {
  components: {
    SimpleHeader,
    SimpleFooter,
    SudokuInput,
    ExpertSolver,
    BruteForce,
  },
  data() {
    return {
      hintedSudoku: null,
      solveResponse: null,
    }
  },
  methods: {
    hintSudoku(rawSudoku) {
      this.hintedSudoku = solveSudoku(rawSudoku)
    },
    solveSudoku(rawSudoku) {
      const sudoku = rawSudoku.map(row => row.map(cell => cell === null ? 0 : cell).join('')).join('\n')
      this.$api.post('various/api/sudoku/', sudoku, response => {
        this.solveResponse = response
      })
    }
  }
}
</script>