{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link
    href="{% static 'various/memory/memory.css' %}"
    type="text/css"
    rel="stylesheet"
  >
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Bob's Memory Game</title>
</head>

<body>

  <div class="gameboard">

    <a
      href="/"
      class='return'
    >Return</a>
    <h1>Bob's Memory Game</h1>

    <h2
      id="result"
      class="hidden"
    ></h2>

    <div class="buttons">
      <input
        type=button
        onclick="setup()"
        value="Start"
        id="start"
      />
      <input
        type=button
        onclick="stop()"
        value="Stop"
        id="stop"
      />
    </div>

    <canvas
      id="card0"
      onclick="cardClick(0)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card1"
      onclick="cardClick(1)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card2"
      onclick="cardClick(2)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card3"
      onclick="cardClick(3)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card4"
      onclick="cardClick(4)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card5"
      onclick="cardClick(5)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card6"
      onclick="cardClick(6)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card7"
      onclick="cardClick(7)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card8"
      onclick="cardClick(8)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card9"
      onclick="cardClick(9)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card10"
      onclick="cardClick(10)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card11"
      onclick="cardClick(11)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card12"
      onclick="cardClick(12)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card13"
      onclick="cardClick(13)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card14"
      onclick="cardClick(14)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card15"
      onclick="cardClick(15)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card16"
      onclick="cardClick(16)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card17"
      onclick="cardClick(17)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card18"
      onclick="cardClick(18)"
      width="100px"
      height="100px"
    ></canvas>
    <canvas
      id="card19"
      onclick="cardClick(19)"
      width="100px"
      height="100px"
    ></canvas>

    <h2 class='timeText'>Time taken: </h2>
    <h2
      id="time"
      class="timeText"
    >0</h2>
    <h2 class="timeText">seconds</h2></br>
    <h2 class='turnText'>Turns: </h2>
    <h2
      id="turns"
      class="turnText"
    >0</h2>

  </div>

  <div
    id='countdown'
    class='countdown-container'
  >
    <div
      class='countdown invisible'
      id="three"
    >3</div>
    <div
      class='countdown invisible'
      id="two"
    >2</div>
    <div
      class='countdown invisible'
      id="one"
    >1</div>
  </div>

  <p style="text-align: center; font-family: sans-serif">You can read more about this project on my <a
      href="/#/blog/articles/memory/"
    >blog</a>.
  </p>

  <script
    type='text/javascript'
    src="{% static 'various/memory/memoryUI.js' %}"
  ></script>
  <script
    type='text/javascript'
    src="{% static 'various/memory/drawShapes.js' %}"
  ></script>
  <script
    type='text/javascript'
    src="{% static 'various/memory/memory.js' %}"
  ></script>

</body>

</html>