<!DOCTYPE html>
<html lang="nl">

<head>
  <title>{{ name }} Controlepaneel</title>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0"
  >
  <style>
    body {
      font-family: sans-serif;
    }

    .slide-button {
      padding: 1rem;
      margin-right: 0.5rem;
    }
  </style>
</head>

<body style="margin: 0">
  <div style="margin: 1rem">
    <button
      onclick="restart()"
      class="slide-button"
    >Herstart</button>
    <button
      onclick="previousSlide()"
      class="slide-button"
    >Vorige</button>
    <button
      onclick="nextSlide()"
      class="slide-button"
    >Volgende</button>
  </div>
  <hr>
  <p style="margin: 1rem">Huidige slide</p>
  <div style="margin: auto; text-align: center;">
    <img
      id="slide"
      style="max-width: 100vw; max-height: 70vh"
      alt="current slite"
    >
  </div>
  <hr>
  <p style="margin: 1rem">Alle slides</p>
  <div style="margin: 1rem; display: flex; flex-wrap: wrap">
    {% for slide in slides %}
    <img
      style="margin: 0.5rem"
      src="https://media.projectsunset.nl/file/ProjectSunset-PRD/presentation/{{ slide }}"
      width="150px"
      onclick="setSlide('{{ slide }}')"
      alt="{{ slide }}"
    >
    {% endfor %}
  </div>
  <hr>
  <script>
    var images = [
      {% for slide in slides %}
    '{{ slide }}',
      {% endfor %}
    ]
    var baseurl = 'https://media.projectsunset.nl/file/ProjectSunset-PRD/presentation/'
    var img = document.getElementById("slide")
    img.src = baseurl + '{{ current_slide }}'
    var currentSlide = images.indexOf('{{ current_slide }}')

    function setSlide(slide, newCurrentSlide) {
      fetch('/various/presentation-set/{{ name }}/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ new_slide: slide })
      }).then(response => response.json())
        .then(data => {
          currentSlide = newCurrentSlide
          img.src = baseurl + data.current_slide
        })
    }
    function restart() {
      setSlide(images[0], 0)
    }

    function nextSlide() {
      if (images.length <= currentSlide + 1) {
        return
      }
      setSlide(images[currentSlide + 1], currentSlide + 1)
    }
    function previousSlide() {
      if (currentSlide === 0) {
        return
      }
      setSlide(images[currentSlide - 1], currentSlide - 1)
    }
  </script>
</body>

</html>