<!DOCTYPE html>
<html lang="nl">

<head>
  <title>{{ name }}</title>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1.0"
  >
  <style>
    .slide {
      max-height: 100vh;
      max-width: 100vw;
    }
  </style>
</head>

<body style="margin: 0">
  <img
    id="slide"
    class="slide"
    alt="Current slide"
  >
  <script>
    var baseurl = 'https://media.projectsunset.nl/file/ProjectSunset-PRD/presentation/'
    var img = document.getElementById("slide")
    var currentSlide = '{{ current_slide }}'
    img.src = baseurl + '{{ current_slide }}'
    var errs = 0
    var waitingForFetch = false
    setInterval(function () {
      if (waitingForFetch) {
        return
      }
      waitingForFetch = true
      fetch('/various/presentation-slide/{{ name }}/')
        .then(response => response.json())
        .then(data => {
          errs = 0
          if (data.current_slide !== currentSlide) {
            img.src = baseurl + data.current_slide
            currentSlide = data.current_slide
          }
          waitingForFetch = false
        }).catch(err => {
          errs += 1
          if (errs >= 4) {
            location.reload()
          }
          waitingForFetch = false
        })
    }, 2000)
  </script>
</body>

</html>