{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width"
  >
  <title>Countdown Timer</title>
  <style>
    body {
      box-sizing: border-box;
      background-color: black;
      color: white;
      font-family: sans-serif;
    }

    label {
      margin-top: 1em;
    }

    .container {
      display: flex;
      align-items: center;
    }

    .controller {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin: 3em;
      gap: 0.4em;
    }

    .controller>input {
      text-align: end;
      width: 6em;
    }

    .controller>button {
      font-size: 1em;
      border: 2px solid white;
      border-radius: 10px;
      background-color: black;
      color: white;
      width: 6em;
      margin-top: 1em;
      cursor: pointer;
      transition: background-color 0.5s;
    }

    .controller>button:hover,
    .controller>button:focus {
      background-color: #333;
      border-width: 4px;
    }

    .controller select {
      border: 2px solid white;
      background-color: black;
      border-radius: 10px;
      color: white;
      font-size: 1em;
      padding: 0.3em;
    }

    .controller select:focus {
      border-width: 4px;
    }

    .branding>img {
      border-radius: 50px;
      width: 100%;
    }

    .branding>textarea {
      text-align: center;
      font-weight: 100;
      font-size: 3em;
      width: 100%;
      background-color: black;
      color: white;
      border: none;
      resize: none;
      overflow: hidden;
    }

    .branding>textarea:focus {
      outline: none;
    }

    @media (max-aspect-ratio: 100/100) {
      canvas {
        width: 70vw;
        height: 70vw;
        margin-bottom: 1em;
      }

      .controller {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .container {
        flex-direction: column;
      }

      .branding>img {
        max-width: 50vw;
      }

      .branding {
        text-align: center;
      }
    }

    @media (max-aspect-ratio: 100/70) and (min-aspect-ratio: 100/100) {
      canvas {
        width: 70vh;
        height: 70vh;
      }
    }

    @media (max-aspect-ratio: 100/65) and (min-aspect-ratio: 100/70) {
      canvas {
        width: 80vh;
        height: 80vh;
      }
    }

    @media (max-aspect-ratio: 100/60) and (min-aspect-ratio: 100/65) {
      canvas {
        width: 90vh;
        height: 90vh;
      }

      .controller>label {
        font-size: 1.5em;
      }

      .controller>button,
      .controller>input {
        font-size: 1.5em;
      }
    }

    @media (min-aspect-ratio: 100/60) {
      canvas {
        width: 100vh;
        height: 100vh;
      }

      .controller>label {
        font-size: 1.3em;
      }

      .controller>button,
      .controller>input {
        font-size: 2em;
      }
    }

    .hidden {
      display: none;
    }

    .hotkey {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="controller">
      <label for="minutes">Time in minutes</label>
      <input
        type="number"
        id="minutes"
        step="0.1"
      />
      <button
        type="button"
        onclick="start()"
      ><span class="hotkey">S</span>tart</button>
      <button
        type="button"
        onclick="pause()"
      ><span class="hotkey">P</span>ause</button>
      <button
        type="button"
        onclick="resume()"
      ><span class="hotkey">C</span>ontinue</button>
      <button
        type="button"
        onclick="reset()"
      ><span class="hotkey">R</span>eset</button>
      <div>
        <label for="stop_sound">Sound effect</label>
        <select id="stop_sound">
          <option
            value="alarm_clock"
            selected
          >Alarm clock</option>
          <option value="danger_alarm">Danger alarm</option>
          <option value="its_time_to_stop">Angry man</option>
          <option value="spice_girls_stop">Spice Girls</option>
          <option value="no_sound">No sound</option>
        </select>
      </div>
    </div>
    <canvas
      id="canvas"
      width="4000"
      height="4000"
    ></canvas>
  </div>

  <audio
    id="alarm_clock"
    preload="auto"
    src="{% static 'various/alarm_clock.mp3' %}"
  ></audio>
  <audio
    id="danger_alarm"
    preload="auto"
    src="{% static 'various/danger_alarm.mp3' %}"
  ></audio>
  <audio
    id="its_time_to_stop"
    preload="auto"
    src="{% static 'various/its_time_to_stop.mp3' %}"
  ></audio>
  <audio
    id="spice_girls_stop"
    preload="auto"
    src="{% static 'various/spice_girls_stop.mp3' %}"
  ></audio>
  <audio id="no_sound"></audio>

  <script>
    const cv = document.getElementById('canvas')
    const ctx = cv.getContext('2d')
    const cv_middle = 2000
    const circle_radius = cv_middle * 0.95
    const radiant_line_inner_short = cv_middle * 0.9
    const radiant_line_inner_long = cv_middle * 0.85
    const radiant_line_width = cv_middle * 0.005
    const font_size = cv_middle / 2
    const fps = 60

    ctx.font = font_size + 'px Arial'
    ctx.textAlign = 'center'
    ctx.textBaseline = 'middle'

    let paused = false
    let timer = null
    let timer_done = false
    let seconds_used = null
    let total_seconds = null
    let start_time = null

    function strf_timer(input_seconds) {
      let prefix = ""
      if (input_seconds < 0) {
        prefix = "-"
      }
      const ceiled_seconds = Math.ceil(Math.abs(input_seconds))
      const minutes = Math.floor(ceiled_seconds / 60).toString()
      let seconds = (ceiled_seconds % 60).toString()
      if (minutes == 0) {
        return prefix + seconds
      } else {
        if (seconds.length == 1) {
          seconds = '0' + seconds
        }
        return prefix + minutes + ':' + seconds
      }
    }

    function radiant_line(centerX, centerY, innerRadius, outerRadius, degrees, linewidth, color) {
      const radians = (degrees * Math.PI) / 180
      const innerX = centerX + innerRadius * Math.cos(radians)
      const innerY = centerY + innerRadius * Math.sin(radians)
      const outerX = centerX + outerRadius * Math.cos(radians)
      const outerY = centerY + outerRadius * Math.sin(radians)

      ctx.beginPath()
      ctx.moveTo(innerX, innerY)
      ctx.lineTo(outerX, outerY)
      ctx.strokeStyle = color
      ctx.lineWidth = linewidth
      ctx.stroke()
    }

    function reset_frame() {
      ctx.clearRect(0, 0, cv.width, cv.height)
      for (let value = 0; value <= 60; value++) {
        if (value % 5 == 0) {
          radiant_line(
            cv_middle,
            cv_middle,
            radiant_line_inner_long,
            circle_radius,
            value * 6,
            radiant_line_width,
            'white'
          )
        } else {
          radiant_line(
            cv_middle,
            cv_middle,
            radiant_line_inner_short,
            circle_radius,
            value * 6,
            radiant_line_width,
            'white'
          )
        }
      }
    }

    function frame(factor_done) {
      // get time_left string and reset canvas
      const time_left = strf_timer(total_seconds - seconds_used)
      ctx.save()
      reset_frame()

      // Draw full circle if overtime
      if (factor_done >= 1) {
        ctx.fillStyle = 'white'
        ctx.arc(cv_middle, cv_middle, circle_radius, 0, 2 * Math.PI)
        ctx.lineTo(cv_middle, cv_middle)
        ctx.fill()
      }

      // Set fill color
      if (factor_done < 1) {
        ctx.fillStyle = 'white'
      } else {
        ctx.fillStyle = 'darkred'
      }

      // Draw background numbers
      ctx.fillText(time_left, cv_middle, cv_middle)

      // Draw arc
      const start_angle = 1.5 * Math.PI
      const end_angle = start_angle + 2 * Math.PI * factor_done
      ctx.beginPath()
      ctx.arc(cv_middle, cv_middle, circle_radius, start_angle, end_angle, false)
      ctx.lineTo(cv_middle, cv_middle)
      ctx.clip()
      ctx.fill()

      // Draw foreground numbers
      ctx.fillStyle = 'black'
      ctx.fillText(time_left, cv_middle, cv_middle)

      ctx.restore()
    }

    function loop() {
      if (seconds_used >= total_seconds && !timer_done) {
        timer_done = true
        const ring = document.getElementById(document.getElementById('stop_sound').value)
        ring.currentTime = 0
        ring.play()
      }
      seconds_used = (new Date() - start_time) / 1000
      frame(seconds_used / total_seconds)
    }

    function start() {
      total_seconds = document.getElementById('minutes').value * 60
      seconds_used = 0
      start_time = new Date()
      clearInterval(timer)
      timer = setInterval(loop, 1000 / fps)
    }

    function pause() {
      clearInterval(timer)
      paused = true
    }

    function resume() {
      if (paused) {
        start_time = new Date() - seconds_used * 1000
        timer = setInterval(loop, 1000 / fps)
        paused = false
      }
    }

    function reset() {
      clearInterval(timer)
      reset_frame()
      const ring = document.getElementById(document.getElementById('stop_sound').value)
      ring.pause()
    }

    document.onkeyup = function (event) {
      if (document.activeElement == document.getElementById('title')) {
        return
      }
      if (event.key == 's') {
        start()
      } else if (event.key == 'p') {
        pause()
      } else if (event.key == 'c') {
        resume()
      } else if (event.key == 'r') {
        reset()
      }
    }
    reset_frame()
  </script>
</body>

</html>