<template>
  <div>
    <h1 class="title">Amortizations</h1>
    <p class="is-size-5">Total monthly cost: {{ $filters.currency(totalCost) }}</p>
    <hr />
    <ModelTable
      modelName="Amortize Items"
      v-model="amortizeItemModel"
      :config="amortizeItemConfig"
      :data="data"
      apiStore="finances/amortizeItems"
    >
      <template #extra-table-header>
        <th>Price per month</th>
        <th>Expected next purchase</th>
      </template>
      <template #extra-table-column="{ item }">
        <td>{{ $filters.currency(item.price / item.expected_lifetime_in_months) }}</td>
        <td>{{ $filters.dutchMonthYear(addMonths(item.date_of_purchase, item.expected_lifetime_in_months)) }}</td>
      </template>
    </ModelTable>
  </div>
</template>

<script>
import { ModelTable } from '@/shared-vue'
import { mapState } from "vuex"

export default {
  components: {
    ModelTable
  },
  data() {
    return {
      amortizeItemModel: {
        name: null,
        price: null,
        expected_lifetime_in_months: null,
        date_of_purchase: null
      },
      amortizeItemConfig: {
        url: 'finances/api/amortize-items/',
        fields: {
          name: { label: 'Name', type: 'text', default: '' },
          price: { label: 'Price', type: 'number', default: 0, attrs: { step: 0.01 }, format: 'currency' },
          expected_lifetime_in_months: { label: 'Expected lifetime (months)', type: 'number', default: 0 },
          date_of_purchase: { label: 'Purchase date', type: 'date', default: "", format: 'date' },
        }
      }
    }
  },
  computed: {
    totalCost() {
      return this.data.data.map(item => item.price / item.expected_lifetime_in_months).reduce((a, b) => a + b, 0)
    },
    ...mapState({
      data: state => state.finances.amortizeItems
    })
  },
  methods: {
    addMonths(dateStr, monthsToAdd) {
      const date = new Date(dateStr)
      date.setMonth(date.getMonth() + monthsToAdd)
      return date.toISOString().substring(0, 10)
    }
  }
}
</script>