<template>
  <div>
    <h2
      v-if="account"
      class="title"
    >{{ account.name }}</h2>
    <p>
      Huidige waarde {{ $filters.currency(account.stats.current_balance) }}
      <br />
      Rendement {{ account.stats.return }}%
    </p>
    <div class="buttons">
      <button
        class="button is-small"
        @click="showTransactions = true"
      >Account Transactions</button>
      <button
        class="button is-small"
        @click="showStats = true"
      >Account Stats</button>
      <UploadForm
        @upload-complete="getData"
        :account="account"
      />
    </div>
    <Modal
      :active="showStats"
      @close="showStats = false"
    >
      <div class="box">
        <h3 class="subtitle">Account stats</h3>
        <table
          v-if="stats"
          class="table"
        >
          <tbody>
            <tr v-for="transactionType in stats.sums">
              <th>{{ transactionType.transaction_type }}</th>
              <td>{{ $filters.currency(transactionType.total) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </Modal>
    <Modal
      :active="showTransactions"
      @close="showTransactions = false"
    >
      <div class="box">
        <h3 class="subtitle">Account Transactions</h3>
        <table
          v-if="showTransactions"
          class="table"
        >
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="transaction in transactions">
              <td>{{ $filters.date(transaction.date) }}</td>
              <td>{{ transaction.transaction_type }}</td>
              <td>{{ $filters.currency(transaction.amount) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </Modal>
    <hr>
    <div style="display: flex; flex-wrap: wrap; gap: 1em">
      <InvestmentSecurity
        v-for="security in securities"
        :security="security"
        style="max-width: 20em; margin-bottom: 1em"
        @start-edit="startEdit"
        @current-balance-updated="getData"
      />
    </div>
    <button
      class="button"
      @click="startEdit(null)"
    >Add new security</button>
    <Modal
      :active="formActive"
      @close="formActive = false"
    >
      <ModelForm
        modelName="Securities"
        v-model="securityModel"
        :config="securityConfig"
        @submit-form="formActive = false; getData()"
      />
    </Modal>
  </div>
</template>

<script>
import { Modal, ModelForm } from '@/shared-vue'
import UploadForm from '@/components/finances/investments/UploadForm.vue'
import InvestmentSecurity from '@/components/finances/investments/InvestmentSecurity.vue'

export default {
  components: {
    InvestmentSecurity,
    Modal,
    ModelForm,
    UploadForm
  },
  data() {
    return {
      stats: null,
      transactions: [],
      showTransactions: false,
      showStats: false,
      securities: [],
      formActive: false,
      securityModel: {
        name: '',
        alternative_names: '',
        account: ''
      },
      securityConfig: {
        url: 'finances/api/investments/securities/',
        fields: {
          name: { type: 'text', label: 'Name', default: '' },
          alternative_names: { type: 'text', label: 'Alternative names (| separated)', default: '', attrs: { required: false } },
          account: { type: 'hidden', default: '' }
        }
      }
    }
  },
  created() {
    this.getData()
    this.$store.dispatch('finances/investmentAccounts/getSingle', parseInt(this.$route.params.id))
  },
  computed: {
    account() {
      return this.$store.getters['finances/investmentAccounts/getItem'](parseInt(this.$route.params.id))
    }
  },
  methods: {
    startEdit(data) {
      if (data === null) {
        this.securityModel = {
          name: '',
          alternative_names: '',
          account: this.$route.params.id
        }
      } else {
        this.securityModel = JSON.parse(JSON.stringify(data))
      }
      this.formActive = true
    },
    getData() {
      this.$api.get(`finances/api/investments/accounts/${this.$route.params.id}/stats/`, response => {
        this.stats = response
      })
      this.$api.get(`finances/api/investments/accounts/${this.$route.params.id}/transactions/`, response => {
        this.transactions = response
      })
      this.$api.get(`finances/api/investments/securities/?account=${this.$route.params.id}`, response => {
        this.securities = response
      })
    },
    upload() {
      this.uploadError = null
      this.$api.postFiles(
        "finances/api/investments/upload-file/",
        { files: this.uploadForm.csvFile, account: this.uploadForm.account.id },
        response => {
          this.uploadForm.account = null
          this.uploadForm.csvFile = null
          this.$notify({
            text: "File processed",
            style: "success"
          })
        },
        true,
        errResponse => {
          if (errResponse.status === 400) {
            errResponse.json().then(err => {
              if (err.error_type === 'unknown_security') {
                this.uploadError = `Onbekende aandelen:\n - ${err.unknowns.join('\n - ')}`
              }
            })
          } else {
            errResponse.text().then(err => {
              this.uploadError = err
            })
          }
        }
      )
    }
  }
}
</script>