<template>
  <div>
    <h2 class="title">Investment Accounts</h2>
    <div
      v-for="account in accounts.data"
      class="card"
      style="max-width: 20em"
    >
      <header class="card-header">
        <h3 class="card-header-title subtitle">{{ account.name }}</h3>
      </header>
      <div class="card-content">
        Huidige waarde {{ $filters.currency(account.stats.current_balance) }}
        <br />
        Rendement {{ account.stats.return }}%
      </div>
      <footer class="card-footer">
        <RouterLink
          :to="{ name: 'finances:investment-account', params: { id: account.id } }"
          class="card-footer-item"
        >Open</RouterLink>
        <p class="card-footer-item">
          <button
            class="button"
            @click="editAccount = true; selectedAccount = account"
          >Edit</button>
        </p>
      </footer>
    </div>
    <button
      class="button"
      @click="editAccount = true"
    >Add new account</button>
    <Modal
      :active="editAccount"
      @close="editAccount = false; selectedAccount = { name: '' }"
    >
      <ModelForm
        @close="editAccount = false; selectedAccount = { name: '' }"
        @submit-form="editAccount = false; selectedAccount = { name: '' }"
        modelName="Investment Account"
        v-model="selectedAccount"
        :config="accountConfig"
        apiStore="finances/investmentAccounts"
      />
    </Modal>
  </div>
</template>

<script>
import { Modal, ModelForm } from '@/shared-vue'
import { mapState } from 'vuex'

export default {
  components: { Modal, ModelForm },
  data() {
    return {
      editAccount: false,
      selectedAccount: { name: '' },
      accountConfig: {
        url: 'finances/api/investments/accounts/',
        fields: {
          name: { type: 'text', label: 'Name', default: '' },
        }
      },
    }
  },
  computed: {
    ...mapState({
      accounts: state => state.finances.investmentAccounts,
    })
  },
  created() {
    this.$store.dispatch("finances/investmentAccounts/get")
  }
}
</script>